<!--======================
 *  Author:		Dave Luke Jr
 *  Company:	CenterStack.io
 *  Description:	charge.html
 *======================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load humanize %}
{% load mathfilters %}
{% load staticfiles %}
{% block content_site %}

<!--	Charge
========================================= -->
<div class="row">
	<div class="col-md-12">
		<div class="portlet light portlet-fit ">
			<div class="portlet-title">
				<div class="caption">
					<i class="pe-7s-users"> </i>
					<span class="caption-subject base-font"> Payment Processing </span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="wrapper">
					{% for key, value in PaymentForm.errors.items %}
						<p>{{ value }}</p>
					{% endfor %}

					<form action="" method="post">
						{% csrf_token %}

						{% for field in PaymentForm %}
							<div class="field-wrapper">
								<div class="field-label"> {{ field.label_tag }}: </div>
								<div class="field-field"> {{ field }} {{ field.errors }} </div>
							</div>
						{% endfor %}<br>
						<input type="submit" value="Charge Me!" />
					</form>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}