<!--======================
 *  Author:		Dave Luke Jr
 *  Company:	CenterStack.io
 *  Description:	member.html
 *======================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load humanize %}
{% load mathfilters %}
{% load staticfiles %}
{% block content_site %}


<!--	Members
========================================= -->
<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<span class="caption-subject"> Members </span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar">
					<div class="row">

						<!--	Status Filter
						========================================= -->
						<div class="col-md-8">
							<form id="filter-form" action="" method="get">
								{{ members.form.status | add_class:"form-control input-circle m-b-10 mw-115 colored" }}
							</form>
						</div>


						<!--	Search
						========================================= -->
						<div class="col-md-3">
							<div id="search" class="input-icon m-r-30">
								<i class="icon-search"></i>
								<input type="text" class="form-control input-circle inline mw-200 m-b-10">
							</div>
						</div>


						<!--	New Member
						========================================= -->
						<div class="col-md-1">
							<a class="btn base pull-right" id="member_new" href="#animatedModal"> New Member </a>
						</div>
					</div>
				</div>
				

				<!--	Table
				========================================= -->
				<table class="member-table table hover order-column" id="datatable">
					<thead>
						<tr>
							<th class="col_id"> ID </th>
							<th class="col_name"> Name </th>
							<th class="col_level"> Level </th>
							<th class="col_status"> Status </th>
							<th class="col_hours"> Hours </th>
							<th class="col_angle"></th>
						</tr>
					</thead>
					<tbody>
						{% for member in members %}
							<tr id="member_{{ member.pk }}" href="#animatedModal">
								<td class="col_id">{{ member.member_id }}</td>
								<td class="col_name">{{ member.name_last_first }}</td>
								<td class="col_level">{{ member.level }}</td>
								<td class="col_status">{{ member.status }}</td>
								<td class="col_hours">{{ member.hours_remaining }}</td>
								<td class="col_angle"><i class="icon-angle-right fs-14"></i></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>


<!--	Modal
========================================= -->
<form id="modal-form" action="" method="post">
	{% csrf_token %}
	<div id="animatedModal" class="animated">
		<div id="closebt-container">
			<div class="pi-row">
				<div class="pi-col-md-4">
					<img class="closebt" src="{% static 'img/modals/close.svg' %}">
				</div>
				<div class="pi-col-md-4">
					<h2 id="modal-title" class="fs-24 m-tb-8 text-center">Edit Member</h2>
				</div>
				<div class="pi-col-md-4">
					<button id="save-btn" class="btn base pull-right m-t-10 p-rl-14"> Save </button>
					<!-- <button onclick="$('#delete').click();" class="btn red-sunglo font-mt-red-sunglo btn-outline pull-right m-t-10 m-r-10" href="{% url 'member_new' %}"> Delete </button> -->
				</div>
			</div>
		</div>
		<div class="modal-content">
			<div class="pi-row">
				<div class="pi-col-md-6 pi-col-md-offset-3">
					<div class="portlet light portlet-fit">
						<div class="portlet-body">
							<div class="pi-row">
								<div class="pi-col-sm-12 m-t-30">
									<div class="pi-row pi-grid-small-margins">
										<div class="pi-col-sm-12">
											<p class="fs-13 m-b-0 p-tb-10 text-uppercase fw-500">Personal Information</p>
										</div>
										<div class="pi-col-sm-4">
											{{ MemberForm.member_id | add_class:"form-control tooltipster-validate" | attr:"placeholder:Member ID" | attr:"name:member_id" }}
										</div>
										<div class="pi-col-sm-4">
											{{ MemberForm.first_name | add_class:"form-control" | attr:"placeholder:First Name" }}
										</div>
										<div class="pi-col-sm-4">
											{{ MemberForm.last_name | add_class:"form-control" | attr:"placeholder:Last Name" }}
										</div>
										<div class="pi-col-sm-4">
											{{ MemberForm.dob | add_class:"form-control datepicker" | attr:"placeholder:Date Of Birth" }}
										</div>
										<div class="pi-col-sm-4">
											{{ MemberForm.membership_start_date | add_class:"form-control datepicker" | attr:"placeholder:Membership Start Date" }}
										</div>
										<div class="pi-col-sm-4 m-b-20">
											{{ MemberForm.referral_source | add_class:"form-control" | attr:"placeholder:Referral Source" }}
										</div>
										
										
										<!--	Address
										========================================= -->
										<div class="pi-col-sm-12">
											<p class="fs-13 m-b-0 p-b-10 text-uppercase fw-500">Address</p>
										</div>
										<div class="pi-col-sm-12">
											{{ MemberForm.street | add_class:"form-control" | attr:"placeholder:Street" }}
										</div>
										<div class="pi-col-sm-6">
											{{ MemberForm.city | add_class:"form-control" | attr:"placeholder:City" }}
										</div>
										<div class="pi-col-sm-3">
											{{ MemberForm.state | add_class:"form-control" | attr:"placeholder:State" }}
										</div>
										<div class="pi-col-sm-3 m-b-20">
											{{ MemberForm.zipcode | add_class:"form-control" | attr:"placeholder:Zip Code" }}
										</div>
										
										
										<!--	Contact Info
										========================================= -->
										<div class="pi-col-sm-12">
											<p class="fs-13 m-b-0 p-b-10 text-uppercase fw-500">Contact Information</p>
										</div>
										<div class="pi-col-sm-6">
											{{ MemberForm.phone | add_class:"form-control" | attr:"placeholder:Phone" }}
										</div>
										<div class="pi-col-sm-6">
											{{ MemberForm.email | add_class:"form-control" | attr:"placeholder:Email" }}
										</div>
										<div class="pi-col-sm-6">
											{{ MemberForm.emergency_contact_name | add_class:"form-control" | attr:"placeholder:Emergency Contact Name" }}
										</div>
										<div class="pi-col-sm-6">
											{{ MemberForm.emergency_contact_number | add_class:"form-control" | attr:"placeholder:Emergency Contact Number" }}
										</div>
										<div class="pi-col-sm-6">
											{{ MemberForm.emergency_contact_relation | add_class:"form-control" | attr:"placeholder:Emergency Contact Relation" }}
										</div>
									</div>
									
									<!--	Submit Buttons
									========================================= -->
									<input id="save" type="submit" name="name" value="save" class="hidden">
									<input id="delete" type="submit" name="name" value="delete" class="hidden">								
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>


<!--	Submit Buttons
========================================= -->
<script>
	$(function() {
		$("#save-btn").click({
			$("#save").click()
		});
	});
</script>


<!--	Tooltipster
========================================= -->
<script>
	$(function() {
		$('.tooltipster-validate').tooltipster({
			trigger: 'custom',
			onlyOne: false,
			position: 'top'
		});
	});
</script>



<!--	JQuery Validate
========================================= -->
<script>
	$(function() {
		$("#modal-form").validate({
			// submitHandler: function(form){
			// 	$(form).submit();
			// },
			// invalidHandler: function(form, validator) {
			// 	alert("Error!");
			// },
			rules: {
				member_id: {
					required: true,
				}
			},
			messages: {
				member_id: {
					required: "Member ID is required"
				}
			},
			errorPlacement: function(error, element) {
				var lastError = $(element).data('lastError'),
					newError = $(error).text();

				$(element).data('lastError', newError);

				if (newError !== '' && newError !== lastError) {
					$(element).tooltipster('content', newError);
					$(element).tooltipster('show');
				}
			},
		})
	});
</script>
			
			
																																																																				  

<!--	Modal Initialization and TItle Change
========================================= -->
<script>
	$(function() {
		$("#member_new").animatedModal({
			beforeOpen: function() {
				$("#modal-title").text("New Member");
			}
		});

		{% for member in members %}
			$("#member_" + {{ member.pk }}).animatedModal({
				beforeOpen: function() {
					$("#modal-title").text("Edit Member");
				},
			});
		{% endfor %}
	});
</script>




<!--=====================================================
	Javascript
=====================================================-->
<script>
	$(function() {
		var table = $('#datatable').DataTable({
			"language": {
				"aria": {
					"sortAscending": ": activate to sort column ascending",
					"sortDescending": ": activate to sort column descending"
				},
			},
			"info": false,
			"sort": true,
			"paging": false,
			"searching": false,
			"bStateSave": true,
			"order": [ [1, "desc"] ],
		});


		/*	Select Row
		========================================= */
		$('#datatable tbody').on('click', 'tr', function() {
			if ($(this).hasClass('selected')) {
				$('#datatable tbody > tr').removeClass('selected');
			} else {
				$('#datatable tbody > tr').removeClass('selected');
				$(this).addClass('selected');
			}
		});
		
		

		/*	Button To Delete Selected Row
		========================================= */
		// $('#delete-selected-row').click(function() {
		// 	table.row('.selected').remove().draw(false);
		// });

		
	});
</script>
{% endblock %}