<!--==========================
 *  Author:		Dave Luke Jr
 *  Company:	CenterStack.io
 *  Description:	index.html
 *==========================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load humanize %}
{% load mathfilters %}
{% load staticfiles %}
{% load customtags %}
{% block content %}

<!--	Page Title
========================================= -->
<section class="page-title background-title dark parallax-8 overlay">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h2 class="text-uppercase"> Products </h2>
			</div>
		</div>
	</div>
</section>


<!--	Story
========================================= -->
<div class="page-content">
	<div class="container">
		<div class="row ">
			<div class="heading-title text-center">
				<span class="heading-sub-title text-uppercase theme-color">what is massive</span>
				<h3 class="text-uppercase">i am a hardcore web developer</h3>
			</div>
			<div class="col-md-6">
				<p> Fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content. Advanced theme options panel to easily customize your website. Awesome sliders give you the opportunity to showcase your content. Advanced theme options panel to easily customize your website. </p>
				<p> Suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content. Advanced theme options panel to easily customize your website. Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content. Advanced theme options panel to easily customize your website. Awesome sliders give you the opportunity to showcase your content. Advanced theme options panel to easily customize your website. </p>
			</div>
			<div class="col-md-6">
				<p> Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content. Advanced theme options panel to easily customize your website. Awesome sliders give you the opportunity to showcase your content. Advanced theme options panel to easily customize your website. </p>
				<p> Hasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content. Advanced theme options panel to easily customize your website. Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content. Advanced theme options panel to easily customize your website. Awesome sliders give you the opportunity to showcase your content. Advanced theme options panel to easily customize your website. </p>
			</div>
		</div>
	</div>
</div>



<!--	Services
========================================= -->
<section class="body-content ">
	<div class="page-content">
		<div class="container">
			<div class="row">
				<div class="heading-title text-center">
					<h3 class="text-uppercase"> Career </h3>
					<span class="text-uppercase"> Some Career Examples </span>
				</div>
				<div class="career-list">
					<div class="col-md-6 ">
						<div class="featured-item career-box text-center">
							<div class="icon">
								<i class="icon-desktop"> </i>
							</div>
							<div class="title text-uppercase">
								<h4> Software Engineer </h4>
							</div>
							<div class="desc"> We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as. We are a team of multi-skilled and curious digital specialists who are always ready to do. </div>
							<a class="show-detail" href="#"> View Details </a>
							<div class="career-details-info">
								<div class="c-list-row">
									<label> Mission </label>
									<div class="info"> Be our first QA Engineer. Build a testing environment from scratch </div>
								</div>
								<div class="c-list-row">
									<label> require </label>
									<div class="info">
										<ul class="icon-list">
											<li>
												<i class="fa fa-check theme-color"> </i> Experience building teasting infrastructure </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Experience building test framework </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Experience creating test automation </li>
											<li>
												<i class="fa fa-check theme-color"> </i> BA/BS in CS or equivalent </li>
											<li>
												<i class="fa fa-check theme-color"> </i> 3+ years of projects experience. </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Minimum of 4 live project roll outs. </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Good Communication Skills </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Have to work under presure. </li>
										</ul>
									</div>
								</div>
								<div class="c-list-row">
									<label> location </label>
									<div class="info"> Read Wood City, CA </div>
								</div>
								<div class="c-list-row">
									<label> type </label>
									<div class="info"> Full Time Position </div>
								</div>
								<div class="c-list-row">
									<label> Others </label>
									<div class="info"> Relocation assistance and VISA sponsorship provided to qualified applicants. Yearly 2 holiday leaf, 2 Bonus and Yearly 1 performance bonuse </div>
								</div>
								<div class="m-top-30">
									<a class="btn btn-medium btn-theme-color apply-btn" data-scroll="" href="#application-form"> Apply For this Position </a>
									<a class=" apply-btn cancel-btn" href="#"> Close Details </a>
								</div>
							</div>
						</div>
						<div class="featured-item career-box text-center">
							<div class="icon">
								<i class="icon-tools"> </i>
							</div>
							<div class="title text-uppercase">
								<h4> Solution Architect </h4>
							</div>
							<div class="desc"> We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as. We are a team of multi-skilled and curious digital specialists who are always ready to do. </div>
							<a class="show-detail" href="#"> View Details </a>
							<div class="career-details-info">
								<div class="c-list-row">
									<label> Mission </label>
									<div class="info"> Be our first QA Engineer. Build a testing environment from scratch </div>
								</div>
								<div class="c-list-row">
									<label> require </label>
									<div class="info">
										<ul class="icon-list">
											<li>
												<i class="fa fa-check theme-color"> </i> Experience building teasting infrastructure </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Experience building test framework </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Experience creating test automation </li>
											<li>
												<i class="fa fa-check theme-color"> </i> BA/BS in CS or equivalent </li>
											<li>
												<i class="fa fa-check theme-color"> </i> 3+ years of projects experience. </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Minimum of 4 live project roll outs. </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Good Communication Skills </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Have to work under presure. </li>
										</ul>
									</div>
								</div>
								<div class="c-list-row">
									<label> location </label>
									<div class="info"> Read Wood City, CA </div>
								</div>
								<div class="c-list-row">
									<label> type </label>
									<div class="info"> Full Time Position </div>
								</div>
								<div class="c-list-row">
									<label> Others </label>
									<div class="info"> Relocation assistance and VISA sponsorship provided to qualified applicants. Yearly 2 holiday leaf, 2 Bonus and Yearly 1 performance bonuse </div>
								</div>
								<div class="m-top-30">
									<a class="btn btn-medium btn-theme-color apply-btn" data-scroll="" href="#application-form"> Apply For this Position </a>
									<a class=" apply-btn cancel-btn" href="#"> Close Details </a>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="featured-item career-box text-center">
							<div class="icon">
								<i class="icon-megaphone"> </i>
							</div>
							<div class="title text-uppercase">
								<h4> Marketing Manager </h4>
							</div>
							<div class="desc"> We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as. We are a team of multi-skilled and curious digital specialists who are always ready to do. </div>
							<a class="show-detail" href="#"> View Details </a>
							<div class="career-details-info">
								<div class="c-list-row">
									<label> Mission </label>
									<div class="info"> Be our first QA Engineer. Build a testing environment from scratch </div>
								</div>
								<div class="c-list-row">
									<label> require </label>
									<div class="info">
										<ul class="icon-list">
											<li>
												<i class="fa fa-check theme-color"> </i> Experience building teasting infrastructure </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Experience building test framework </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Experience creating test automation </li>
											<li>
												<i class="fa fa-check theme-color"> </i> BA/BS in CS or equivalent </li>
											<li>
												<i class="fa fa-check theme-color"> </i> 3+ years of projects experience. </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Minimum of 4 live project roll outs. </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Good Communication Skills </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Have to work under presure. </li>
										</ul>
									</div>
								</div>
								<div class="c-list-row">
									<label> location </label>
									<div class="info"> Read Wood City, CA </div>
								</div>
								<div class="c-list-row">
									<label> type </label>
									<div class="info"> Full Time Position </div>
								</div>
								<div class="c-list-row">
									<label> Others </label>
									<div class="info"> Relocation assistance and VISA sponsorship provided to qualified applicants. Yearly 2 holiday leaf, 2 Bonus and Yearly 1 performance bonuse </div>
								</div>
								<div class="m-top-30">
									<a class="btn btn-medium btn-theme-color apply-btn" data-scroll="" href="#application-form"> Apply For this Position </a>
									<a class=" apply-btn cancel-btn" href="#"> Close Details </a>
								</div>
							</div>
						</div>
						<div class="featured-item career-box text-center">
							<div class="icon">
								<i class="icon-globe2"> </i>
							</div>
							<div class="title text-uppercase">
								<h4> Head of Operation </h4>
							</div>
							<div class="desc"> We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as. We are a team of multi-skilled and curious digital specialists who are always ready to do. </div>
							<a class="show-detail" href="#"> View Details </a>
							<div class="career-details-info">
								<div class="c-list-row">
									<label> Mission </label>
									<div class="info"> Be our first QA Engineer. Build a testing environment from scratch </div>
								</div>
								<div class="c-list-row">
									<label> require </label>
									<div class="info">
										<ul class="icon-list">
											<li>
												<i class="fa fa-check theme-color"> </i> Experience building teasting infrastructure </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Experience building test framework </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Experience creating test automation </li>
											<li>
												<i class="fa fa-check theme-color"> </i> BA/BS in CS or equivalent </li>
											<li>
												<i class="fa fa-check theme-color"> </i> 3+ years of projects experience. </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Minimum of 4 live project roll outs. </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Good Communication Skills </li>
											<li>
												<i class="fa fa-check theme-color"> </i> Have to work under presure. </li>
										</ul>
									</div>
								</div>
								<div class="c-list-row">
									<label> location </label>
									<div class="info"> Read Wood City, CA </div>
								</div>
								<div class="c-list-row">
									<label> type </label>
									<div class="info"> Full Time Position </div>
								</div>
								<div class="c-list-row">
									<label> Others </label>
									<div class="info"> Relocation assistance and VISA sponsorship provided to qualified applicants. Yearly 2 holiday leaf, 2 Bonus and Yearly 1 performance bonuse </div>
								</div>
								<div class="m-top-30">
									<a class="btn btn-medium btn-theme-color apply-btn" data-scroll="" href="#application-form"> Apply For this Position </a>
									<a class=" apply-btn cancel-btn" href="#"> Close Details </a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>



<section class="body-content">
	<div class="page-content">
		<div class="container">
			<div class="row">
				<div class="feature-box-grid">
					<div class="col-md-4">
						<div class="featured-item border-box text-center">
							<div class="icon">
								<i class="icon-icon-86-document-list"> </i>
							</div>
							<div class="title text-uppercase">
								<h4> Inventory Management </h4>
							</div>
							<div class="desc"> Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="featured-item border-box text-center">
							<div class="icon">
								<i class=" icon-browser2"> </i>
							</div>
							<div class="title text-uppercase">
								<h4> Fulfillment (Globe) </h4>
							</div>
							<div class="desc"> Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="featured-item border-box text-center">
							<div class="icon">
								<i class=" icon-laptop2"> </i>
							</div>
							<div class="title text-uppercase">
								<h4> Idea Generation (Lightbulb) </h4>
							</div>
							<div class="desc"> Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="featured-item border-box text-center">
							<div class="icon">
								<i class="icon-basic_gear"> </i>
							</div>
							<div class="title text-uppercase">
								<h4> Graphic Design (Pencil) </h4>
							</div>
							<div class="desc"> Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="featured-item border-box text-center">
							<div class="icon">
								<i class="icon-basic_pencil_ruler"> </i>
							</div>
							<div class="title text-uppercase">
								<h4> Distribution & Warehousing (building) </h4>
							</div>
							<div class="desc"> Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="featured-item border-box text-center">
							<div class="icon">
								<i class="icon-lightbulb"> </i>
							</div>
							<div class="title text-uppercase">
								<h4> Expertise (Certificate)</h4>
							</div>
							<div class="desc"> Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
