<!--==========================
 *  Author:		Dave Luke Jr
 *  Company:	CenterStack.io
 *  Description:	index.html
 *==========================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load humanize %}
{% load mathfilters %}
{% load staticfiles %}
{% load customtags %}
{% block content %}

<!--	Page Title
========================================= -->
<div class="c-layout-page">
	<div class="c-content-box c-size-md c-no-padding c-bg-white">
		<div class="c-content-feature-4">
			<div class="c-bg-parallax c-feature-bg c-content-right c-arrow c-border-left-white"></div>
			<div class="c-content-area c-content-left"></div>
			<div class="container">
				<div class="c-feature-content c-left">
					<div class="c-content-v-center">
						<div class="c-wrapper">
							<div class="c-body">
								<div class="left heading-title-alt border-short-bottom text-left m-b-30">
									<h2 class="text-uppercase">Printed Products</h2>
								</div>
								<div class="c-content">
									<p class="c-margin-b-30 c-left wow animate fadeInDown"> Marketing materials and presentation products, business forms and office stationery, labels and decals.  If it can be printed on paper, wood, plastic, metal or glass we’ve got a product, a design and a solution personalized to your specific needs. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="c-content-box c-size-md c-no-padding c-bg-dark">
		<div class="c-content-feature-4">
			<div class="c-bg-parallax c-feature-bg c-content-left c-arrow c-border-right-dark"></div>
			<div class="c-content-area c-content-right"></div>
			<div class="container">
				<div class="c-feature-content c-right">
					<div class="c-content-v-center">
						<div class="c-wrapper">
							<div class="c-body">
								<div class="right heading-title-alt border-short-bottom text-right m-b-30">
									<h2 class="text-uppercase font-white">PROMOTIONAL & DISPLAY PRODUCTS</h2>
								</div>
								<div class="c-content">
									<p class="c-margin-b-30 c-right wow animate fadeInDown"> Our search tool lists some of the common categories for general products but go another layer deeper and you’ll see we’ve got a lot of unique and fun products to help you support, motivate, incentivize and gain awareness with your brand.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="c-content-box c-size-md c-no-padding c-bg-white">
		<div class="c-content-feature-4">
			<div class="c-bg-parallax c-feature-bg c-content-right c-arrow c-border-left-white"></div>
			<div class="c-content-area c-content-left"></div>
			<div class="container">
				<div class="c-feature-content c-left">
					<div class="c-content-v-center">
						<div class="c-wrapper">
							<div class="c-body">
								<div class="left heading-title-alt border-short-bottom text-right m-b-30">
									<h2 class="text-uppercase font-white">UNIFORM & APPAREL PRODUCTS</h2>
								</div>
								<div class="c-content">
									<p class="c-margin-b-30 c-left wow animate fadeInDown"> Apparel is one of the most versatile and visible ways to advertise in your marketplace.  With so many options to choose from in terms of styles, colors and sizes it won’t be hard to find that “just right” custom decorated item to build your brand. </p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





{% endblock %}
