<!--==========================
 *  Author:		Dave Luke Jr
 *  Company:	CenterStack.io
 *  Description:	index.html
 *==========================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load humanize %}
{% load mathfilters %}
{% load staticfiles %}
{% load customtags %}
{% block content %}

<!--	Page Title
========================================= -->
<section class="page-title background-title dark parallax-8">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h4 class="text-uppercase"> Services </h4>
				<span> Statement About Centro Services </span>
			</div>
		</div>
	</div>
</section>


<!--	Contact Us
========================================= -->
<section class="body-content">
	<div class="page-content">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="portfolio col-3 gutter m-top-0 m-bot-0 inline-block">
						<div class="portfolio-item cat1 cat3 ">
							<div class="thumb">
								<img alt="" src="{% static 'massive/img/portfolio/01.jpg' %}" />
								<div class="portfolio-hover">
									<div class="action-btn">
										<a class="popup-link" href="{% static 'massive/img/portfolio/01.jpg' %}" title="lightbox view">
											<i class="icon-basic_magnifier"> </i>
										</a>
									</div>
									<div class="portfolio-description">
										<h4>
											<a class="popup-link" href="{% static 'massive/img/portfolio/01.jpg' %}" title="lightbox view"> lightbox view </a>
										</h4>
										<p>
											<a href="#"> category </a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="portfolio-item cat2 cat4">
							<div class="thumb">
								<img alt="" src="{% static 'massive/img/portfolio/02.jpg' %}" />
								<div class="portfolio-hover">
									<div class="action-btn">
										<a href="{% url 'massive-portfolio-single' %}">
											<i class="icon-basic_link"> </i>
										</a>
									</div>
									<div class="portfolio-description">
										<h4>
											<a href="{% url 'massive-portfolio-single' %}"> External link </a>
										</h4>
										<p>
											<a href="#"> category 1 </a> ,
											<a href="#"> category 2 </a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="portfolio-item cat1 cat2">
							<div class="thumb">
								<div class="portfolio-slider">
									<ul class="slides">
										<li>
											<a href="{% static 'massive/img/portfolio/07.jpg' %}" title="Freshness Photo">
												<img alt="" src="{% static 'massive/img/portfolio/07.jpg' %}" /> </a>
										</li>
										<li>
											<a href="{% static 'massive/img/portfolio/07a.jpg' %}" title="Awesome Lightbox">
												<img alt="" src="{% static 'massive/img/portfolio/07a.jpg' %}" /> </a>
										</li>
										<li>
											<a href="{% static 'massive/img/portfolio/07b.jpg' %}" title="Massive UI Components">
												<img alt="" src="{% static 'massive/img/portfolio/07b.jpg' %}" /> </a>
										</li>
										<li>
											<a href="{% static 'massive/img/portfolio/07c.jpg' %}" title="Amazing Theme">
												<img alt="" src="{% static 'massive/img/portfolio/07c.jpg' %}" /> </a>
										</li>
									</ul>
								</div>
								<div class="portfolio-hover">
									<div class="action-btn">
										<a href="#">
											<i class="icon-basic_magnifier"> </i>
										</a>
									</div>
									<div class="portfolio-description">
										<h4>
											<a href="#"> lightbox Gallary </a>
										</h4>
										<p>
											<a href="#"> category </a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="portfolio-item cat1 cat4">
							<div class="thumb">
								<img alt="" src="{% static 'massive/img/portfolio/03.jpg' %}" />
								<div class="portfolio-hover">
									<div class="action-btn">
										<a class="popup-vimeo" href="https://vimeo.com/45830194">
											<i class="icon-arrows_keyboard_right"> </i>
										</a>
									</div>
									<div class="portfolio-description">
										<h4>
											<a class="popup-vimeo" href="https://vimeo.com/45830194"> Video lightbox </a>
										</h4>
										<p>
											<a href="#"> category </a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="portfolio-item cat2 cat4">
							<div class="thumb">
								<img alt="" src="{% static 'massive/img/portfolio/04.jpg' %}" />
								<div class="portfolio-hover">
									<div class="action-btn">
										<a class="popup-link" href="{% static 'massive/img/portfolio/04.jpg' %}" title="lightbox view">
											<i class="icon-basic_magnifier"> </i>
										</a>
									</div>
									<div class="portfolio-description">
										<h4>
											<a class="popup-link" href="{% static 'massive/img/portfolio/04.jpg' %}" title="lightbox view"> lightbox view </a>
										</h4>
										<p>
											<a href="#"> category 3 </a> ,
											<a href="#"> category 4 </a>
										</p>
									</div>
								</div>
							</div>
						</div>
						<div class="portfolio-item cat3 ">
							<div class="thumb">
								<img alt="" src="{% static 'massive/img/portfolio/05.jpg' %}" />
								<div class="portfolio-hover">
									<div class="action-btn">
										<a href="{% url 'massive-portfolio-single' %}">
											<i class="icon-basic_link"> </i>
										</a>
									</div>
									<div class="portfolio-description">
										<h4>
											<a href="{% url 'massive-portfolio-single' %}"> External link </a>
										</h4>
										<p>
											<a href="#"> category </a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="full-width promo-box dark-bg ">
		<div class="container">
			<div class="col-md-12">
				<div class="promo-info">
					<span class="light-txt text-uppercase m-top-0"> Are you impressed with our creative work? </span>
					<h3 class="light-txt"> start
						<span class="theme-color"> building your project </span> with massive </h3>
				</div>
				<div class="promo-btn">
					<a class="btn btn-medium btn-light-solid btn-transparent text-uppercase" href="#"> purchase now </a>
				</div>
			</div>
		</div>
	</div>
	<div class="page-content">
		<div class="container">
			<div class="row">
				<div class="post-list-aside">
					<div class="post-single">
						<div class="col-md-6">
							<div class="post-desk">
								<div class="m-bot-30">
									<h4 class="text-uppercase"> stunning website builder </h4>
								</div>
								<p> Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content. </p>
								<ul class="m-bot-30 circle-list inline-block">
									<li> Lorem ipsum dolor sit amet, consectetur adipisicing elit. </li>
									<li> Adipisci blanditiis delectus deserunt dolorem </li>
									<li> Impedit inventore itaque iure libero maiores simso. </li>
								</ul>
							</div>
						</div>
						<div class="col-md-6">
							<div class="post-img">
								<img alt="" src="{% static 'massive/img/monitor-1.png' %}" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
