/* Coolors Exported Palette - coolors.co/59cd90-3fa7d6-ef597b-fac05e-f79d84 */

$color1: #59cd90; //rgba(89, 205, 144, 100)
$color2: #3fa7d6; //rgba(63, 167, 214, 100)
$color3: #ef597b; //rgba(239, 89, 123, 100)
$color4: #fac05e; //rgba(250, 192, 94, 100)
$color5: #f79d84; //rgba(247, 157, 132, 100)