/* Coolors Exported Palette - coolors.co/26547c-ffd166-ef594f-06d6a0-fcfcfc */

$color1: #26547c; //rgba(38, 84, 124, 100)
$color2: #ffd166; //rgba(255, 209, 102, 100)
$color3: #ef594f; //rgba(239, 89, 79, 100)
$color4: #06d6a0; //rgba(6, 214, 160, 100)
$color5: #fcfcfc; //rgba(252, 252, 252, 100)