/* Coolors Exported Palette - coolors.co/d6a2a2-bcc19e-8caf83-65878e-4a5170 */

$color1: #d6a2a2; //rgba(214, 162, 162, 100)
$color2: #bcc19e; //rgba(188, 193, 158, 100)
$color3: #8caf83; //rgba(140, 175, 131, 100)
$color4: #65878e; //rgba(101, 135, 142, 100)
$color5: #4a5170; //rgba(74, 81, 112, 100)