.pi-section-white .form-control:focus {
	background: #ffffff;
	border-color: #67809F;
	color: #939fa4;
}
.form-control {
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control:focus,
.form-control:active {
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 0px #67809F !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 0px #67809F !important;
}

.pi-section-white .form-control:focus {
	background: #fbfcfc;
	border-color: #4B77BE;
	color: #939fa4;
}
.form-control {
	background: #fbfcfc;
	border-color: #dde1e1;
	border-top-color: #dde1e1;
	color: #777 !important;
	font-size: 12px !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
