<section id="page-body">
	<div class="wrapper">
		<div class="spacer-small"> </div>
		<div class="owl-carousel" data-items="5" data-loop="true" data-nav="true">
			<div>
				<img alt="SEO Name" src="{% static 'plugins/sudo/files/uploads/600x600-light.jpg' %}" />
			</div>
		</div>
		<div class="spacer-big"> </div>
		
		<h4 class="align-center">
			<strong> Portfolio Carousel </strong>
		</h4>
		<div class="spacer-small"> </div>
		<!-- <div class="owl-carousel portfolio-container" data-items="3" data-loop="true" data-nav="false" id="portfolio-grid">
			<div class="owl-item portfolio-item">
				<div class="portfolio-media">
					<a class="thumb-overlay" href="{% url 'sudo-portfolio-single-custom' %}">
						<img alt="SEO IMG NAME" src="{% static 'sudo/files/uploads/600x400-light.jpg' %}" /> </a>
				</div>
				<div class="portfolio-desc align-center">
					<a href="{% url 'sudo-portfolio-single-custom' %}">
						<h6 class="portfolio-category subtitle-2"> Branding </h6>
						<h5 class="portfolio-name">
							<strong> Rissa Smartwatch </strong>
						</h5>
					</a>
				</div>
			</div>
			<div class="owl-item portfolio-item">
				<div class="portfolio-media">
					<a class="thumb-overlay" href="{% url 'sudo-portfolio-single-gallery' %}">
						<img alt="SEO IMG NAME" src="{% static 'sudo/files/uploads/600x400-light.jpg' %}" /> </a>
				</div>
				<div class="portfolio-desc align-center">
					<a href="{% url 'sudo-portfolio-single-gallery' %}">
						<h6 class="portfolio-category subtitle-2"> Branding </h6>
						<h5 class="portfolio-name">
							<strong> Deerz </strong>
						</h5>
					</a>
				</div>
			</div>
			<div class="owl-item portfolio-item">
				<div class="portfolio-media">
					<a class="thumb-overlay" href="{% url 'sudo-portfolio-single-gallery' %}">
						<img alt="SEO IMG NAME" src="{% static 'sudo/files/uploads/600x400-light.jpg' %}" /> </a>
				</div>
				<div class="portfolio-desc align-center">
					<a href="{% url 'sudo-portfolio-single-gallery' %}">
						<h6 class="portfolio-category subtitle-2"> Web Design </h6>
						<h5 class="portfolio-name">
							<strong> Breaking News </strong>
						</h5>
					</a>
				</div>
			</div>
			<div class="owl-item portfolio-item">
				<div class="portfolio-media">
					<a class="thumb-overlay" href="{% url 'sudo-portfolio-single-slider' %}">
						<img alt="SEO IMG NAME" src="{% static 'sudo/files/uploads/600x400-light.jpg' %}" /> </a>
				</div>
				<div class="portfolio-desc align-center">
					<a href="{% url 'sudo-portfolio-single-slider' %}">
						<h6 class="portfolio-category subtitle-2"> Photography </h6>
						<h5 class="portfolio-name">
							<strong> Oova Headphones </strong>
						</h5>
					</a>
				</div>
			</div>
			<div class="owl-item portfolio-item">
				<div class="portfolio-media">
					<a class="thumb-overlay" href="{% url 'sudo-portfolio-single-sidebar' %}">
						<img alt="SEO IMG NAME" src="{% static 'sudo/files/uploads/600x400-light.jpg' %}" /> </a>
				</div>
				<div class="portfolio-desc align-center">
					<a href="{% url 'sudo-portfolio-single-sidebar' %}">
						<h6 class="portfolio-category subtitle-2"> Branding </h6>
						<h5 class="portfolio-name">
							<strong> Kafee &amp; Co </strong>
						</h5>
					</a>
				</div>
			</div>
			<div class="owl-item portfolio-item">
				<div class="portfolio-media">
					<a class="thumb-overlay" href="{% url 'sudo-portfolio-single-photography' %}">
						<img alt="SEO IMG NAME" src="{% static 'sudo/files/uploads/600x400-light.jpg' %}" /> </a>
				</div>
				<div class="portfolio-desc align-center">
					<a href="{% url 'sudo-portfolio-single-photography' %}">
						<h6 class="portfolio-category subtitle-2"> Photography </h6>
						<h5 class="portfolio-name">
							<strong> Irene </strong>
						</h5>
					</a>
				</div>
			</div>
			<div class="owl-item portfolio-item">
				<div class="portfolio-media">
					<a class="thumb-overlay" href="{% url 'sudo-portfolio-single-video' %}">
						<img alt="SEO IMG NAME" src="{% static 'sudo/files/uploads/600x400-light.jpg' %}" /> </a>
				</div>
				<div class="portfolio-desc align-center">
					<a href="{% url 'sudo-portfolio-single-video' %}">
						<h6 class="portfolio-category subtitle-2"> Web Design </h6>
						<h5 class="portfolio-name">
							<strong> View from a Blue Moon </strong>
						</h5>
					</a>
				</div>
			</div>
			<div class="owl-item portfolio-item">
				<div class="portfolio-media">
					<a class="thumb-overlay" href="{% url 'sudo-portfolio-single-smartnav' %}">
						<img alt="SEO IMG NAME" src="{% static 'sudo/files/uploads/600x400-light.jpg' %}" /> </a>
				</div>
				<div class="portfolio-desc align-center">
					<a href="{% url 'sudo-portfolio-single-smartnav' %}">
						<h6 class="portfolio-category subtitle-2"> Branding </h6>
						<h5 class="portfolio-name">
							<strong> Lost engine Studio </strong>
						</h5>
					</a>
				</div>
			</div>
			<div class="owl-item portfolio-item">
				<div class="portfolio-media">
					<a class="thumb-overlay" href="{% url 'sudo-portfolio-single-slider' %}">
						<img alt="SEO IMG NAME" src="{% static 'sudo/files/uploads/600x400-light.jpg' %}" /> </a>
				</div>
				<div class="portfolio-desc align-center">
					<a href="{% url 'sudo-portfolio-single-slider' %}">
						<h6 class="portfolio-category subtitle-2"> Web Design </h6>
						<h5 class="portfolio-name">
							<strong> Lightbox </strong>
						</h5>
					</a>
				</div>
			</div>
			<div class="owl-item portfolio-item">
				<div class="portfolio-media">
					<a class="thumb-overlay" href="{% url 'sudo-portfolio-single-video' %}">
						<img alt="SEO IMG NAME" src="{% static 'sudo/files/uploads/600x400-light.jpg' %}" /> </a>
				</div>
				<div class="portfolio-desc align-center">
					<a href="{% url 'sudo-portfolio-single-video' %}">
						<h6 class="portfolio-category subtitle-2"> Photography </h6>
						<h5 class="portfolio-name">
							<strong> Change this Text </strong>
						</h5>
					</a>
				</div>
			</div>
			<div class="owl-item portfolio-item">
				<div class="portfolio-media">
					<a class="thumb-overlay" href="{% url 'sudo-portfolio-single-custom' %}">
						<img alt="SEO IMG NAME" src="{% static 'sudo/files/uploads/600x400-light.jpg' %}" /> </a>
				</div>
				<div class="portfolio-desc align-center">
					<a href="{% url 'sudo-portfolio-single-custom' %}">
						<h6 class="portfolio-category subtitle-2"> Photography </h6>
						<h5 class="portfolio-name">
							<strong> Eleven Everything </strong>
						</h5>
					</a>
				</div>
			</div>
			<div class="owl-item portfolio-item">
				<div class="portfolio-media">
					<a class="thumb-overlay" href="{% url 'sudo-portfolio-single-gallery' %}">
						<img alt="SEO IMG NAME" src="{% static 'sudo/files/uploads/600x400-light.jpg' %}" /> </a>
				</div>
				<div class="portfolio-desc align-center">
					<a href="{% url 'sudo-portfolio-single-gallery' %}">
						<h6 class="portfolio-category subtitle-2"> Branding </h6>
						<h5 class="portfolio-name">
							<strong> Brücke Bier </strong>
						</h5>
					</a>
				</div>
			</div>
		</div> -->
	</div>
	<div class="spacer-big"> </div>
</section>