<!--==========================
*  Author:		Dave Luke Jr
*  Company:	CenterStack.io
*  Description:	index.html
*==========================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load customtags %}
{% load staticfiles %}
{% block content %}


<!--	Index
========================================= -->
<div class="banner-state vertical-align text-center banner-13">
	<div class="container-mid">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="banner-title">
						<h1 class="text-uppercase light-txt m-bot-10 inline-block"> Bond6 Fitness </h1>
						<h3 class="text-uppercase light-txt m-bot-30 inline-block"> World Class Personal Training In New York City </h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}
