<!--==========================
 *  Author:		Dave Luke Jr
 *  Company:	CenterStack.io
 *  Description:	index.html
 *==========================-->
{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load customtags %}
{% block content %}


<!--	Main Wrapper
========================================= -->
<div class="main-wrapper">
	<div class="main">
		<div class="main-inner">
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="warning">
							<h1> 403 </h1>
							<p> Access Forbidden </p>
							<hr/>
							<a class="btn btn-secondary" href="{% url 'index' %}">
								<i class="fa fa-long-arrow-left"> </i>
								Return Home
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
		
{% endblock %}
