<!--==========================
 *  Author:		Dave Luke Jr
 *  Company:	CenterStack.io
 *  Description:	buy.html
 *==========================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load humanize %}
{% load mathfilters %}
{% load el_pagination_tags %}
{% load staticfiles %}
{% load customtags %}
{% block content %}

<head>
	<meta charset="UTF-8">
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,300,700&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link href="{% static 'plugins/villareal/assets/fonts/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/villareal.css' %}" rel="stylesheet" type="text/css" id="css-primary">
	<link href="{% static 'css/helpers.css' %}" rel="stylesheet" type="text/css" id="css-primary">
</head>
<body class="p-t-60">
	<div class="page-wrapper">
		<div class="main-wrapper">
			<div class="main">
				<div class="main-inner">
					<div class="content">
							<div class="row">
								<div class="col-sm-4 p-b-100">

									{% paginate 6 PropertyFilter %}
									{% for property in PropertyFilter %}

										<div class="listing-row">
											<div class="listing-row-inner">
												<div class="listing-row-image" style="background-image: url({{ property.img.0 }});">
													<span class="listing-row-image-links">
														<a href="{% url 'buy-single' pk=property.pk %}">
															<i class="fa fa-search"> </i>
															<span> View detail </span>
														</a>
													</span>
												</div>

												<!--	Row Content
												========================================= -->
												<div class="listing-row-content">
													<h3><a href="{% url 'buy-single' pk=property.pk %}"> {{ property.streetnumber }} {{ property.streetname }} {{ property.streetsuffix }} </a></h3>
													<h4 class="m-t-0"> ${{ property.listingprice|floatformat:"0"|intcomma }} </h4>
													<ul class="listing-row-attributes">
														<li><i class="fa fa-map-marker"></i> City <span> {{ property.city }} </span></li>
														<li><i class="fa fa-map"></i> Section <span> {{ property.section }} </span></li>
														<li><i class="fa fa-home"></i> Sqft. <span> {{ property.squarefootage|floatformat:"0"|intcomma }} </span></li>
														<li><i class="fa fa-arrows-alt"></i> Acres <span> {{ property.acres }} </span></li>
														<li><i class="fa fa-bed"></i> Bedrooms <span> {{ property.bedrooms }} </span></li>
														<li><i class="fa fa-male m-r-0 m-l--6"></i><i class="fa fa-female m-l--3 m-r-0 p-r-1"></i> Baths <span> {{ property.bathrooms }} </span></li>
													</ul>
												</div>
											</div>
										</div>

									{% endfor %}
									{% show_pages %}


									<!--	Map Markers
									========================================= -->
									<script>
										var values = [
											{% for property in PropertyFilter %}
												{
													"id": "marker-{{ property.listingrid }}",
													"center": [{{ property.latitude }}, {{ property.longitude }}],
													"icon": "<p>${{ property.listingprice|div:1000|floatformat:"0"|intcomma }}k</p>",
													"title": "{{ property.streetnumber }} {{ property.streetname }} {{ property.streetsuffix }}",
													"price": "${{ property.listingprice }}",
													"image": "{{ property.img.0 }}"
												},
											{% endfor %}
										]
									</script>
								</div>



								<!--	Map
								========================================= -->
								<div class="col-sm-8">
									<div id="test"></div>
								</div>
								<script>
									$(function() {
										markers = []
										$.each(values, function(index, value) {
												var content = '<div id="' + value.id + '" class="map-popup-content-wrapper"><div class="map-popup-content"><div class="listing-window-image-wrapper">' +
															'<a href="properties-detail-standard.html">' +
																 '<div class="listing-window-image" style="background-image: url(' + value.image + ');"></div>' +
																 '<div class="listing-window-content">' +
																	  '<div class="info">' +
																			'<h2>' + value.title + '</h2>' +
																			'<h3>' + value.price + '</h3>' +
																	  '</div>' +
																 '</div>' +
															'</a>' +
													  '</div></div><i class="fa fa-close close"></i></div>' +
													  '<div class="map-marker">' + value.icon + '</div>';

											markers.push({
												latLng: value.center, 
												data: value.id,			
												options: {									
													content: content,
													offset: {
															x: -18,
															y: -42
														}							
												}
											});
										});

										$("#test").gmap3();
										$('#map-google').gmap3({		
											map: {									
												options:{
													styles: [{"featureType":"landscape","elementType":"all","stylers":[{"hue":"#FFBB00"},{"saturation":43.400000000000006},{"lightness":37.599999999999994},{"gamma":1}]},{"featureType":"poi","elementType":"all","stylers":[{"hue":"#00FF6A"},{"saturation":-1.0989010989011234},{"lightness":11.200000000000017},{"gamma":1}]},{"featureType":"road.highway","elementType":"all","stylers":[{"hue":"#FFC200"},{"saturation":-61.8},{"lightness":45.599999999999994},{"gamma":1}]},{"featureType":"road.arterial","elementType":"all","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":51.19999999999999},{"gamma":1}]},{"featureType":"road.local","elementType":"all","stylers":[{"hue":"#FF0300"},{"saturation":-100},{"lightness":52},{"gamma":1}]},{"featureType":"water","elementType":"all","stylers":[{"hue":"#0078FF"},{"saturation":-13.200000000000003},{"lightness":2.4000000000000057},{"gamma":1}]}],
													center:[44.057511, -121.331884],
													scrollwheel: false,
													zoom: 10
												}
											},
											marker: {
												cluster: {
														radius: 100,
													}
											},
											overlay: {
												values: markers,
												events: {
													click: function(marker, event, context) {															
														$('.map-popup-content-wrapper').css('display', 'none');

														if ($(event[0].target).hasClass('close')) {
															$('#' + context.data).css('display', 'none');
														} else {
															$('#' + context.data).css('display', 'block');
														}
													}
												}
											}
										});					
									});
								</script>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	

	<!--	Javascript
	========================================= -->
	<!-- <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-B5LPcn-uJnxUFcwSbLGrkRVvYZE5gzU"></script> -->
	<script src="{% static 'plugins/villareal/assets/js/jquery.ezmark.min.js' %}"></script>
	<script src="{% static 'plugins/villareal/assets/js/tether.min.js' %}"></script>
	<script src="{% static 'plugins/villareal/assets/js/bootstrap.min.js' %}"></script>
	<!-- <script src="{% static 'plugins/villareal/assets/libraries/owl-carousel/owl.carousel.min.js' %}"></script> -->
	<script src="{% static 'plugins/villareal/assets/js/villareal.js' %}"></script>


</body>



{% endblock %}