<!--==========================
 *  Author:		Dave Luke Jr
 *  Company:	CenterStack.io
 *  Description:	buy-single.html
 *==========================-->
{% extends "base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load customtags %}
{% load humanize %}
{% block content %}


<!--	Buy Single
========================================= -->
<div class="main-wrapper">
	<div class="main">
		<div class="main-inner">
			<div class="content-title">
				<div class="content-title-inner">
					<div class="container">
						<h1> Property Details </h1>
					</div>
				</div>
			</div>
			<div class="content">
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="listing-detail-attributes grey-bg">
								<div class="col-sm-3 listing-detail-attribute">
									<div class="key"> Address </div>
									<div class="value"> {{ json.StreetNumber }} {{ json.StreetName }} {{ json.StreetSuffix }} {{ json.Unit }}</div>
								</div>
								<div class="col-sm-3 listing-detail-attribute">
									<div class="key"> Listing Date </div>
									<div class="value"> {{ json.ListingDate }} </div>
								</div>
								<div class="col-sm-3 listing-detail-attribute">
									<div class="key"> Location </div>
									<div class="value"> {{ json.City }}, {{ json.State }} ({{ json.County }}) </div>
								</div>
								<div class="col-sm-3 listing-detail-attribute">
									<div class="key"> Price </div>
									<div class="value"> ${{ json.ListingPrice|intcomma }} </div>
								</div>
							</div>
						</div>
						<div class="listing-detail col-md-12">
							<div class="gallery">
								<div class="gallery-item" style="background-image: url({% static 'villareal/assets/img/tmp/tmp-5.jpg' %});"> </div>
								<div class="gallery-item" style="background-image: url({% static 'villareal/assets/img/tmp/tmp-11.jpg' %});"> </div>
								<div class="gallery-item" style="background-image: url({% static 'villareal/assets/img/tmp/tmp-12.jpg' %});"> </div>
								<div class="gallery-item" style="background-image: url({% static 'villareal/assets/img/tmp/tmp-8.jpg' %});"> </div>
							</div>

							<!--	Property Description
							========================================= -->
							<div class="row">
								<div class="col-lg-5">
									<div class="overview portlet grey-bg">
										<h2> Property Attributes </h2>
										<ul>
											<li>
												<strong> Price </strong>
												<span> $ 480 / per week </span>
											</li>
											<li>
												<strong> Location </strong>
												<span> New York </span>
											</li>
											<li>
												<strong> Status </strong>
												<span> Rent </span>
											</li>
											<li>
												<strong> Bedrooms </strong>
												<span> 4 </span>
											</li>
											<li>
												<strong> Bathrooms </strong>
												<span> 2 </span>
											</li>
											<li>
												<strong> Area </strong>
												<span> 180 sqft </span>
											</li>
										</ul>
									</div>
								</div>
								<div class="col-lg-7">
									<div class="portlet grey-bg">
										<h2> Property Description </h2>
										<p> Duis suscipit turpis suscipit lectus ultricies, placerat fermentum orci fringilla. Mauris semper magna cursus diam suscipit consectetur. </p>
										<p> Integer condimentum sodales metus, quis pellentesque nisi tempor at. Quisque ornare efficitur risus eu bibendum. Donec feugiat consequat magna in interdum. Donec malesuada orci et mi fermentum, ac tincidunt arcu tincidunt. Ut fringilla tellus sem, quis rhoncus dolor condimentum id. Vivamus ut commodo felis. Fusce in lacus egestas, mattis ex et, molestie est. </p>
									</div>
								</div>
							</div>


							<!--	Ammenities
							========================================= -->
							<h2> Amenities </h2>
							<ul class="amenities">
								<li class="yes"> Conditioning </li>
								<li class="no"> Balcony </li>
								<li class="no"> Bedding </li>
								<li class="no"> Cable TV </li>
								<li class="no"> Cleaning </li>
								<li class="no"> Cofee pot </li>
								<li class="no"> Computer </li>
								<li class="yes"> Cot </li>
								<li class="no"> Dishwasher </li>
								<li class="yes"> DVD </li>
								<li class="no"> Fan </li>
								<li class="yes"> Fridge </li>
								<li class="no"> Grill </li>
								<li class="yes"> Hairdryer </li>
								<li class="no"> Heating </li>
								<li class="yes"> Hi-fi </li>
								<li class="no"> Internet </li>
								<li class="yes"> Iron </li>
								<li class="no"> Juicer </li>
								<li class="yes"> Lift </li>
								<li class="yes"> Microwave </li>
								<li class="yes"> Oven </li>
								<li class="no"> Parking </li>
								<li class="no"> Parquet </li>
								<li class="yes"> Pool </li>
								<li class="yes"> Radio </li>
								<li class="no"> Roof terrace </li>
								<li class="no"> Smoking </li>
								<li class="yes"> Terrace </li>
								<li class="no"> Toaster </li>
								<li class="no"> Towelwes </li>
								<li class="no"> Use of pool </li>
							</ul>

							<!--	Question
							========================================= -->
							<h2> Send Us A Question </h2>
							<div class="comment-create p-40">
								<form action="?" method="post">
									<div class="form-group">
										<label> Message </label>
										<textarea class="form-control" rows="5"> </textarea>
									</div>
									<div class="row">
										<div class="col-sm-4">
											<div class="form-group">
												<label> Name </label>
												<input class="form-control" type="text" />
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<label> E-mail </label>
												<input class="form-control" type="email" />
											</div>
										</div>
										<div class="col-sm-4">
											<div class="form-group">
												<label> URL </label>
												<input class="form-control" type="text" />
											</div>
										</div>
									</div>
									<div class="form-group-btn">
										<a class="btn btn-primary pull-right" href="#"> Post Comment </a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}