<!--==========================
 *  Author:		Dave Luke Jr
 *  Company:	CenterStack.io
 *  Description:	index.html
 *==========================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load humanize %}
{% load mathfilters %}
{% load staticfiles %}
{% load customtags %}
{% block content %}



<!--	Buy Single
========================================= -->
<section id="page-body" class="p-t-0 m-t-80">
	<div class="owl-carousel" data-items="4" data-loop="true" data-nav="true" data-dots="false">
	
		{% for ii in property.img %}
			<a class="thumb-overlay overlay-effect-1 text-light" data-rel="lightcase:gallery1" href="{{ ii }}">
				<div><img src="{{ ii }}"></div>
			</a>
		{% endfor %}
		
	</div>
	<div class="spacer-small"></div>


	<div class="wrapper align-center">
		<h5 class="subtitle-2 colored"><strong> {% include "include/address.html" with arg="city" %} </strong></h5>
		<h2 class="m-t-10 fs-36"><strong> {% include "include/address.html" with arg="street" %} </strong></h2>
		<hr class="mini thin m-tb-30" />
		
		<!--	Icons
		========================================= -->
		<div class="column-section clearfix p-t-40">
			<div id="buy-single-icons" class="column one-fifth">
				<span class="fontello-sqft"></span>
				<h5 class="subtitle-2 fs-15 m-t-30">Square Feet</h5>
				<h3 class="fs-26" style="line-height:34px;"><strong>{{ property.squarefootage|floatformat:"0"|intcomma }}</strong></h3>
			</div>
			<div id="buy-single-icons" class="column one-fifth">
				<span class="fontello-beds"></span>
				<h5 class="subtitle-2">Bedrooms</h5>
				<h3><strong>{{ property.bedrooms }}</strong></h3>
			</div>
			<div id="buy-single-icons" class="column one-fifth">
				<span class="fontello-baths"></span>
				<h5 class="subtitle-2">Bathrooms</h5>
				<h3><strong>{{ property.bathrooms }}</strong></h3>
			</div>
			<div id="buy-single-icons" class="column one-fifth">
				<span class="fontello-year-built"></span>
				<h5 class="subtitle-2">Year Built</h5>
				<h3><strong>{{ property.yearbuilt }}</strong></h3>
			</div>
			<div id="buy-single-icons" class="column one-fifth last-col">
				<span class="fontello-map"></span>
				<h5 class="subtitle-2">Lot Size</h5>
				<h3><strong>{{ property.acres }}</strong></h3>
			</div>
		</div>
	</div>
	<div class="spacer-big"> </div>
	
	
	<div id="buy-single-details" class="wrapper-small align-center">
		<h5 class="subtitle-2 colored"> Property Details </h5>
		<h2 class="m-t-10 fs-42"><strong> Overview </strong></h2>
		<hr class="mini thin m-tb-30" />
		<p>{{ property.marketingremarks }}</p>
	</div>
	<div class="spacer-big"> </div>
	
</section>



<section class="notoppadding" id="page-body">
	<div class="column-section boxed-sticky adapt-height vertical-center clearfix">
		<div class="column one-half text-light bigpadding" style="background:#8c7a73">
			<h4><strong> Overview </strong></h4>
			<ul>
				<li>List Price</li>
				<li>Style</li>
				<li>Subtype</li>
				<li>Year Built</li>
				<li>Bedrooms</li>
				<li>Bathrooms</li>
				<li>Square Footage</li>
			</ul>
		</div>
		<div class="column one-half text-light bigpadding" style="background:#443f45">
			<h4><strong> Overview </strong></h4>
			<ul>
				<li>List Price</li>
				<li>Style</li>
				<li>Subtype</li>
				<li>Year Built</li>
				<li>Bedrooms</li>
				<li>Bathrooms</li>
				<li>Square Footage</li>
			</ul>
		</div>
		<div class="column one-half text-light bigpadding" style="background:#443f45">
			<h4><strong> Overview </strong></h4>
			<ul>
				<li>List Price</li>
				<li>Style</li>
				<li>Subtype</li>
				<li>Year Built</li>
				<li>Bedrooms</li>
				<li>Bathrooms</li>
				<li>Square Footage</li>
			</ul>
		</div>
		<div class="column one-half text-light bigpadding last-col" style="background:#666167">
			<h4><strong> Overview </strong></h4>
			<ul>
				<li>List Price</li>
				<li>Style</li>
				<li>Subtype</li>
				<li>Year Built</li>
				<li>Bedrooms</li>
				<li>Bathrooms</li>
				<li>Square Footage</li>
			</ul>
		</div>
	</div>
</section>


{% endblock %}
