<!--==========================
 *  Author:		Dave Luke Jr
 *  Company:	CenterStack.io
 *  Description:	index.html
 *==========================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load humanize %}
{% load mathfilters %}
{% load staticfiles %}
{% load customtags %}
{% block content %}


<!--	Page Title
========================================= -->
<section id="page_title">
	<h4 class="capitalize fs-24"> Buy A Property </h4>
</section>


<section class="notoppadding" id="page-body">


	<!--	Filter
	========================================= -->
	<ul id="portfolio-filter" class="filter m-t-30" data-related-grid="properties">
		<li class="active"><a data-filter="*" href="#"> Show All </a></li>
		<li><a data-filter=".branding" href="#" title="Branding"> Branding </a></li>
		<li><a data-filter=".web" href="#" title="Print"> Web Design </a></li>
		<li><a data-filter=".photography" href="#" title="Print"> Photography </a></li>
	</ul>

	<!--	Grid
	========================================= -->
	<div id="properties" class="isotope-grid gallery-container style-modern-3 isotope-spaced clearfix fitrows m-t-30" data-heightratio=".66">

		{% for json in jsons.object_list %}

			<div class="isotope-item">
				<a href="{% url 'buy' %}" class="thumb-overlay overlay-effect-3 text-light">
					<img src="{{ json.img.0 }}">
					<img src="{{ json.img.1 }}" class="hover-pic">
					<div class="overlay-caption">
						<table>
							<tr>
								<td><h6 class="uppercase">{{ json.Bedrooms }} BR &bull; {{ json.Bathrooms|floatformat:"1" }} BA &bull; {{ json.SquareFootage|floatformat:"0"|intcomma }} Sqft.</h6></td>
								<td><h6 class="uppercase fs-20">${{ json.ListingPrice|floatformat:"0"|intcomma }}</h6></td>
							</tr>
							<tr>
								<td><h6 class="subtitle-1 o-100 m-t-0">{% include "include/address.html" with arg="street" %}</h6></td>
								<td><h6 class="subtitle-1 o-100 m-t-0">{% include "include/address.html" with arg="cityzip" %}</h6></td>
							</tr>

						</table>
		                        </div>
				</a>
			</div>
				
		{% endfor %}
				
	</div>

	<div class="spacer-big"> </div>
</section>

{% endblock %}
