<!-- <div class="filter push-bottom">
	<form action="" method="post">
		<div class="row">
			<div class="col-md-3">
				<div class="form-group">
					<label> Location </label>
					<input class="form-control" type="text" />
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label> Keyword </label>
					<input class="form-control" type="text" />
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<label> Price From </label>
					<input class="form-control" type="text" />
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<label> Price To </label>
					<input class="form-control" type="text" />
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group-btn form-group-btn-placeholder-gap">
					<button class="btn btn-primary btn-block" type="submit"> Filter </button>
				</div>
			</div>
		</div>

		<div class="row filter-options">
			<div class="col-sm-6">
				<div class="filter-sort">
					<strong> Sort By </strong>
					<div class="checkbox-inline">
						<label>
							<input checked="checked" name="filter-form-order" type="checkbox" />
							Price
						</label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input checked="checked" name="filter-form-order" type="checkbox" />
							Published
						</label>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="filter-order">
					<strong> Order By </strong>
					<div class="checkbox-inline">
						<label>
							<input checked="checked" name="filter-form-order" type="radio" /> Asc </label>
					</div>
					<div class="checkbox-inline">
						<label>
							<input name="filter-form-order" type="radio" /> Desc </label>
					</div>
				</div>
			</div>
		</div>
	</form>
</div> -->