<!--==========================
 *  Author:		Dave Luke Jr
 *  Company:	CenterStack.io
 *  Description:	featured.html
 *==========================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load humanize %}
{% load mathfilters %}
{% load staticfiles %}
{% load customtags %}
{% block content %}



<!--	Hero Collage
========================================= -->
<section class="hero-big parallax-section text-light no-overlay wood_1" id="hero">
	<div class="wrapper align-center" id="page-title">
		<h2 class="uppercase">
			<strong> Our Partners </strong>
		</h2>
	</div>
</section>



<!--	Bend Trend Homes
========================================= -->
<section id="page-body">
	<div class="isotope-grid blog-container style-column-3 fitrows isotope-spaced" id="blog-grid">
		<div class="isotope-item blog-item">
			<div class="blog-media">
				<a class="thumb-overlay" href="{% url 'partners' %}">
					<img src="{% static 'sudo/files/uploads/900x600-light.jpg' %}">
				</a>
			</div>
			<div class="blog-desc align-center">
				<div class="blog-headline">
					<h6 class="post-category uppercase"> Travel </h6>
					<h5 class="post-name">
						<a href="{% url 'partners' %}">
							<strong> Waterfalls of Iceland </strong>
						</a>
					</h5>
				</div>
				<p> The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious but the Little. </p>
				<ul class="blog-meta">
					<li class="post-date"> 5 hours ago </li>
					<li class="post-comments">
						<i class="fa fa-comments"> </i> 3 </li>
				</ul>
			</div>
		</div>
	</div>
	<div class="spacer-big"> </div>
</section>

{% endblock %}
