<div class="wrapper align-center has-animation">
	<h2>
		<strong> One of our principles is
			<br/> constant internal communication
		</strong>
	</h2>
	<h5 class="subtitle-1"> We provide perfect and professional services,
		<br/> covering all areas of the modern communication </h5>
	<div class="spacer-medium"> </div>
	<div class="column-section clearfix">
		<div class="column one-third">
			<i class="ion ion-4x ion-ios-speedometer-outline"> </i>
			<h5 class="uppercase"> Projects delivered </h5>
			<p> The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli. </p>
		</div>
		<div class="column one-third">
			<i class="ion ion-4x ion-ios-settings"> </i>
			<h5 class="uppercase"> Satisfied Clients </h5>
			<p> The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli. </p>
		</div>
		<div class="column one-third last-col">
			<i class="ion ion-4x ion-ios-monitor-outline"> </i>
			<h5 class="uppercase"> Lines of Code </h5>
			<p> The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli. </p>
		</div>
	</div>
</div>