<!--	The Team
========================================= -->
<div class="fullwidth-section" style="background: #f5f6f7;">
	<div class="fullwidth-content wrapper">
		<h3 class="align-center">
			<strong> The Team </strong>
		</h3>
		<div class="spacer-medium"> </div>
		<div class="column-section clearfix p-rl-150">
			<div class="column one-half team-member align-center">
				<div class="team-image">
					<img alt="SEO NAME" src="{% static 'img/color-molly-cropped.jpg' %}" />
				</div>
				<div class="team-content">
					<h5 class="team-name uppercase">
						<strong> Molly Brundage </strong>
					</h5>
					<h6 class="subtitle-2"> Principal Broker / Realtor </h6>
					<p> 12 years in residential real estate in Bend. 10 years in commercial real estate in Seattle area. Uber multi-tasker. Night owl - you may get emails at midnight. Lover of all baseball. Raising teenagers. Rock solid work ethic. </p>
					<ul class="socialmedia-widget style-circled hover-slide-2">
						<li class="mail"><a href="mailto:molly@brundagesmith.com"> </a></li>
						<li class="facebook"><a href="https://www.facebook.com/Molly-Brundage-Bend-Oregon-Real-Estate-332346853475501/"> </a></li>
						<li class="linkedin"><a href="https://www.linkedin.com/in/molly-brundage-402a2410"> </a></li>
						<li class="rss"><a href="http://www.findbendhomes.com/cp/our-blog/"> </a></li>
					</ul>
				</div>
			</div>
			<div class="column one-half last-col team-member align-center">
				<div class="team-image">
					<img alt="SEO NAME" src="{% static 'img/color-cheri-cropped.jpg' %}" />
				</div>
				<div class="team-content">
					<h5 class="team-name uppercase">
						<strong> Cheri Smith </strong>
					</h5>
					<h6 class="subtitle-2"> Broker / Realtor </h6>
					<p> 10 years of residential real estate in Bend. Social media and blogging guru. Mom to Wyatt who loves dinosaurs. Task oriented. Analytical by nature. Camping enthusiast. Rock solid work ethic. </p>
					<ul class="socialmedia-widget style-circled hover-slide-2">
						<li class="mail"><a href="mailto:cheri@brundagesmith.com"> </a></li>
						<li class="facebook"><a href="https://www.facebook.com/cherismithRE"> </a></li>
						<li class="linkedin"><a href="https://www.linkedin.com/in/cherimalleysmith"> </a></li>
						<li class="rss"><a href="http://www.findbendhomes.com/cp/our-blog/"> </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="column-section boxed-sticky adapt-height clearfix">
	<div class="column one-half bigpadding has-animation" style="background:#ffffff;">
		<h5 class="subtitle-2"> We are BrundageSmith </h5>
		<hr class="zigzag mini colored" />
		<h2><strong> Central Oregon's Premier Real Estate Group </strong></h2>
		<p> Two is better than one. We offer two full-time, seasoned brokers fully entrenched in the global marketplace, sourcing information and leveraging their individual strenths to serve you better. We have an excellent rapport together and an internal system in place that allows for two sets of eyes on client care. Simply put, you get twice the expertise and attention. </p>
		<p> Molly <span class="italic">(right)</span> has 12 years in residential real estate in Bend. 10 years in commercial real estate in Seattle area. Uber multi-tasker. Night owl - you may get emails at midnight. Lover of all baseball. Raising teenagers. Rock solid work ethic. </p>
		<p> Cheri <span class="italic">(left)</span> has 10 years of residential real estate in Bend. Social media and blogging guru. Mom to Wyatt who loves dinosaurs. Task oriented. Analytical by nature. Camping enthusiast. Rock solid work ethic. </p>
		<!-- <p> We don't just live in the community, we invest in the community. It's a strong belief that real estate isn't just about buildings - it's about the people inside and the lives they build. We will work with you prior to closing your transaction to determine how best to contribute to your favorite charitable organization and applauding their commitment to making Central Oregon the best place to live. </p> -->
	</div>
	<div class="column one-half last-col has-animation" data-delay="200" style="background:url({% static 'img/team.jpg' %}) center center;background-size:cover;"> </div>
</div>