<!--	The Team
========================================= -->
<div class="fullwidth-section" style="background: #f5f6f7;">
	<div class="fullwidth-content wrapper">
		<h3 class="align-center">
			<strong> The Team </strong>
		</h3>
		<div class="spacer-medium"> </div>
		<div class="column-section clearfix p-rl-150">
			<div class="column one-half team-member align-center">
				<div class="team-image">
					<img alt="SEO NAME" src="{% static 'img/color-molly-cropped.jpg' %}" />
				</div>
				<div class="team-content">
					<h5 class="team-name uppercase">
						<strong> Molly Brundage </strong>
					</h5>
					<h6 class="subtitle-2"> Principal Broker / Realtor </h6>
					<p> 12 years in residential real estate in Bend. 10 years in commercial real estate in Seattle area. Uber multi-tasker. Night owl - you may get emails at midnight. Lover of all baseball. Raising teenagers. Rock solid work ethic. </p>
					<ul class="socialmedia-widget style-circled hover-slide-2">
						<li class="mail"><a href="mailto:molly@brundagesmith.com"> </a></li>
						<li class="facebook"><a href="https://www.facebook.com/Molly-Brundage-Bend-Oregon-Real-Estate-332346853475501/"> </a></li>
						<li class="linkedin"><a href="https://www.linkedin.com/in/molly-brundage-402a2410"> </a></li>
						<li class="rss"><a href="http://www.findbendhomes.com/cp/our-blog/"> </a></li>
					</ul>
				</div>
			</div>
			<div class="column one-half last-col team-member align-center">
				<div class="team-image">
					<img alt="SEO NAME" src="{% static 'img/color-cheri-cropped.jpg' %}" />
				</div>
				<div class="team-content">
					<h5 class="team-name uppercase">
						<strong> Cheri Smith </strong>
					</h5>
					<h6 class="subtitle-2"> Broker / Realtor </h6>
					<p> 10 years of residential real estate in Bend. Social media and blogging guru. Mom to Wyatt who loves dinosaurs. Task oriented. Analytical by nature. Camping enthusiast. Rock solid work ethic. </p>
					<ul class="socialmedia-widget style-circled hover-slide-2">
						<li class="mail"><a href="mailto:cheri@brundagesmith.com"> </a></li>
						<li class="facebook"><a href="https://www.facebook.com/cherismithRE"> </a></li>
						<li class="linkedin"><a href="https://www.linkedin.com/in/cherimalleysmith"> </a></li>
						<li class="rss"><a href="http://www.findbendhomes.com/cp/our-blog/"> </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>