<!--======================
 *  Author:		Dave Luke Jr
 *  Company:	CenterStack.io
 *  Description:	calendar.html
 *======================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load humanize %}
{% load mathfilters %}
{% load staticfiles %}
{% block content_site %}


<!--	Scheduler
========================================= -->
<div class="row">
	<div class="col-md-12">
		<div class="portlet light portlet-fit">
			<div class="portlet-title p-r-30">
				<div class="caption">
					<i class="pe-7s-date"> </i>
					<span class="caption-subject base-font"> Calendar </span>
				</div>
				<div class="actions pull-right">
					<div class="btn-group">
						<button type="button" class="btn base dropdown-toggle" data-toggle="dropdown" data-delay="1000">
							New Event <i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu" style="min-width: 135px;" role="menu">
							<li><a href="{% url 'reservation_new' %}"><i class="pe-7s-bicycle fs-18"></i>Reservation</a></li>
							<li><a href="{% url 'class_new' %}"><i class="pe-7s-study"></i>Class</a></li>
							<li><a href="{% url 'tour_new' %}"><i class="pe-7s-way fs-18"></i>Tour</a></li>
							<li class="divider"></li>
							<li><a href="{% url 'event_new' %}"><i class="pe-7s-user"></i>Staff</a></li>
							
						</ul>
					</div>
				</div>
			</div>
			<div class="portlet-body">
				<div id="scheduler-bike"></div>
				<div id="scheduler-class"></div>
				<div id="scheduler-tour"></div>
			</div>
			<div class="row p-b-10">
				<div class="col-sm-12">
					<p class="text-center m-t-5">
						<span class="m-r-40 text-grey fs-12"><i class="fa fa-square fs-14" style="color: {{ preference.calendar_color_bike }}"></i> Bike</span>
						<span class="m-r-40 text-grey fs-12"><i class="fa fa-square fs-14" style="color: {{ preference.calendar_color_tour }}"></i> Tour</span>
						<span class="m-r-40 text-grey fs-12"><i class="fa fa-square fs-14" style="color: {{ preference.calendar_color_class }}"></i> Class</span>
						<span class="text-grey fs-12"><i class="fa fa-square fs-14" style="color: {{ preference.calendar_color_storage }}"></i> Storage</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!--=====================================================
	Chart 1: Bike Reservations
=====================================================-->
<script>

	$(function() {

		function get_date(){
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1;
			var yyyy = today.getFullYear();

			if(dd<10) {
			    dd='0'+dd
			}
			if(mm<10) {
			    mm='0'+mm
			}
			return mm+'/'+dd+'/'+yyyy;
		};

		$('#scheduler-bike').fullCalendar({
			defaultView: 'timelineMonth',
			editable: false,
			now: get_date(),
			scrollTime: '00:00',
			timeFormat: 'ha',
			displayEventEnd: true,
			buttonText: {
		    		prev: "Prev",
		    		next: "Next",
		    		today: "Today",
		    		timelineMonth: "Month",
		    		timelineYear: "Year"
		    	},
			header: {
				left: '',
				right: 'prev, next',
			},
			contentHeight: "auto",
			slotWidth: '100%',
			'slotEventOverlap': false,
			slotLabelFormat: [
			    'MMMM YYYY',
			    'D [\n] ddd'
			],
			resourceAreaWidth: '18%',
			resourceLabelText: 'Bikes',
			displayEventTime: false,
			resourceColumns: [
				{
					group: true,
					labelText: "Brand",
					field: 'manufacturer'
				},
				{
					labelText: "Model",
					field: 'model'
				},
				{
					labelText: "Color",
					field: 'color'
				},
			],

			/*	Resources
			========================================= */
			resources: [
				{% for bike in bikes %}
					{
						id: "{{ bike.pk }}",
						manufacturer: "{{ bike.manufacturer }}",
						model: "{{ bike.model }}",
						color: "{{ bike.color }}",
					},
				{% endfor %}
			],


			/*	Events
			========================================= */
			events: [
				{% for reservation in reservations %}

					{
						id: '{{ reservation.pk }}',
						resourceId: "{{ reservation.bike.pk }}",
						title: '{{ reservation.customer }}\n{{ reservation.checkout_datetime.time }} / {{ reservation.checkin_datetime.time }}',
						start: '{{ reservation.checkout_datetime.date }}',
						end: '{{ reservation.checkin_datetime.date }}',
						allDay: false,
						color:"{% if reservation.rental_type == "class_bike" %} {{ preference.calendar_color_class }} {% elif reservation.rental_type == "tour_bike" %}{{ preference.calendar_color_tour }}{% else %}{{ preference.calendar_color_bike }}{% endif %}",
						borderColor: "{{ preference.calendar_color_1 }}",
						url: "/reservations/edit/{{ reservation.pk }}/",
					},
				{% endfor %}
			],
		});
	});
</script>



<!--=====================================================
	Scheduler - Class
=====================================================-->
<script>

	$(function() {

		function get_date(){
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1;
			var yyyy = today.getFullYear();

			if(dd<10) {
			    dd='0'+dd
			}
			if(mm<10) {
			    mm='0'+mm
			}
			return mm+'/'+dd+'/'+yyyy;
		};

		$('#scheduler-class').fullCalendar({
			defaultView: 'timelineMonth',
			editable: false,
			now: get_date(),
			scrollTime: '00:00',
			timeFormat: 'ha',
			displayEventEnd: true,
			buttonText: {
		    		prev: "Prev",
		    		next: "Next",
		    		today: "Today",
		    		timelineMonth: "Month",
		    		timelineYear: "Year"
		    	},
			header: {
				left: '',
				right: '',
			},
			contentHeight: "auto",
			slotWidth: '100%',
			'slotEventOverlap': false,
			eventOverlap:false,
			slotLabelFormat: [
			    'MMMM YYYY',
			    'D [\n] ddd'
			],
			resourceAreaWidth: '18%',
			resourceLabelText: 'Classes',
			displayEventTime: false,
			resourceColumns: [
				{
					group: false,
					labelText: "Class",
					field: 'label'
				}
			],

			/*	Resources
			========================================= */
			resources: [
				{% for class in classes %}
					{
						id: "{{ class.pk }}",
						label: "Class",
					},
				{% endfor %}
			],


			/*	Events
			========================================= */
			events: [
				{% for class in classes %}
					{
						id: "{{ class.pk }}",
						resourceId: "{{ class.pk }}",
						title: '{{ class.name }}\n{{ class.start.time }} / {{ class.end.time }}',
						start: '{{ class.start.date }}',
						end: '{{ class.end.date }}',
						allDay: false,
						color: "{{ preference.calendar_color_class }}",
						borderColor: "{{ preference.calendar_color_class }}",
						url: "/classes/edit/{{ class.pk }}/",
					},
				{% endfor %}
			],
		});
	});
</script>


<!--=====================================================
	Scheduler - Tour
=====================================================-->
<script>

	$(function() {

		function get_date(){
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1;
			var yyyy = today.getFullYear();

			if(dd<10) {
			    dd='0'+dd
			}
			if(mm<10) {
			    mm='0'+mm
			}
			return mm+'/'+dd+'/'+yyyy;
		};

		$('#scheduler-tour').fullCalendar({
			defaultView: 'timelineMonth',
			editable: false,
			now: get_date(),
			scrollTime: '00:00',
			timeFormat: 'ha',
			displayEventEnd: true,
			buttonText: {
		    		prev: "Prev",
		    		next: "Next",
		    		today: "Today",
		    		timelineMonth: "Month",
		    		timelineYear: "Year"
		    	},
			header: {
				left: '',
				right: '',
			},
			contentHeight: "auto",
			slotWidth: '100%',
			'slotEventOverlap': false,
			eventOverlap:false,
			slotLabelFormat: [
			    'MMMM YYYY',
			    'D [\n] ddd'
			],
			resourceAreaWidth: '18%',
			resourceLabelText: 'Tours',
			displayEventTime: false,
			resourceColumns: [
				{
					group: false,
					labelText: "Tour",
					field: 'label'
				}
			],

			/*	Resources
			========================================= */
			resources: [
				{% for tour in tours %}
					{
						id: "{{ tour.pk }}",
						label: "Tour",
					},
				{% endfor %}
			],


			/*	Events
			========================================= */
			events: [
				{% for tour in tours %}
					{
						id: "{{ tour.pk }}",
						resourceId: "{{ tour.pk }}",
						title: '{{ tour.name }}\n{{ tour.date_start }} / {{ tour.date_end }}',
						start: '{{ tour.date_start }}',
						end: '{{ tour.date_end }}',
						allDay: false,
						color: "{{ preference.calendar_color_tour }}",
						borderColor: "{{ preference.calendar_color_tour }}",
						url: "/tours/edit/{{ tour.pk }}/",
					},
				{% endfor %}
			],
		});
	});
</script>





<!--	Scheduler Customization
========================================= -->
<script>
	$(function() {
		$("#scheduler-class .fc-head, #scheduler-tour .fc-head").toggleClass("hidden", true);

		$('#scheduler-bike .fc-next-button').onchange = function() {
			$('#scheduler-class .fc-next-button, #scheduler-tour .fc-next-button').submit();
		};
		
	});
</script>




 {% endblock %}
