<!--======================
 *  Author:		Dave Luke Jr
 *  Company:	CenterStack.io
 *  Description:	checkin.html
 *======================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load humanize %}
{% load mathfilters %}
{% load staticfiles %}
{% block content_site %}



<!--	Checkin
========================================= -->
<form action="{% url 'workflow' fn='checkin' %}" method="post" role="form">
	{% csrf_token %}
	<div class="row">
		<div class="pi-col-sm-7">
			<div class="portlet light portlet-fit">
				<div class="portlet-title">
					<div class="caption">
						<i class="pe-7s-download rotate--90"> </i>
						<span class="caption-subject capitalize"> Check-In Form </span>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row">

						{% if CheckinForm.errors %}
							{% for error in CheckinForm.errors %}
								<p class="pi-text-center font-mt-red capitalize fs-18">Error: {{ error|escape }}</p>
							{% endfor %}
						{% endif %}

						<div class="pi-col-md-12 pi-section-white m-t-10">
							<div class="pi-row pi-grid-small-margins">


								<!--	Customer
								========================================= -->
								<div class="pi-col-sm-6">
									<div class="form-group">
										<label for="label-reservation-phone"> Customer </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-user"> </i>
											</span>
											{{ CheckinForm.customer | add_class:"form-control" }}
											<span class="input-group-addon input-right expandable">
												<i class="pe-is-i-angle-down"></i>
											</span>
											<a href="{% url 'customer_new' %}" class="input-group-addon input-right fk">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>


								<!--	Bike
								========================================= -->
								<div class="pi-col-sm-6">
									<div class="form-group">
										<label for="label-reservation-phone"> Bike </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-bicycle"> </i>
											</span>
											{{ CheckinForm.bike | add_class:"form-control" }}
											<span class="input-group-addon input-right expandable">
												<i class="pe-is-i-angle-down"></i>
											</span>
											<a href="{% url 'bike_new' %}" class="input-group-addon input-right fk">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>
								

								<!--	Checkin Milage
								========================================= -->
								<div class="pi-col-sm-6">
									<div class="form-group">
										<label for="label-milage"> Check-In Milage</label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="icon-ecommerce_graph_increase"> </i>
											</span>
											{{ CheckinForm.checkin_milage | add_class:"form-control" }}
										</div>
									</div>
								</div>

								<!--	Checkin Milage
								========================================= -->
								<div class="pi-col-sm-6">
									<div class="form-group">
										<label for="label-milage"> Check-In Milage</label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="icon-ecommerce_graph_increase"> </i>
											</span>
											{{ CheckinForm.checkin_milage | add_class:"form-control" }}
										</div>
									</div>
								</div>


								<!--	Trip Milage
								========================================= -->
								<div class="pi-col-sm-6">
									<div class="form-group">
										<label for="label-milage"> Check-In Milage</label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="icon-ecommerce_graph_increase"> </i>
											</span>
											{{ reservation.trip_milage }}
										</div>
									</div>
								</div>


								<!--	Checkin Time Actual
								========================================= -->
								<div class="pi-col-sm-6">
									<div class="form-group">
										<label for="label-milage"> Datetime </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="icon-basic_elaboration_calendar_next"> </i>
											</span>
											{{ CheckinForm.checkin_datetime_actual | add_class:"form-control datetimepicker" }}
											<span class="input-group-addon input-right expandable">
												<i class="pe-is-i-angle-down"></i>
											</span>
										</div>
									</div>
								</div>


								<!--	Section
								========================================= -->
								<div class="pi-col-sm-12 m-b-0 p-l-0 m-l-10" style="border-bottom: 1px solid #EEE; width: 98%;">
									<label class="m-t-20 fw-400" for="label-reservation-phone"> Bike's Condition - Upload  Images </label>
								</div>

								
								<!--	Image 1
								========================================= -->
								<div class="pi-col-sm-4">
									<div class="form-group">
										<label for="label-reservation-phone"> </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-photo"> </i>
											</span>
											{{ CheckinForm.checkin_img_1 | add_class:"form-control" }}
										</div>
									</div>
								</div>


								<!--	Image 2
								========================================= -->
								<div class="pi-col-sm-4">
									<div class="form-group">
										<label for="label-reservation-phone">  </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-photo"> </i>
											</span>
											{{ CheckinForm.checkin_img_2 | add_class:"form-control" }}
										</div>
									</div>
								</div>


								<!--	Image 3
								========================================= -->
								<div class="pi-col-sm-4">
									<div class="form-group">
										<label for="label-reservation-phone">  </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-photo"> </i>
											</span>
											{{ CheckinForm.checkin_img_3 | add_class:"form-control" }}
										</div>
									</div>
								</div>


								<!--	Image 4
								========================================= -->
								<div class="pi-col-sm-4">
									<div class="form-group">
										<label for="label-reservation-phone">  </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-photo"> </i>
											</span>
											{{ CheckinForm.checkin_img_4 | add_class:"form-control" }}
										</div>
									</div>
								</div>


								<!--	Image 5
								========================================= -->
								<div class="pi-col-sm-4">
									<div class="form-group">
										<label for="label-reservation-phone">  </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-photo"> </i>
											</span>
											{{ CheckinForm.checkin_img_5 | add_class:"form-control" }}
										</div>
									</div>
								</div>


								<!--	Image 6
								========================================= -->
								<div class="pi-col-sm-4">
									<div class="form-group">
										<label for="label-reservation-phone">  </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-photo"> </i>
											</span>
											{{ CheckinForm.checkin_img_6 | add_class:"form-control" }}
										</div>
									</div>
								</div>
							</div>


							<!--	Checkin Notes
							========================================= -->
							<div class="pi-row pi-grid-small-margins">
								<div id="notes" class="pi-col-sm-12 p-rl-7">
									<div class="form-group">
										<label for="label-notes"> Notes </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-comment"> </i>
											</span>
											{{ CheckinForm.checkin_notes | add_class:"form-control" | attr:"rows:5" | attr:"type:textarea" }}
										</div>
									</div>
								</div>
							</div>


							<!--	Submit / Close Buttons
							========================================= -->
							<p class="pi-text-center m-t-40">
								<a href="{% url 'index' %}" class="btn mt-grey-gallery-bg p-rl-40 m-r-5"> Cancel</a>
								<button type="submit" value="{{ reservation.pk }}" name="pk" class="btn base p-rl-40"> Check-In </button>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>



{% endblock %}