<!--============================
 *  Author:		Dave Luke Jr
 *  Company:	CenterStack.io
 *  Description:	reservation_form.html
 *============================-->
 {% extends "base.html" %}
 {% load widget_tweaks %}
 {% load humanize %}
 {% load mathfilters %}
 {% load customtags %}
 {% load staticfiles %}
 {% block content_site %}


<!--	Reservations
========================================= -->
<div class="pi-row">

	<form action="" method="post" role="form">
		{% csrf_token %}

		<div class="col-md-8">
			<div class="portlet light portlet-fit">
				<div class="portlet-title">
					<div class="caption">
						<i class="icon-ecommerce_sales"> </i>
						<span class="caption-subject base-font capitalize"> Reservation Details </span>
					</div>
					<div class="actions pull-right" style="width:190px;">
						<div class="form-group m-b-8">
							<div class='input-group p-l-10'>
								{{ ReservationForm.status | add_class:"form-control" }}
								<span class="input-group-addon input-right expandable">
									<i class="icon-angle-down"></i>
								</span>
							</div>
						</div>
					</div>
				</div>
				<div class="portlet-body">
					<div class="row"> {% if ReservationForm.errors %} {% for error in ReservationForm.errors %}
						<p class="pi-text-center font-mt-red capitalize fs-18">Error: {{ error|escape }}</p> {% endfor %} {% endif %}
						<div class="pi-col-sm-12 pi-section-white m-t-10">
							
							<div class="pi-row pi-grid-small-margins">

								<!--	Customer
								========================================= -->
								<div class="pi-col-sm-6">
									<div class="form-group">
										<label for="label-reservation-phone"> Customer </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-user"> </i>
											</span>
											{{ ReservationForm.customer | add_class:"form-control" }}
											<span class="input-group-addon input-right expandable">
												<i class="icon-angle-down"></i>
											</span>
											<a href="{% url 'customer_new' %}" class="input-group-addon input-right fk">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>

								<!--	Group
								========================================= -->
								<div class="pi-col-sm-6">
									<div class="form-group">
										<label for="label-reservation-phone"> Group </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-users"> </i>
											</span>
											{{ ReservationForm.group | add_class:"form-control" }}
											<span class="input-group-addon input-right expandable">
												<i class="icon-angle-down"></i>
											</span>
											<a href="/admin/reservations/group/add/" class="input-group-addon input-right fk">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>


								<!--	Checkout & Checkin Dates
								========================================= -->
								<div class="pi-col-sm-6">
									<div class="form-group">
										<label for="label-reservation-phone"> Check-Out </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-date"> </i>
											</span>
											{{ ReservationForm.checkout_datetime | add_class:"form-control datetimepicker" }}
											<span class="input-group-addon input-right expandable">
												<i class="icon-angle-down"></i>
											</span>
										</div>
									</div>
								</div>
								<div class="pi-col-sm-6">
									<div class="form-group">
										<label for="label-reservation-phone"> Check-In </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-date"> </i>
											</span>
											{{ ReservationForm.checkin_datetime | add_class:"form-control datetimepicker" }}
											<span class="input-group-addon input-right expandable">
												<i class="icon-angle-down"></i>
											</span>
										</div>
									</div>
								</div>

								<!--	Rental Type
								========================================= -->
								<div id="rental_type" class="pi-col-sm-12">
									<div class="form-group">
										<label for="label-reservation-phone"> Reservation Type </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-network"> </i>
											</span>
											{{ ReservationForm.rental_type | add_class:"form-control" }}
											<span class="input-group-addon input-right expandable">
												<i class="icon-angle-down"></i>
											</span>
										</div>
									</div>
								</div>

								<!--	Storage Bike
								========================================= -->
								<div id="storage_bike" class="pi-col-sm-12 hidden">
									<div class="form-group">
										<label for="label-reservation"> Storage Bike </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-box1"> </i>
											</span>
											{{ ReservationForm.storage_bike | add_class:"form-control" | attr:"placeholder: Enter Make / Model" }}
										</div>
									</div>
								</div>
							

								<!--	Tour
								========================================= -->
								<div id="tour" class="pi-col-sm-12 hidden">
									<div class="form-group">
										<label for="label-reservation-phone"> Tour </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-map-2"> </i>
											</span>
											{{ ReservationForm.tour | add_class:"form-control" }}
											<span class="input-group-addon input-right expandable">
												<i class="icon-angle-down"></i>
											</span>
											<a href="{% url 'tour_new' %}" class="input-group-addon input-right fk">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>


								<!--	Custom Route
								========================================= -->
								<div id="custom" class="pi-col-sm-12 hidden">
									<div class="form-group">
										<label for="label-reservation-phone"> Custom Route </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-compass"> </i>
											</span>
											{{ ReservationForm.custom | add_class:"form-control" }}
											<span class="input-group-addon input-right expandable">
												<i class="icon-angle-down"></i>
											</span>
											<a href="{% url 'tour_new' %}" class="input-group-addon input-right fk">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>


								<!--	Class
								========================================= -->
								<div id="classes" class="pi-col-sm-12 hidden">
									<div class="form-group">
										<label for="label-reservation-phone"> Class </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-display1"> </i>
											</span>
											{{ ReservationForm.classes | add_class:"form-control" }}
											<span class="input-group-addon input-right expandable">
												<i class="icon-angle-down"></i>
											</span>
											<a href="{% url 'class_new' %}" class="input-group-addon input-right fk">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>



								<!--	Bike
								========================================= -->
								<div id="bike" class="pi-col-sm-12 hidden">
									<div class="form-group">
										<label for="label-reservation-phone"> Bike </label>
										<div class='input-group'>
											<span class="input-group-addon input-left">
												<i class="pe-7s-bicycle"> </i>
											</span>
											{{ ReservationForm.bike | add_class:"form-control" }}
											<span class="input-group-addon input-right expandable">
												<i class="icon-angle-down"></i>
											</span>
											<a href="{% url 'bike_new' %}" class="input-group-addon input-right fk">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>


								<!--	Accessories
								========================================= -->
								<div id="accessories" class="pi-col-sm-12 m-b-20 hidden">
									<div class="form-group m-b-0">
										<label class="fw-400 p-l-0"> Accessories </label>
										<div class='input-group'>
											{{ ReservationForm.accessories | add_class:"checkbox" }}
											<a href="/admin/bikes/accessories/add/" class="input-group-addon input-right fk">
												<i class="fa fa-plus"></i>
											</a>
										</div>
									</div>
								</div>


								<!--	Notes
								========================================= -->
								<div id="notes" class="pi-col-sm-12 hidden">
									<div class="form-group">
										<label for="label-customer-phone"> Notes </label>
										<div class="pi-input-with-icon">
											<div class="pi-input-icon">
												<i class="pe-7s-comment"> </i>
											</div>
											{{ ReservationForm.notes | add_class:"form-control p-l-40" | attr:"rows:5" | attr:"type:textarea" }}
										</div>
									</div>
								</div>


								<!--	Submit / Close Buttons
								========================================= -->
								<p class="pi-text-center m-t-40">
									<button type="submit" value="{{ reservation.pk }}" name="delete" class="btn mt-grey-gallery-bg p-rl-40 m-r-5"> Delete
										<i class="pe-7s-close-circle right-icon"></i>
									</button>
									<button type="submit" value="{{ reservation.pk }}" name="save" class="btn base p-rl-40"> Save
										<i class="pe-7s-check right-icon"></i>
									</button>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>


<!--=====================================================
	Javascript
=====================================================-->
<script>
$(function() {
	var table = $('#bike_pricing');
	table.dataTable({
		"bStateSave": true,
		"searchable": false,
		"paginate": false,
		"info": false,
		"searching": false,
		"sort": false,
	});
});
</script>


<!--	Reservation Form Script
========================================= -->
<script>
$(function() {

	/*	Reload
	========================================= */
	var rental_type = $('option:selected', $("#id_rental_type")).text();
	if (rental_type === "---------") {
		$('#bike, #accessories, #tour, #classes, #storage_bike, #notes, #custom').toggleClass('hidden', true)
	} else if (rental_type === "Bike") {
		$('#bike, #accessories, #notes').toggleClass('hidden', false)
		$('#tour, #classes, #storage_bike, #custom').toggleClass('hidden', true)
	} else if (rental_type === "Tour") {
		$('#tour, #accessories, #notes').toggleClass('hidden', false)
		$('#bike, #classes, #storage_bike, #custom').toggleClass('hidden', true)
	} else if (rental_type === "Tour / Bike") {
		$('#bike, #tour, #accessories, #notes').toggleClass('hidden', false)
		$('#classes, #storage_bike, #custom').toggleClass('hidden', true)
	} else if (rental_type === "Class") {
		$('#classes, #notes').toggleClass('hidden', false)
		$('#bike, #accessories, #tour, #storage_bike, #custom').toggleClass('hidden', true)
	} else if (rental_type === "Class / Bike") {
		$('#classes, #bike, #accessories, #notes').toggleClass('hidden', false)
		$('#tour, #storage_bike, #custom').toggleClass('hidden', true)
	} else if (rental_type === "Custom") {
		$('#custom, #notes').toggleClass('hidden', false)
		$('#bike, #accessories, #classes, #tour, #storage_bike').toggleClass('hidden', true)
	} else if (rental_type === "Custom / Bike") {
		$('#custom, #bike, #accessories, #notes').toggleClass('hidden', false)
		$('#tour, #classes, #storage_bike, ').toggleClass('hidden', true)
	} else if (rental_type === "Storage") {
		$('#bike, #tour, #classes, #accessories, #notes').toggleClass('hidden', true);
		$('#storage_bike, #custom').toggleClass('hidden', false);
	}

	/*	On-Change
	========================================= */
	$("#id_rental_type").change(function() {
		var rental_type = $('option:selected', this).text();
		$('#id_tour').val("---------");
		$('#id_bike').val("---------");
		$('#id_classes').val("---------");
		$('#id_storage_bike').val("");

		/*	Bike Accessories
		========================================= */
		var accessories = $("#accessories li span")
		$.each(accessories, function(ii, val) {
			$(val).removeClass("checked");
		});
		var accessories = $("#accessories li input")
		$.each(accessories, function(ii, val) {
			$(val).prop("checked", false);
		});
		
		var rental_type = $('option:selected', $("#id_rental_type")).text();
		if (rental_type === "---------") {
			$('#bike, #accessories, #tour, #classes, #storage_bike, #notes, #custom').toggleClass('hidden', true)
		} else if (rental_type === "Bike") {
			$('#bike, #accessories, #notes').toggleClass('hidden', false)
			$('#tour, #classes, #storage_bike, #custom').toggleClass('hidden', true)
		} else if (rental_type === "Tour") {
			$('#tour, #accessories, #notes').toggleClass('hidden', false)
			$('#bike, #classes, #storage_bike, #custom').toggleClass('hidden', true)
		} else if (rental_type === "Tour / Bike") {
			$('#bike, #tour, #accessories, #notes').toggleClass('hidden', false)
			$('#classes, #storage_bike, #custom').toggleClass('hidden', true)
		} else if (rental_type === "Class") {
			$('#classes, #notes').toggleClass('hidden', false)
			$('#bike, #accessories, #tour, #storage_bike, #custom').toggleClass('hidden', true)
		} else if (rental_type === "Class / Bike") {
			$('#classes, #bike, #accessories, #notes').toggleClass('hidden', false)
			$('#tour, #storage_bike, #custom').toggleClass('hidden', true)
		} else if (rental_type === "Custom") {
			$('#custom, #notes').toggleClass('hidden', false)
			$('#bike, #accessories, #classes, #tour, #storage_bike').toggleClass('hidden', true)
		} else if (rental_type === "Custom / Bike") {
			$('#custom, #bike, #accessories, #notes').toggleClass('hidden', false)
			$('#tour, #classes, #storage_bike, ').toggleClass('hidden', true)
		} else if (rental_type === "Storage") {
			$('#bike, #tour, #classes, #accessories, #notes').toggleClass('hidden', true);
			$('#storage_bike, #custom').toggleClass('hidden', false);
		}
	});
});
</script>

{% endblock %}
