<!--==========================
*  Author:		Dave Luke Jr
*  Company:	CenterStack.io
*  Description:	about.html
*==========================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load customtags %}
{% load staticfiles %}
{% block content %}


<!--	Hero Image
========================================= -->
<div class="banner-state vertical-align text-center banner-home">
	<div class="container-top">
		<div class="container">
			<div class="banner-title m-top-0">
				<div>
					<img width="300" src="{% static 'img/logo/logo-white.svg' %}" />
				</div>
			</div>
		</div>
	</div>
</div>



{% endblock %}
