<!--==========================
*  Author:		Dave Luke Jr
*  Company:	CenterStack.io
*  Description:	index.html
*==========================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load customtags %}
{% load staticfiles %}
{% block content %}



<section class="hero-full text-light parallax-section track" id="hero">
	<div class="wrapper-small index" id="page-title">
		<h2 style="letter-spacing: .75px;"><strong> World Class<br/><span class="colored"> Personal Training </span><br/> In New York City </strong></h2>
		<p class="m-t-15">
			<a class="sr-button button-small button-5 circled" href="{% url 'contact' %}"> Get In Touch </a>
			<a class="sr-button button-small button-4 circled" href="{% url 'train-with-us' %}"> Train With Us </a>
		</p>
	</div>
</section>



{% endblock %}
