<!--==========================
*  Author:		Dave Luke Jr
*  Company:	CenterStack.io
*  Description:	blog.html
*==========================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load customtags %}
{% load staticfiles %}
{% block content %}


<!--	Page Title
========================================= -->
<section class="hero-auto text-light parallax-section" style="background:url({% static 'img/new/bridge.jpg' %}; background-size: cover;"  id="hero">
	<div class="wrapper align-center" id="page-title">
		<h1><strong> Testimonials </strong></h1>
	</div>
</section>

<section id="page-body">
	<div class="wrapper">
		<div class="column-section boxed-spaced adapt-height vertical-center clearfix">
			<div class="column one-half  testimonial testimonial-image-bg">
				<div class="testimonial-image">
					<img alt="SEO NAME" src="{% static 'sudo/files/uploads/900x600-light.jpg' %}" />
				</div>
				<div class="testimonial-content">
					<blockquote> Lorem ipsum dolor sit amet, consectetuer adipiscing elit ligula eget. Cum sociis natoque penatibus et magnis dis parturient montes. </blockquote>
					<h5 class="testimonial-name"> Anna Greenfield </h5>
					<h6 class="testimonial-meta subtitle-1"> Spotify </h6>
				</div>
			</div>
			<div class="column one-half  testimonial testimonial-image-bg">
				<div class="testimonial-image">
					<img alt="SEO NAME" src="{% static 'sudo/files/uploads/900x600-light.jpg' %}" />
				</div>
				<div class="testimonial-content">
					<blockquote> Lorem ipsum dolor sit amet, consectetuer adipiscing elit ligula eget. Cum sociis natoque penatibus et magnis dis parturient montes. </blockquote>
					<h5 class="testimonial-name"> Anna Greenfield </h5>
					<h6 class="testimonial-meta subtitle-1"> Spotify </h6>
				</div>
			</div>
			<div class="column one-half testimonial testimonial-image-bg">
				<div class="testimonial-image">
					<img alt="SEO NAME" src="{% static 'sudo/files/uploads/900x600-light.jpg' %}" />
				</div>
				<div class="testimonial-content">
					<blockquote> Lorem ipsum dolor sit amet, consectetuer adipiscing elit ligula eget. Cum sociis natoque penatibus et magnis dis parturient montes. </blockquote>
					<h5 class="testimonial-name"> Anna Greenfield </h5>
					<h6 class="testimonial-meta subtitle-1"> Spotify </h6>
				</div>
			</div>
			<div class="column one-half testimonial testimonial-image-bg">
				<div class="testimonial-image">
					<img alt="SEO NAME" src="{% static 'sudo/files/uploads/900x600-light.jpg' %}" />
				</div>
				<div class="testimonial-content">
					<blockquote> Lorem ipsum dolor sit amet, consectetuer adipiscing elit ligula eget. Cum sociis natoque penatibus et magnis dis parturient montes. </blockquote>
					<h5 class="testimonial-name"> Anna Greenfield </h5>
					<h6 class="testimonial-meta subtitle-1"> Spotify </h6>
				</div>
			</div>
			<div class="column one-half testimonial testimonial-image-bg">
				<div class="testimonial-image">
					<img alt="SEO NAME" src="{% static 'sudo/files/uploads/900x600-light.jpg' %}" />
				</div>
				<div class="testimonial-content">
					<blockquote> Lorem ipsum dolor sit amet, consectetuer adipiscing elit ligula eget. Cum sociis natoque penatibus et magnis dis parturient montes. </blockquote>
					<h5 class="testimonial-name"> Anna Greenfield </h5>
					<h6 class="testimonial-meta subtitle-1"> Spotify </h6>
				</div>
			</div>
			<div class="column one-half last-col testimonial testimonial-image-bg">
				<div class="testimonial-image">
					<img alt="SEO NAME" src="{% static 'sudo/files/uploads/900x600-light.jpg' %}" />
				</div>
				<div class="testimonial-content">
					<blockquote> Lorem ipsum dolor sit amet, consectetuer adipiscing elit ligula eget. Cum sociis natoque penatibus et magnis dis parturient montes. </blockquote>
					<h5 class="testimonial-name"> Anna Greenfield </h5>
					<h6 class="testimonial-meta subtitle-1"> Spotify </h6>
				</div>
			</div>
		</div>
		<div class="spacer-big"></div>
	</div>
</section>


{% endblock %}
