<!--==========================
*  Author:		Dave Luke Jr
*  Company:	CenterStack.io
*  Description:	about.html
*==========================-->
{% extends "base.html" %}
{% load widget_tweaks %}
{% load customtags %}
{% load staticfiles %}
{% block content %}


<!--	Page Title
========================================= -->
<section class="hero-big text-light parallax-section" style="background-image: url({% static 'img/stak/Bond6-196.jpg' %}); background-size: cover; background-position: center center;"  id="hero">
	<div class="wrapper align-center" id="page-title">
		<h1><strong> What <span class="coloredd">We</span> Do </strong></h1>
	</div>
</section>


<!--	Our Mission
========================================= -->
<!-- <section class="p-t-0" id="page-body">
	<div class="column-section boxed-sticky adapt-height clearfix">
		<div class="column one-half has-animation p-t-0" data-delay="200">
			<ul id="hexGrid">
				<li class="hex">
					<a class="hexIn white-bg" href="#">
						<h1>STRENGTH TRAINING</h1>
						<p>Traditional and contemporary modes of strength training using several forms of resistance.</p>
					</a>
				</li>
				<li class="hex">
					<a class="hexIn white-bg" href="#">
						<h1>CARDIOVASCULAR TRAINING</h1>
						<p>Aerobic and anaerobic exercise for improving endurance and speed.</p>
					</a>
				</li>
				<li class="hex">
					<a class="hexIn white-bg" href="#">
						<h1>HIIT (High Intensity Interval Training)</h1>
						<p>A mix of high and low intensity interval exercises for a complete metabolic and fat-burning workout.</p>
					</a>
				</li>
				<li class="hex">
					<a class="hexIn white-bg" href="#">
						<img src="{% static 'img/hexagon/6.svg' %}">
						
					</a>
				</li>
				<li class="hex">
					<a class="hexIn white-bg" href="#">
						<h1>FLEXIBILITY AND MOBILITY TRAINING</h1>
						<p>Corrective exercise to improve flexibility, mobility, and muscular balance.</p>
						
					</a>
				</li>
				<li class="hex">
					<a class="hexIn white-bg" href="#">
						<h1>FUNCTIONAL TRAINING</h1>
						<p>Training for everyday activities to improve joint stability, mobility, and motor patterns.</p>
					</a>
				</li>
				<li class="hex">
					<a class="hexIn white-bg" href="#">
						<h1>NUTRITIONAL GUIDANCE</h1>
						<p>Nutritional advice, accountability, and motivation supported by our years of practical experience and knowledge.</p>
					</a>
				</li>
			</ul>
		</div>
		<div class="column one-half bigpadding last-col has-animation" style="background:#ffffff;">
			<h2 class="p-b-5 p-t-20"><strong> Our Mission </strong></h2>
			<hr class="small colored" />
			<p class="p-t-5"> Bond 6 Fitness is New York City's premiere private personal training company. Founded by head trainer Blair Small, Bond 6 Fitness has one mission: transform your body and health while reaching optimum levels of fitness. Our emphasis is on ideal body composition through strength and endurance training. Bond 6 customizes training to each client's specific goals, making sure to push and challenge you just the right amount to see maximum results. We believe strongly in developing healthy lifestyles with our clients, through inspiration and educated guidance. It is our job to get you eating right and doing the necessary work outside of sessions to reach and sustain your goals. Training with Bond 6 is the complete fitness and health experience. </p>
			<p class="p-t-20"> Lorem ipsum Officia nisi consequat irure reprehenderit adipisicing. Lorem ipsum Veniam amet occaecat Excepteur tempor Duis dolore. Lorem ipsum Ex in occaecat aute Excepteur velit. Lorem ipsum Anim nulla reprehenderit elit proident deserunt esse. Lorem ipsum Dolor incididunt fugiat proident ex est deserunt aliquip mollit aliquip do. </p>
		</div>
	</div>
</section> -->


<!--	Services
========================================= -->
<section id="page-body" class="p-b-80">
	<div class="wrapper-small">\
		<h3 class="align-center p-b-3"><strong> Our Mission </strong></h3>
		<hr class="align-center small thick colored" />
		<p class="text-justify fs-16 p-t-3"> Bond 6 Fitness is New York City's premiere private personal training company. Founded by head trainer Blair Small, Bond 6 Fitness has one mission: transform your body and health while reaching optimum levels of fitness. Our emphasis is on ideal body composition through strength and endurance training. Bond 6 customizes training to each client's specific goals, making <br><br>sure to push and challenge you just the right amount to see maximum results. We believe strongly in developing healthy lifestyles with our clients, through inspiration and educated guidance. It is our job to get you eating right and doing the necessary work outside of sessions to reach and sustain your goals. Training with Bond 6 is the complete fitness and health experience.</p>
	</div>
</section>
<hr>


<section id="page-body" class="p-t-40">
	<div class="column-section boxed-sticky adapt-height clearfix p-rl-40">
		<div class="column one-half bigpadding has-animation" style="background:#ffffff;">
			<h3 class="p-b-3"><strong> About Blair </strong></h3>
			<hr class="small thick colored" />
			<p class="p-b-40 fs-16 p-t-3"> Blair has been training clients in New York City for over 7 years, with more than 10,000 sessions under his belt. He cares deeply about helping others reach their fitness goals, and is dedicated to teaching a lifestyle of health. <br><br>Blair is constantly expanding his knowledge and education, through coursework, new certifications, and practical experiences in the fitness industry. "We want clients to experience how good it feels to be strong, to be fit, to eat well, and to be happy about how you look. We are 100% committed to leading you there." </p>
		</div>
		<div class="column one-half last-col has-animation" data-delay="200" style="background:url({% static 'img/stak/Bond6-302.jpg' %}) center center;background-size:cover;"> </div>
	</div>
</section>



<section id="page-body" class="grey-bg p-b-100">
	<div class="wrapper">
		<h4 class="align-center"><strong> What We Do </strong></h4>
		<hr class="align-center small colored">
		<div class="column-section clearfix">
			<div class="column one-third">
				<div class="icon-box">
					<div class="icon-box-icon">
						<i class="ion ion-4x ion-ios-infinite-outline colored"> </i>
					</div>
					<div class="icon-box-content">
						<h5 class="uppercase"> STRENGTH TRAINING </h5>
						<p> Traditional and contemporary modes of strength training using several forms of resistance. </p>
					</div>
				</div>
			</div>
			<div class="column one-third">
				<div class="icon-box">
					<div class="icon-box-icon">
						<i class="ion ion-4x ion-ios-bolt-outline colored"> </i>
					</div>
					<div class="icon-box-content">
						<h5 class="uppercase"> CARDIOVASCULAR TRAINING </h5>
						<p> Aerobic and anaerobic exercise for improving endurance and speed. </p>
					</div>
				</div>
			</div>
			<div class="column one-third last-col">
				<div class="icon-box">
					<div class="icon-box-icon">
						<i class="ion ion-4x ion-ios-star-outline colored"> </i>
					</div>
					<div class="icon-box-content">
						<h5 class="uppercase"> HIIT (High Intensity Interval Training) </h5>
						<p> A mix of high and low intensity interval exercises for a complete metabolic and fat-burning workout. </p>
					</div>
				</div>
			</div>
		</div>
		<div class="column-section clearfix">
			<div class="column one-third">
				<div class="icon-box">
					<div class="icon-box-icon">
						<i class="ion ion-4x ion-ios-color-wand-outline colored"> </i>
					</div>
					<div class="icon-box-content">
						<h5 class="uppercase"> FLEXIBILITY AND MOBILITY TRAINING </h5>
						<p> Corrective exercise to improve flexibility, mobility, and muscular balance. </p>
					</div>
				</div>
			</div>
			<div class="column one-third">
				<div class="icon-box">
					<div class="icon-box-icon">
						<i class="ion ion-4x ion-ios-book-outline colored"> </i>
					</div>
					<div class="icon-box-content">
						<h5 class="uppercase"> FUNCTIONAL TRAINING </h5>
						<p> Training for everyday activities to improve joint stability, mobility, and motor patterns. </p>
					</div>
				</div>
			</div>
			<div class="column one-third last-col">
				<div class="icon-box">
					<div class="icon-box-icon">
						<i class="ion ion-4x ion-ios-videocam-outline colored"> </i>
					</div>
					<div class="icon-box-content">
						<h5 class="uppercase"> NUTRITIONAL GUIDANCE </h5>
						<p> Nutritional advice, accountability, and motivation supported by our years of practical experience and knowledge. </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
	
<!--	About
========================================= -->


<section id="page-body " class="grey-bg p-t-60">
	<div class="wrapper">
		<div class="column-section clearfix">
			<div class="column one-half">
				<h4 class="m-b-10"> Our Mission </h4>
				<p> Bond 6 Fitness is New York City's premiere private personal training company. Founded by head trainer Blair Small, Bond 6 Fitness has one mission: transform your body and health while reaching optimum levels of fitness. Our emphasis is on ideal body composition through strength and endurance training. Bond 6 customizes training to each client's specific goals, making sure to push and challenge you just the right amount to see maximum results. We believe strongly in developing healthy lifestyles with our clients, through inspiration and educated guidance. It is our job to get you eating right and doing the necessary work outside of sessions to reach and sustain your goals. Training with Bond 6 is the complete fitness and health experience.</p>
			</div>
			<div class="column one-half last-col">
				<h4 class="m-b-10"> About Blair </h4>
				<p> Blair has been training clients in New York City for over 7 years, with more than 10,000 sessions under his belt. He cares deeply about helping others reach their fitness goals, and is dedicated to teaching a lifestyle of health. Blair is constantly expanding his knowledge and education, through coursework, new certifications, and practical experiences in the fitness industry. "We want clients to experience how good it feels to be strong, to be fit, to eat well, and to be happy about how you look. We are 100% committed to leading you there." </p>
			</div>
		</div>
		<div class="spacer-big"> </div>
	</div>
</section>



<section id="page-body">
	<div class="wrapper-small">
		<ul id="hexGrid">
			<li class="hex">
				<a class="hexIn grey-bg" href="#">
					<h1>STRENGTH TRAINING</h1>
					<p>Traditional and contemporary modes of strength training using several forms of resistance.</p>
				</a>
			</li>
			<li class="hex">
				<a class="hexIn grey-bg" href="#">
					<h1>CARDIOVASCULAR TRAINING</h1>
					<p>Aerobic and anaerobic exercise for improving endurance and speed.</p>
				</a>
			</li>
			<li class="hex">
				<a class="hexIn grey-bg" href="#">
					<h1>HIIT (High Intensity Interval Training)</h1>
					<p>A mix of high and low intensity interval exercises for a complete metabolic and fat-burning workout.</p>
				</a>
			</li>
			<li class="hex">
				<a class="hexIn white-bg" href="#">
					<img src="{% static 'img/hexagon/6.svg' %}">
					
				</a>
			</li>
			<li class="hex">
				<a class="hexIn grey-bg" href="#">
					<h1>FLEXIBILITY AND MOBILITY TRAINING</h1>
					<p>Corrective exercise to improve flexibility, mobility, and muscular balance.</p>
					
				</a>
			</li>
			<li class="hex">
				<a class="hexIn grey-bg" href="#">
					<h1>FUNCTIONAL TRAINING</h1>
					<p>Training for everyday activities to improve joint stability, mobility, and motor patterns.</p>
				</a>
			</li>
			<li class="hex">
				<a class="hexIn grey-bg" href="#">
					<h1>NUTRITIONAL GUIDANCE</h1>
					<p>Nutritional advice, accountability, and motivation supported by our years of practical experience and knowledge.</p>
				</a>
			</li>
		</ul>
	</div>
	<div class="spacer-big"></div>
</section>


	
{% endblock %}