<!DOCTYPE html> {% load staticfiles %}
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport" />
	<meta content="" name="description" />
	<meta content="CenterStack" name="author" />
	<link href="{% static 'massive/img/favicon.png' %}" rel="icon" type="image/png" />
	<title> Bond6 Fitness </title>
	<link href="http://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200italic,200" rel="stylesheet" type="text/css" />
	<link href="{% static 'massive/css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'massive/css/font-awesome.min.css' %}" rel="stylesheet" />
	<link href="{% static 'massive/css/magnific-popup.css' %}" rel="stylesheet" />
	<link href="{% static 'massive/css/shortcodes/shortcodes.css' %}" rel="stylesheet" />
	<link href="{% static 'massive/css/owl.carousel.css' %}" rel="stylesheet" />
	<link href="{% static 'massive/css/owl.theme.css' %}" rel="stylesheet" />
	<link href="{% static 'massive/css/style.css' %}" rel="stylesheet" />
	<link href="{% static 'massive/css/style-responsive.css' %}" rel="stylesheet" />
	<link href="{% static 'massive/css/default-theme.css' %}" rel="stylesheet" /> </head>

<body>
	<div id="tb-preloader">
		<div class="tb-preloader-wave"> </div>
	</div>
	<div class="wrapper">
		<header class=" header-full-width " id="header">
			<div class="header-sticky light-header ">
				<div class="container">
					<div class="menuzord" id="massive-menu">
						<a class="logo-brand" href="{% url 'massive-index' %}">
							<img alt="" class="retina" src="{% static 'massive/img/logo.png' %}" /> </a>
						<ul class="menuzord-menu pull-right">
							<li><a href="#"> Home </a></li>
							<li><a href="#"> About </a></li>
							<li><a href="#"> Exercises </a></li>
							<li><a href="#"> Blog </a></li>
							<li><a href="#"> Testimonials </a></li>
							<li><a href="#"> Contact </a></li>
							<li class="nav-icon nav-divider">
								<a href="javascript:void(0)"> | </a>
							</li>
							<li class="nav-icon">
								<a href="javascript:void(0)">
									<i class="fa fa-search"> </i> Search </a>
								<div class="megamenu megamenu-quarter-width search-box">
									<div class="megamenu-row">
										<div class="col12">
											<form role="form">
												<input class="form-control" placeholder="Search Here" type="text" />
											</form>
										</div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</header>
		<section class="page-title">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h3 class="text-uppercase"> About us </h3>
						<ol class="breadcrumb">
							<li><a href="#"> Home </a></li>
							<li><a href="#"> Pages </a></li>
							<li class="active"> About us </li>
						</ol>
					</div>
				</div>
			</div>
		</section>
		<section class="body-content">
			<div class="container">
				<div class="row page-content">
					<div class="col-md-12 ">
						<div class="text-center m-bot-100">
							<h3 class="text-uppercase"> we are here to meet your target </h3>
							<p> We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as digital is changing. We are a team of multi-skilled and curious digital specialists who are always up for a challenge. </p>
						</div>
					</div>
					<div class="col-md-12">
						<div class="post-list-aside">
							<div class="post-single">
								<div class="post-slider post-img text-center">
									<ul class="slides">
										<li data-thumb="img/about/about1.jpg">
											<a href="javascript:;" title="Freshness Photo">
												<img alt="" src="{% static 'massive/img/about/about1.jpg' %}" /> </a>
										</li>
										<li data-thumb="img/about/about2.jpg">
											<a href="javascript:;" title="Awesome Lightbox">
												<img alt="" src="{% static 'massive/img/about/about2.jpg' %}" /> </a>
										</li>
										<li data-thumb="img/about/about3.jpg">
											<a href="javascript:;" title="Massive UI Components">
												<img alt="" src="{% static 'massive/img/about/about3.jpg' %}" /> </a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row m-bot-80">
					<div class="col-md-8">
						<div class="">
							<h4 class="text-uppercase"> who we are </h4>
							<p class="column-two"> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
						</div>
					</div>
					<div class="col-md-4">
						<h4 class="text-uppercase"> Massive Skills </h4>
						<div class="progress massive-progress-alt">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar" role="progressbar"> HTML / CSS / JQUERY
								<span> 80% </span>
							</div>
						</div>
						<div class="progress massive-progress-alt">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" class="progress-bar" role="progressbar"> PHOTOSHOP
								<span> 90% </span>
							</div>
						</div>
						<div class="progress massive-progress-alt">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" class="progress-bar" role="progressbar"> GRAPHIC DESIGN
								<span> 75% </span>
							</div>
						</div>
						<div class="progress massive-progress-alt">
							<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="82" class="progress-bar" role="progressbar"> PHP / WORDPRESS
								<span> 82% </span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr/>
			<div class="page-content p-bot-0">
				<div class="container">
					<div class="row">
						<div class="heading-title text-center">
							<h3 class="text-uppercase"> why you will choose massive </h3>
						</div>
						<div class="col-md-4">
							<div class="">
								<h4 class="text-uppercase"> Clean Design </h4>
								<p> Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="">
								<h4 class="text-uppercase"> Built on Bootstrap </h4>
								<p> Rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
							</div>
						</div>
						<div class="col-md-4">
							<div class="">
								<h4 class="text-uppercase"> Solid Flexibility </h4>
								<p> Aperiam eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
							</div>
						</div>
					</div>
				</div>
				<div class="text-center responsive-img p-top-50">
					<img alt="" src="{% static 'massive/img/about/01.png' %}" />
				</div>
			</div>
			<div class="">
				<div class="gray-border-factor dark">
					<div class=" inline-block">
						<div class="col-md-3 f-grid">
							<div class="fun-factor alt">
								<div class="icon">
									<i class="icon-layers"> </i>
								</div>
								<div class="fun-info">
									<h1 class="timer theme-color" data-from="0" data-speed="1000" data-to="36"> </h1>
									<span> HTML multipage </span>
								</div>
							</div>
						</div>
						<div class="col-md-3 f-grid">
							<div class="fun-factor alt">
								<div class="icon">
									<i class="icon-computer_imac_slim"> </i>
								</div>
								<div class="fun-info">
									<h1 class="timer theme-color" data-from="0" data-speed="1000" data-to="290"> </h1>
									<span> One page demo </span>
								</div>
							</div>
						</div>
						<div class="col-md-3 f-grid">
							<div class="fun-factor alt">
								<div class="icon">
									<i class="icon-database"> </i>
								</div>
								<div class="fun-info">
									<h1 class="timer theme-color" data-from="0" data-speed="1000" data-to="87"> </h1>
									<span> usefull shortcode </span>
								</div>
							</div>
						</div>
						<div class="col-md-3 f-grid">
							<div class="fun-factor alt">
								<div class="icon">
									<i class="icon-linegraph"> </i>
								</div>
								<div class="fun-info">
									<h1 class="timer theme-color" data-from="0" data-speed="1000" data-to="87"> </h1>
									<span> DIFFERENT CATEGORY </span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="page-content">
				<div class="container">
					<div class="row">
						<div class="heading-title text-center">
							<h3 class="text-uppercase"> WE HAVE A FABULOUS TEAM </h3>
							<span class="text-uppercase"> Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. </span>
						</div>
						<div class="col-md-4">
							<div class="team-member">
								<div class="team-img">
									<img alt="" src="{% static 'massive/img/team/t-1.jpg' %}" />
									<div class="team-intro light-txt">
										<h5> Martin Smith </h5>
										<span> founder &amp; ceo </span>
									</div>
								</div>
								<div class="team-hover">
									<div class="desk">
										<h4> I love to desing </h4>
										<p> We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as digital is changing. </p>
									</div>
									<div class="s-link">
										<a href="#">
											<i class="fa fa-facebook"> </i>
										</a>
										<a href="#">
											<i class="fa fa-twitter"> </i>
										</a>
										<a href="#">
											<i class="fa fa-google-plus"> </i>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="team-member">
								<div class="team-img">
									<img alt="" src="{% static 'massive/img/team/t-2.jpg' %}" />
									<div class="team-intro light-txt">
										<h5> Franklin Harbet </h5>
										<span> HR Manager </span>
									</div>
								</div>
								<div class="team-hover">
									<div class="desk">
										<h4> I love to desing </h4>
										<p> We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as digital is changing. </p>
									</div>
									<div class="s-link">
										<a href="#">
											<i class="fa fa-facebook"> </i>
										</a>
										<a href="#">
											<i class="fa fa-twitter"> </i>
										</a>
										<a href="#">
											<i class="fa fa-google-plus"> </i>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="team-member">
								<div class="team-img">
									<img alt="" src="{% static 'massive/img/team/t-3.jpg' %}" />
									<div class="team-intro light-txt">
										<h5> Linda Anderson </h5>
										<span> Marketing Manager </span>
									</div>
								</div>
								<div class="team-hover">
									<div class="desk">
										<h4> I love to desing </h4>
										<p> We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as digital is changing. </p>
									</div>
									<div class="s-link">
										<a href="#">
											<i class="fa fa-facebook"> </i>
										</a>
										<a href="#">
											<i class="fa fa-twitter"> </i>
										</a>
										<a href="#">
											<i class="fa fa-google-plus"> </i>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<hr/>
			<div class="page-content">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="heading-title text-center">
								<h3 class="text-uppercase"> OUR clients speak for us </h3>
								<p> We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as </p>
							</div>
							<ul class="testimonial plus-box grid-2 ">
								<li>
									<div class="avatar">
										<a href="#">
											<img alt="Customer Testimonails" src="{% static 'massive/img/testimonial/1.jpg' %}" /> </a>
									</div>
									<div class="content">
										<p> Vestibulum varius fermentum risus vitae lacinia neque auctor nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero aliquet. </p>
										<div class="testimonial-meta"> LINDA ANDERSON
											<span> head of marketing, TB </span>
										</div>
									</div>
								</li>
								<li>
									<div class="avatar">
										<a href="#">
											<img alt="Customer Testimonails" src="{% static 'massive/img/testimonial/2.jpg' %}" /> </a>
									</div>
									<div class="content">
										<p> Vestibulum varius fermentum risus vitae lacinia neque auctor nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero aliquet. </p>
										<div class="testimonial-meta"> FRANKLIN HERBET
											<span> head of HR, TB </span>
										</div>
									</div>
								</li>
								<li>
									<div class="avatar">
										<a href="#">
											<img alt="Customer Testimonails" src="{% static 'massive/img/testimonial/3.jpg' %}" /> </a>
									</div>
									<div class="content">
										<p> Vestibulum varius fermentum risus vitae lacinia neque auctor nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero aliquet. </p>
										<div class="testimonial-meta"> Martin Smith
											<span> CEO, TB </span>
										</div>
									</div>
								</li>
								<li>
									<div class="avatar">
										<a href="#">
											<img alt="Customer Testimonails" src="{% static 'massive/img/testimonial/4.jpg' %}" /> </a>
									</div>
									<div class="content">
										<p> Vestibulum varius fermentum risus vitae lacinia neque auctor nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero aliquet. </p>
										<div class="testimonial-meta"> John Doe
											<span> head of marketing, TB </span>
										</div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<footer class="dark" id="footer">
			<div class="primary-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<a class="m-bot-20 footer-logo" href="#">
								<img alt="" class="retina" src="{% static 'massive/img/logo-dark.png' %}" /> </a>
							<p> Massive is fully responsible, performance oriented and SEO optimized, retina ready WordPress theme. </p>
						</div>
						<div class="col-md-3">
							<h5 class="text-uppercase"> recent posts </h5>
							<ul class="f-list">
								<li><a href="#"> Standard Blog post </a></li>
								<li><a href="#"> Quotation post </a></li>
								<li><a href="#"> Audio Post </a></li>
								<li><a href="#"> Massive Video Demo </a></li>
								<li><a href="#"> Blog Image Post </a></li>
							</ul>
						</div>
						<div class="col-md-3">
							<h5 class="text-uppercase"> quick link </h5>
							<ul class="f-list">
								<li><a href="#"> About Massive </a></li>
								<li><a href="#"> Career </a></li>
								<li><a href="#"> Terms &amp; Condition </a></li>
								<li><a href="#"> Privacy Policy </a></li>
								<li><a href="#"> Contact Us </a></li>
							</ul>
						</div>
						<div class="col-md-3">
							<h5 class="text-uppercase"> Recent Work </h5>
							<ul class="r-work">
								<li>
									<a href="#">
										<img alt="" src="{% static 'massive/img/recent-work/1.jpg' %}" /> </a>
								</li>
								<li>
									<a href="#">
										<img alt="" src="{% static 'massive/img/recent-work/2.jpg' %}" /> </a>
								</li>
								<li>
									<a href="#">
										<img alt="" src="{% static 'massive/img/recent-work/3.jpg' %}" /> </a>
								</li>
								<li>
									<a href="#">
										<img alt="" src="{% static 'massive/img/recent-work/4.jpg' %}" /> </a>
								</li>
								<li>
									<a href="#">
										<img alt="" src="{% static 'massive/img/recent-work/5.jpg' %}" /> </a>
								</li>
								<li>
									<a href="#">
										<img alt="" src="{% static 'massive/img/recent-work/6.jpg' %}" /> </a>
								</li>
								<li>
									<a href="#">
										<img alt="" src="{% static 'massive/img/recent-work/7.jpg' %}" /> </a>
								</li>
								<li>
									<a href="#">
										<img alt="" src="{% static 'massive/img/recent-work/8.jpg' %}" /> </a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="secondary-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6">
							<span class="m-top-10"> Copyright 2012 - 2015 Massive Theme by
								<a class="f-link" href="http://themebucket.net/" target="_blank"> ThemeBucket </a> | All Rights Reserved </span>
						</div>
						<div class="col-md-6">
							<div class="social-link circle pull-right">
								<a href="#">
									<i class="fa fa-facebook"> </i>
								</a>
								<a href="#">
									<i class="fa fa-twitter"> </i>
								</a>
								<a href="#">
									<i class="fa fa-dribbble"> </i>
								</a>
								<a href="#">
									<i class="fa fa-google-plus"> </i>
								</a>
								<a href="#">
									<i class="fa fa-behance"> </i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<script src="{% static 'massive/js/jquery-1.10.2.min.js' %}"></script>
	<script src="{% static 'massive/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'massive/js/menuzord.js' %}"></script>
	<script src="{% static 'massive/js/jquery.flexslider-min.js' %}"></script>
	<script src="{% static 'massive/js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'massive/js/jquery.isotope.js' %}"></script>
	<script src="{% static 'massive/js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'massive/js/jquery.countTo.js' %}"></script>
	<script src="{% static 'massive/js/visible.js' %}"></script>
	<script src="{% static 'massive/js/smooth.js' %}"></script>
	<script src="{% static 'massive/js/wow.min.js' %}"></script>
	<script src="{% static 'massive/js/imagesloaded.js' %}"></script>
	<script src="{% static 'massive/js/scripts.js' %}"></script>
</body>

</html>
