<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="CenterStack" name="author"/>
  <!--favicon icon-->
  <link href="{% static 'massive/img/favicon.png' %}" rel="icon" type="image/png"/>
  <title>
   VillaReal
  </title>
  <!--common style-->
  <link href="http://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200italic,200" rel="stylesheet" type="text/css"/>
  <link href="{% static 'massive/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'massive/css/font-awesome.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'massive/css/magnific-popup.css' %}" rel="stylesheet"/>
  <link href="{% static 'massive/css/shortcodes/shortcodes.css' %}" rel="stylesheet"/>
  <link href="{% static 'massive/css/owl.carousel.css' %}" rel="stylesheet"/>
  <link href="{% static 'massive/css/owl.theme.css' %}" rel="stylesheet"/>
  <link href="{% static 'massive/css/style.css' %}" rel="stylesheet"/>
  <link href="{% static 'massive/css/style-responsive.css' %}" rel="stylesheet"/>
  <link href="{% static 'massive/css/default-theme.css' %}" rel="stylesheet"/>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
 </head>
 <body>
  <!--  preloader start -->
  <div id="tb-preloader">
   <div class="tb-preloader-wave">
   </div>
  </div>
  <!-- preloader end -->
  <div class="wrapper">
   <!--hero section-->
   <div class="full-banner text-center vertical-align banner-23" id="fullscreen-banner">
    <div class="container-mid">
     <div class="container">
      <div class="text-center responsive-img m-bot-30 coming-soon-logo">
       <img alt="" src="{% static 'massive/img/coming-soon-logo.png' %}"/>
      </div>
      <div class="banner-title light-txt">
       <h1 class="text-uppercase">
        Coming Soon
       </h1>
       <h3 class="text-uppercase">
        Massive is under construction
       </h3>
      </div>
      <div class="m-top-50 inline-block ">
       <div class="count-down light circle">
        <div class="clock">
        </div>
       </div>
      </div>
     </div>
    </div>
   </div>
   <!--hero section-->
   <!--body content start-->
   <section class="body-content">
    <!--service-->
    <div class="page-content p-bot-0">
     <div class="container">
      <div class="row">
       <div class="m-bot-100 inline-block">
        <!--title-->
        <div class="heading-title-alt text-center">
         <h3 class="text-uppercase">
          What we do
         </h3>
         <div class="half-txt m-top-30">
          We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as digital is changing. We are a team of multi-skilled and curious digital specialists who are always up for a challenge.
         </div>
        </div>
        <!--title-->
       </div>
       <div class="col-md-4">
        <div class="featured-item feature-bg-box text-center">
         <div class="icon">
          <i class="icon-mobile">
          </i>
         </div>
         <div class="title text-uppercase">
          <h4>
           Product Design
          </h4>
         </div>
         <div class="desc">
          Ringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
         </div>
        </div>
       </div>
       <div class="col-md-4">
        <div class="featured-item feature-bg-box text-center">
         <div class="icon">
          <i class="icon-layers">
          </i>
         </div>
         <div class="title text-uppercase">
          <h4>
           Branding
          </h4>
         </div>
         <div class="desc">
          Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
         </div>
        </div>
       </div>
       <div class="col-md-4">
        <div class="featured-item feature-bg-box text-center">
         <div class="icon">
          <i class="icon-profile-male">
          </i>
         </div>
         <div class="title text-uppercase">
          <h4>
           cloud hosting
          </h4>
         </div>
         <div class="desc">
          Singilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!--service-->
    <!--subscribe-->
    <div class="subscribe-box gray-bg round-5 page-content text-center">
     <div class="container">
      <div class="row">
       <div class="col-md-8 col-md-offset-2">
        <div class="subscribe-info">
         <h3 class=" ">
          KEEP YOURSELF UPDATED
         </h3>
         <span class="text-uppercase ">
          subscribe to get in touch
         </span>
        </div>
        <div class="subscribe-form">
         <form class="form-inline">
          <input class="form-control" placeholder="Enter your email address" type="text"/>
          <button class="btn btn-medium btn-dark-solid text-uppercase" type="submit">
           subscribe
          </button>
         </form>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!--subscribe-->
    <!--contact-->
    <div class="page-content">
     <div class="container">
      <div class="row">
       <div class="col-md-12">
        <div class="heading-title text-center">
         <h3 class="text-uppercase">
          Contct us
         </h3>
         <div class="half-txt m-top-30">
          We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as digital is changing. We are a team of multi-skilled and curious digital specialists who are always up for a challenge.
         </div>
        </div>
       </div>
       <div class="col-md-4">
        <h4 class="text-uppercase">
         Office Location
        </h4>
        <p>
         Upper Level, Overseas Passenger Terminal, The Rocks,
                                Sydney 2000
        </p>
        <address>
         <p>
          Phone: +62 500 800 123
         </p>
         <p>
          Fax: +62 500 800 112
         </p>
         <p>
          Email: testmail@yourdomain.com
         </p>
        </address>
       </div>
       <div class="col-md-8">
        <form action="#" class="contact-comments" id="form" method="post" role="form">
         <div class="row">
          <div class="col-md-6 form-group">
           <label>
            Name *
           </label>
           <!-- Name -->
           <input class=" form-control" id="name" maxlength="100" name="name" required="" type="text"/>
          </div>
          <div class="col-md-6 form-group">
           <label>
            Email *
           </label>
           <!-- Email -->
           <input class=" form-control" id="email" maxlength="100" name="email" required="" type="email"/>
          </div>
          <div class="form-group col-md-6">
           <label>
            Phone
           </label>
           <!-- Phone -->
           <input class=" form-control" id="phone" maxlength="100" name="phone" type="text"/>
          </div>
          <div class="form-group col-md-6">
           <label>
            Subject
           </label>
           <!-- Subject -->
           <input class=" form-control" id="subject" maxlength="100" name="subject" type="text"/>
          </div>
          <div class="form-group col-md-12">
           <label>
            Message
           </label>
           <!-- Comment -->
           <textarea class="cmnt-text form-control" id="text" maxlength="400" name="text" rows="6">
           </textarea>
          </div>
          <!-- Send Button -->
          <div class="form-group col-md-12">
           <button class="btn btn-small btn-dark-solid " type="submit">
            Send Message
           </button>
          </div>
         </div>
        </form>
       </div>
      </div>
     </div>
    </div>
    <!--contact-->
   </section>
   <!--body content end-->
   <!--footer start -->
   <footer class="dark text-center short-pad footer-6" id="footer">
    <div class="container-">
     <a class="footer-logo" href="{% url 'massive-index' %}">
      <img alt="" class="retina" src="{% static 'massive/img/logo-dark.png' %}"/>
     </a>
     <div class="social-link circle m-top-50 m-bot-50">
      <a href="#">
       <i class="fa fa-facebook">
       </i>
      </a>
      <a href="#">
       <i class="fa fa-twitter">
       </i>
      </a>
      <a href="#">
       <i class="fa fa-dribbble">
       </i>
      </a>
      <a href="#">
       <i class="fa fa-google-plus">
       </i>
      </a>
      <a href="#">
       <i class="fa fa-behance">
       </i>
      </a>
     </div>
     <div class="copyright-sub-title text-uppercase border-top">
      © Copyright 2015 "MASSIVE". All right reserved
     </div>
    </div>
   </footer>
   <!--footer end-->
  </div>
  <!-- Placed js at the end of the document so the pages load faster -->
  <script src="{% static 'massive/js/jquery-1.10.2.min.js' %}">
  </script>
  <script src="{% static 'massive/js/bootstrap.min.js' %}">
  </script>
  <script src="{% static 'massive/js/menuzord.js' %}">
  </script>
  <script src="{% static 'massive/js/jquery.flexslider-min.js' %}">
  </script>
  <script src="{% static 'massive/js/owl.carousel.min.js' %}">
  </script>
  <script src="{% static 'massive/js/jquery.isotope.js' %}">
  </script>
  <script src="js/imagesloaded.js?1">
  </script>
  <script src="{% static 'massive/js/jquery.magnific-popup.min.js' %}">
  </script>
  <script src="{% static 'massive/js/jquery.countTo.js' %}">
  </script>
  <script src="{% static 'massive/js/visible.js' %}">
  </script>
  <script src="{% static 'massive/js/jquery.countdown.js' %}">
  </script>
  <script src="{% static 'massive/js/smooth.js' %}">
  </script>
  <script src="{% static 'massive/js/wow.min.js' %}">
  </script>
  <script src="{% static 'massive/js/imagesloaded.js' %}">
  </script>
  <!--common scripts-->
  <script src="{% static 'massive/js/scripts.js' %}">
  </script>
  <script>
   $('.clock').countdown('2020/10/10', function(event) {
            var $this = $(this).html(event.strftime(''
//                 + '<span>%w</span> weeks '
            + '<span class="c-grid"> <span class="c-value">%D</span> <span class="c-title">days</span> </span> '
            + '<span class="c-grid"> <span class="c-value">%H</span> <span class="c-title">hours</span> </span> '
            + '<span class="c-grid"> <span class="c-value">%M</span> <span class="c-title">minutes</span> </span> '
            + '<span class="c-grid"> <span class="c-value">%S</span> <span class="c-title">seconds</span> </span> '));
        });
  </script>
 </body>
</html>
