<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0" name="viewport"/>
  <meta content="" name="description"/>
  <meta content="CenterStack" name="author"/>
  <!--favicon icon-->
  <link href="{% static 'massive/img/favicon.png' %}" rel="icon" type="image/png"/>
  <title>
   VillaReal
  </title>
  <!--common style-->
  <link href="http://fonts.googleapis.com/css?family=Abel|Source+Sans+Pro:400,300,300italic,400italic,600,600italic,700,700italic,900,900italic,200italic,200" rel="stylesheet" type="text/css"/>
  <link href="{% static 'massive/css/bootstrap.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'massive/css/font-awesome.min.css' %}" rel="stylesheet"/>
  <link href="{% static 'massive/css/magnific-popup.css' %}" rel="stylesheet"/>
  <link href="{% static 'massive/css/shortcodes/shortcodes.css' %}" rel="stylesheet"/>
  <link href="{% static 'massive/css/owl.carousel.css' %}" rel="stylesheet"/>
  <link href="{% static 'massive/css/owl.theme.css' %}" rel="stylesheet"/>
  <link href="css/style.css?4" rel="stylesheet"/>
  <link href="{% static 'massive/css/blog.css' %}" rel="stylesheet"/>
  <link href="{% static 'massive/css/style-responsive.css' %}" rel="stylesheet"/>
  <link href="{% static 'massive/css/default-theme.css' %}" rel="stylesheet"/>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
 </head>
 <body>
  <!--  preloader start -->
  <div id="tb-preloader">
   <div class="tb-preloader-wave">
   </div>
  </div>
  <!-- preloader end -->
  <div class="wrapper" id="home">
   <!--header start-->
   <header class=" header-full-width transparent-header " id="header">
    <div class="header-sticky light-header">
     <div class="container">
      <div class="menuzord" id="massive-menu">
       <!--logo start-->
       <a class="logo-brand" href="{% url 'massive-index' %}">
        <img alt="" class="retina" src="{% static 'massive/img/logo.png' %}"/>
       </a>
       <!--logo end-->
       <!--mega menu start-->
       <ul class="menuzord-menu pull-right op-nav">
        <li class="active">
         <a href="#home">
          Home
         </a>
        </li>
        <li class="">
         <a href="#start">
          About
         </a>
        </li>
        <li class="">
         <a href="#team">
          Team
         </a>
        </li>
        <li class="">
         <a href="#portfolio">
          Portfolio
         </a>
        </li>
        <li class="">
         <a href="#service">
          Services
         </a>
        </li>
        <li class="">
         <a href="#feature">
          Features
         </a>
        </li>
        <li class="">
         <a href="#blog">
          Blog
         </a>
        </li>
        <li class="">
         <a href="#price">
          Price Table
         </a>
        </li>
        <li class="">
         <a href="#contact">
          Contact
         </a>
        </li>
       </ul>
       <!--mega menu end-->
      </div>
     </div>
    </div>
   </header>
   <!--header end-->
   <!--hero section-->
   <div class="bs-hero full-screen">
    <!--carousel-->
    <div class="carousel slide carousel-fade full-width" data-ride="carousel" id="carousel-arrow">
     <!-- Indicators -->
     <ol class="carousel-indicators">
      <li class="active" data-slide-to="0" data-target="#carousel-example-generic">
      </li>
      <li data-slide-to="1" data-target="#carousel-example-generic">
      </li>
      <li data-slide-to="2" data-target="#carousel-example-generic">
      </li>
     </ol>
     <!-- Wrapper for slides -->
     <div class="carousel-inner fullscreen-banner" id="fullscreen-banner" role="listbox">
      <div class="item active">
       <img alt="" src="{% static 'massive/img/banner/bs/bs1.jpg' %}"/>
       <div class="container">
        <div class="bs-info fadeInDown animated">
         <h1>
          <span>
           Hi There !
          </span>
          <br/>
          We Are Massive
         </h1>
         <p>
          Integer nec nulla bibendum, venenatis elit vel, vulputate nulla. Quisque lacinia nisi erat,
          <br/>
          ut scelerisque augue pharetra et. Aliquam efficitur lacus eget.
         </p>
        </div>
       </div>
      </div>
      <div class="item">
       <img alt="" src="{% static 'massive/img/banner/bs/bs2.jpg' %}"/>
       <div class="container">
        <div class="bs-info fadeInDown animated">
         <h1>
          <span>
           We've Lots of !
          </span>
          <br/>
          Reusable Components
         </h1>
         <p>
          Vulputate nulla. Quisque lacinia nisi erat,
          <br/>
          ut scelerisque augue pharetra et. Aliquam efficitur lacus eget.
         </p>
        </div>
       </div>
      </div>
      <div class="item">
       <img alt="" src="{% static 'massive/img/banner/bs/bs3.jpg' %}"/>
       <div class="container">
        <div class="bs-info fadeInDown animated ">
         <h1 class="light-txt">
          <span>
           Why Choose massive ?
          </span>
          <br/>
          unlimited possibilities
         </h1>
         <p class="light-txt">
          Integer nec nulla bibendum, venenatis elit vel, vulputate nulla. Quisque lacinia nisi erat,
          <br/>
          ut scelerisque augue pharetra et. Aliquam efficitur lacus eget.
         </p>
        </div>
       </div>
      </div>
     </div>
     <!-- Controls -->
     <a class="left carousel-control" data-slide="prev" href="#carousel-arrow" role="button">
     </a>
     <a class="right carousel-control" data-slide="next" href="#carousel-arrow" role="button">
     </a>
    </div>
    <!--carousel-->
   </div>
   <!--hero section-->
   <!--body content start-->
   <section class="body-content">
    <!--feature-->
    <div class="page-content" id="start">
     <div class="container">
      <!--feature border box start-->
      <div class="row">
       <div class="heading-title text-center">
        <h3 class="text-uppercase">
         WE Love to Design
        </h3>
        <p class="half-txt p-top-30">
         Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.
        </p>
       </div>
       <div class="col-md-4">
        <div class="featured-item feature-border-box text-left wow fadeInLeft">
         <div class="icon">
          <i class="icon-tools2">
          </i>
         </div>
         <div class="title text-uppercase">
          <h4>
           Modern design
          </h4>
         </div>
         <div class="desc">
          Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
         </div>
        </div>
       </div>
       <div class="col-md-4">
        <div class="featured-item feature-border-box text-left wow fadeInUp">
         <div class="icon">
          <i class="icon-mobile">
          </i>
         </div>
         <div class="title text-uppercase">
          <h4>
           Bootstrap
          </h4>
         </div>
         <div class="desc">
          Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
         </div>
        </div>
       </div>
       <div class="col-md-4">
        <div class="featured-item feature-border-box text-left wow fadeInRight">
         <div class="icon">
          <i class="icon-wine">
          </i>
         </div>
         <div class="title text-uppercase">
          <h4>
           clean code
          </h4>
         </div>
         <div class="desc">
          Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
         </div>
        </div>
       </div>
      </div>
      <!--feature border box end-->
     </div>
    </div>
    <!--feature-->
    <!--skills-->
    <div class=" post-parallax">
     <div class="relative page-content">
      <div class="dark-overlay">
      </div>
      <div class="container">
       <div class="row">
        <div class="col-md-6">
         <div class="v-middle">
          <h3 class="light-txt text-uppercase">
           Skills and Experience
          </h3>
         </div>
        </div>
        <div class="col-md-6">
         <div class="light-txt space">
          <h4 class="text-uppercase light-txt">
           We are damn expart !
          </h4>
          <p class="light-txt">
           We are a team of multi-skilled and curious digital specialists who are always up for a massive challenge forever. We are a team of multi-skilled and curious digital specialists who are always up for a massive challenge forever.
          </p>
          <div class="p-top-30">
           <!-- progress bar start -->
           <div class="progress massive-progress ">
            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" class="progress-bar" role="progressbar">
             HTML / CSS / JQUERY
             <span>
              80%
             </span>
            </div>
           </div>
           <!-- progress bar end -->
           <!-- progress bar start -->
           <div class="progress massive-progress ">
            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="90" class="progress-bar" role="progressbar">
             PHOTOSHOP
             <span>
              90%
             </span>
            </div>
           </div>
           <!-- progress bar end -->
           <!-- progress bar start -->
           <div class="progress massive-progress ">
            <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="75" class="progress-bar" role="progressbar">
             GRAPHIC DESIGN
             <span>
              75%
             </span>
            </div>
           </div>
           <!-- progress bar end -->
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!--skills-->
    <!--team-->
    <div class="page-content gray-bg" id="team">
     <div class="container">
      <div class="row">
       <div class="heading-title text-center">
        <h3 class="text-uppercase">
         Our Team
        </h3>
        <p class="half-txt p-top-30">
         Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.
        </p>
       </div>
       <div class="col-md-4">
        <div class="team-member wow fadeInLeft">
         <div class="team-img">
          <img alt="" src="{% static 'massive/img/team/t-1.jpg' %}"/>
          <div class="team-intro light-txt">
           <h5>
            Martin Smith
           </h5>
           <span>
            founder &amp; ceo
           </span>
          </div>
         </div>
         <div class="team-hover">
          <div class="desk">
           <h4>
            I love to design
           </h4>
           <p>
            We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as digital is changing.
           </p>
          </div>
          <div class="s-link">
           <a href="#">
            <i class="fa fa-facebook">
            </i>
           </a>
           <a href="#">
            <i class="fa fa-twitter">
            </i>
           </a>
           <a href="#">
            <i class="fa fa-google-plus">
            </i>
           </a>
          </div>
         </div>
        </div>
       </div>
       <div class="col-md-4">
        <div class="team-member wow fadeInUp">
         <div class="team-img">
          <img alt="" src="{% static 'massive/img/team/t-2.jpg' %}"/>
          <div class="team-intro light-txt">
           <h5>
            Franklin Harbet
           </h5>
           <span>
            HR Manager
           </span>
          </div>
         </div>
         <div class="team-hover">
          <div class="desk">
           <h4>
            Hello There..
           </h4>
           <p>
            We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as digital is changing.
           </p>
          </div>
          <div class="s-link">
           <a href="#">
            <i class="fa fa-facebook">
            </i>
           </a>
           <a href="#">
            <i class="fa fa-twitter">
            </i>
           </a>
           <a href="#">
            <i class="fa fa-google-plus">
            </i>
           </a>
          </div>
         </div>
        </div>
       </div>
       <div class="col-md-4">
        <div class="team-member wow fadeInRight">
         <div class="team-img">
          <img alt="" src="{% static 'massive/img/team/t-3.jpg' %}"/>
          <div class="team-intro light-txt">
           <h5>
            Linda Anderson
           </h5>
           <span>
            Marketing Manager
           </span>
          </div>
         </div>
         <div class="team-hover">
          <div class="desk">
           <h4>
            Its awesome
           </h4>
           <p>
            We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as digital is changing.
           </p>
          </div>
          <div class="s-link">
           <a href="#">
            <i class="fa fa-facebook">
            </i>
           </a>
           <a href="#">
            <i class="fa fa-twitter">
            </i>
           </a>
           <a href="#">
            <i class="fa fa-google-plus">
            </i>
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!--team-->
    <!--portfolio-->
    <div class="page-content p-bot-0" id="portfolio">
     <div class="container-fluid">
      <div class="row">
       <div class="heading-title text-center">
        <h3 class="text-uppercase">
         Portfolio
        </h3>
        <p class="half-txt p-top-30">
         Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum
                                 facilis dolores nemis omnis fugats vitaes
         <br/>
         nemo minima rerums unsers sadips amets.
        </p>
       </div>
       <div class="text-center">
        <ul class="portfolio-filter">
         <li class="active">
          <a data-filter="*" href="#">
           All
          </a>
         </li>
         <li>
          <a data-filter=".cat1" href="#">
           printing
          </a>
         </li>
         <li>
          <a data-filter=".cat2" href="#">
           Web
          </a>
         </li>
         <li>
          <a data-filter=".cat3" href="#">
           illustration
          </a>
         </li>
         <li>
          <a data-filter=".cat4" href="#">
           media
          </a>
         </li>
         <li>
          <a data-filter=".cat5" href="#">
           crafts
          </a>
         </li>
        </ul>
       </div>
       <div class="portfolio col-4 portfolio-gallery gutter m-bot-0 inline-block">
        <div class="portfolio-item cat1 cat3 ">
         <div class="thumb">
          <img alt="" src="{% static 'massive/img/portfolio/01.jpg' %}"/>
          <div class="portfolio-hover">
           <div class="action-btn">
            <a class="popup-gallery" href="{% static 'massive/img/portfolio/01.jpg' %}" title="Title 1">
             <i class="icon-basic_magnifier">
             </i>
            </a>
           </div>
           <div class="portfolio-description">
            <h4>
             <a class="popup-gallery2" href="{% static 'massive/img/portfolio/01.jpg' %}" title="Title 1">
              lightbox view
             </a>
            </h4>
            <p>
             <a href="#">
              category
             </a>
            </p>
           </div>
          </div>
         </div>
        </div>
        <div class="portfolio-item cat2 cat4 ">
         <div class="thumb">
          <img alt="" src="{% static 'massive/img/portfolio/02.jpg' %}"/>
          <div class="portfolio-hover">
           <div class="action-btn">
            <a class="popup-gallery" href="{% static 'massive/img/portfolio/02.jpg' %}" title="Title 2">
             <i class="icon-basic_magnifier">
             </i>
            </a>
           </div>
           <div class="portfolio-description">
            <h4>
             <a class="popup-gallery2" href="{% static 'massive/img/portfolio/02.jpg' %}" title="Title 2">
              lightbox view
             </a>
            </h4>
            <p>
             <a href="#">
              category
             </a>
            </p>
           </div>
          </div>
         </div>
        </div>
        <div class="portfolio-item cat3 cat5 ">
         <div class="thumb">
          <img alt="" src="{% static 'massive/img/portfolio/03.jpg' %}"/>
          <div class="portfolio-hover">
           <div class="action-btn">
            <a class="popup-gallery" href="{% static 'massive/img/portfolio/03.jpg' %}" title="Title 3">
             <i class="icon-basic_magnifier">
             </i>
            </a>
           </div>
           <div class="portfolio-description">
            <h4>
             <a class="popup-gallery2" href="{% static 'massive/img/portfolio/03.jpg' %}" title="Title 3">
              lightbox view
             </a>
            </h4>
            <p>
             <a href="#">
              category
             </a>
            </p>
           </div>
          </div>
         </div>
        </div>
        <div class="portfolio-item cat1 cat4 ">
         <div class="thumb">
          <img alt="" src="{% static 'massive/img/portfolio/04.jpg' %}"/>
          <div class="portfolio-hover">
           <div class="action-btn">
            <a class="popup-gallery" href="{% static 'massive/img/portfolio/04.jpg' %}" title="Title 4">
             <i class="icon-basic_magnifier">
             </i>
            </a>
           </div>
           <div class="portfolio-description">
            <h4>
             <a class="popup-gallery2" href="{% static 'massive/img/portfolio/04.jpg' %}" title="Title 4">
              lightbox view
             </a>
            </h4>
            <p>
             <a href="#">
              category
             </a>
            </p>
           </div>
          </div>
         </div>
        </div>
        <div class="portfolio-item cat2 cat4">
         <div class="thumb">
          <img alt="" src="{% static 'massive/img/portfolio/05.jpg' %}"/>
          <div class="portfolio-hover">
           <div class="action-btn">
            <a class="popup-gallery" href="{% static 'massive/img/portfolio/05.jpg' %}" title="Title 5">
             <i class="icon-basic_magnifier">
             </i>
            </a>
           </div>
           <div class="portfolio-description">
            <h4>
             <a class="popup-gallery2" href="{% static 'massive/img/portfolio/05.jpg' %}" title="Title 5">
              lightbox view
             </a>
            </h4>
            <p>
             <a href="#">
              category 3
             </a>
             ,
             <a href="#">
              category 4
             </a>
            </p>
           </div>
          </div>
         </div>
        </div>
        <div class="portfolio-item cat1 cat4 cat3 cat5">
         <div class="thumb">
          <img alt="" src="{% static 'massive/img/portfolio/06.jpg' %}"/>
          <div class="portfolio-hover">
           <div class="action-btn">
            <a class="popup-gallery" href="{% static 'massive/img/portfolio/06.jpg' %}" title="Title 6">
             <i class="icon-basic_magnifier">
             </i>
            </a>
           </div>
           <div class="portfolio-description">
            <h4>
             <a class="popup-gallery2" href="{% static 'massive/img/portfolio/06.jpg' %}" title="Title 6">
              lightbox view
             </a>
            </h4>
            <p>
             <a href="#">
              category 5
             </a>
             ,
             <a href="#">
              category 6
             </a>
            </p>
           </div>
          </div>
         </div>
        </div>
        <div class="portfolio-item cat2 cat5">
         <div class="thumb">
          <img alt="" src="{% static 'massive/img/portfolio/07.jpg' %}"/>
          <div class="portfolio-hover">
           <div class="action-btn">
            <a class="popup-gallery" href="{% static 'massive/img/portfolio/07.jpg' %}" title="Title 7">
             <i class="icon-basic_magnifier">
             </i>
            </a>
           </div>
           <div class="portfolio-description">
            <h4>
             <a class="popup-gallery2" href="{% static 'massive/img/portfolio/07.jpg' %}" title="Title 7">
              lightbox view
             </a>
            </h4>
            <p>
             <a href="#">
              category
             </a>
            </p>
           </div>
          </div>
         </div>
        </div>
        <div class="portfolio-item cat2 cat5">
         <div class="thumb">
          <img alt="" src="{% static 'massive/img/portfolio/08.jpg' %}"/>
          <div class="portfolio-hover">
           <div class="action-btn">
            <a class="popup-gallery" href="{% static 'massive/img/portfolio/08.jpg' %}" title="Title 8">
             <i class="icon-basic_magnifier">
             </i>
            </a>
           </div>
           <div class="portfolio-description">
            <h4>
             <a class="popup-gallery2" href="{% static 'massive/img/portfolio/08.jpg' %}" title="Title 8">
              lightbox view
             </a>
            </h4>
            <p>
             <a href="#">
              category
             </a>
            </p>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!--portfolio-->
    <!--promo-->
    <div class="full-width promo-box dark-bg ">
     <div class="container">
      <div class="col-md-12">
       <div class="promo-info">
        <span class="light-txt text-uppercase m-top-0">
         Are you impressed with our creative work?
        </span>
        <h3 class="light-txt">
         start
         <span class="theme-color">
          building your project
         </span>
         with massive
        </h3>
       </div>
       <div class="promo-btn">
        <a class="btn btn-medium btn-rounded btn-light-solid btn-transparent text-uppercase" href="#">
         purchase now
        </a>
       </div>
      </div>
     </div>
    </div>
    <!--promo-->
    <!--services-->
    <div class="page-content" id="service">
     <div class="container">
      <div class="row">
       <div class="heading-title text-center">
        <h3 class="text-uppercase">
         massive services
        </h3>
        <p class="half-txt p-top-30">
         Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.
        </p>
       </div>
       <div class="feature-box-grid">
        <div class="col-md-4">
         <div class="featured-item border-box text-center wow zoomIn">
          <div class="icon">
           <i class="icon-lightbulb">
           </i>
          </div>
          <div class="title text-uppercase">
           <h4>
            Creative design
           </h4>
          </div>
          <div class="desc">
           Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
          </div>
         </div>
        </div>
        <div class="col-md-4">
         <div class="featured-item border-box text-center wow zoomIn">
          <div class="icon">
           <i class=" icon-browser2">
           </i>
          </div>
          <div class="title text-uppercase">
           <h4>
            professional code
           </h4>
          </div>
          <div class="desc">
           Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
          </div>
         </div>
        </div>
        <div class="col-md-4">
         <div class="featured-item border-box text-center wow zoomIn">
          <div class="icon">
           <i class=" icon-laptop2">
           </i>
          </div>
          <div class="title text-uppercase">
           <h4>
            easy customize
           </h4>
          </div>
          <div class="desc">
           Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
          </div>
         </div>
        </div>
        <div class="col-md-4">
         <div class="featured-item border-box text-center wow zoomIn">
          <div class="icon">
           <i class="icon-basic_gear">
           </i>
          </div>
          <div class="title text-uppercase">
           <h4>
            24/7 support
           </h4>
          </div>
          <div class="desc">
           Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
          </div>
         </div>
        </div>
        <div class="col-md-4">
         <div class="featured-item border-box text-center wow zoomIn">
          <div class="icon">
           <i class="icon-basic_pencil_ruler">
           </i>
          </div>
          <div class="title text-uppercase">
           <h4>
            bootstrap
           </h4>
          </div>
          <div class="desc">
           Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
          </div>
         </div>
        </div>
        <div class="col-md-4">
         <div class="featured-item border-box text-center wow zoomIn">
          <div class="icon">
           <i class="icon-basic_todolist_pencil">
           </i>
          </div>
          <div class="title text-uppercase">
           <h4>
            clean code
           </h4>
          </div>
          <div class="desc">
           Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!--services-->
    <!--parallax slider-->
    <div class="testimonial-parallax parallax-14">
     <div class="container">
      <div class="row">
       <div class="col-md-12">
        <!--testimonial start-->
        <div class="text-center light-txt side-object " id="carousel-object">
         <div class="item">
          <div class="object">
           <img alt="" src="{% static 'massive/img/carousel/obj-1.png' %}"/>
          </div>
          <div class="content">
           <h4 class="theme-color text-uppercase">
            REALLY GOOD AT WEB DESIGNING
           </h4>
           <p>
            We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as digital is changing. We are a team of multi-skilled and curious digital specialists who are always up for a challenge. Multi-skilled and curious digital specialists.
           </p>
           <a class="btn btn-small btn-rounded btn-light-solid btn-transparent" href="#">
            Get Price
           </a>
          </div>
         </div>
         <div class="item">
          <div class="object">
           <img alt="" src="{% static 'massive/img/carousel/obj-2.png' %}"/>
          </div>
          <div class="content">
           <h4 class="theme-color text-uppercase">
            Massive Ui Collection
           </h4>
           <p>
            We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as digital is changing. We are a team of multi-skilled and curious digital specialists who are always up for a challenge. Multi-skilled and curious digital specialists.
           </p>
           <a class="btn btn-small btn-rounded btn-light-solid btn-transparent" href="#">
            Get Price
           </a>
          </div>
         </div>
         <div class="item">
          <div class="object">
           <img alt="" src="{% static 'massive/img/carousel/obj-3.png' %}"/>
          </div>
          <div class="content">
           <h4 class="theme-color text-uppercase">
            Easy to customize
           </h4>
           <p>
            We are a team of multi-skilled and curious digital specialists who are always up for a challenge and learning as fast as digital is changing. We are a team of multi-skilled and curious digital specialists who are always up for a challenge. Multi-skilled and curious digital specialists.
           </p>
           <a class="btn btn-small btn-rounded btn-light-solid btn-transparent" href="#">
            Get Price
           </a>
          </div>
         </div>
        </div>
        <!--testimonial end-->
       </div>
      </div>
     </div>
    </div>
    <!--parallax slider-->
    <!--feature-->
    <div class="page-content" id="feature">
     <div class="container">
      <div class="row">
       <div class="heading-title text-center ">
        <h3 class="text-uppercase">
         core feature
        </h3>
        <p class="half-txt p-top-30">
         Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.
        </p>
       </div>
       <div class="col-md-6">
        <div class="responsive-img fit-img wow fadeInLeft">
         <img alt="" src="{% static 'massive/img/tab-1.png' %}"/>
        </div>
       </div>
       <div class="col-md-6">
        <div class="featured-item text-left m-bot-50 wow fadeInRight">
         <div class="number">
          01
         </div>
         <div class="title text-uppercase">
          <h4>
           Mega Menu
          </h4>
         </div>
         <div class="desc">
          Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente.
         </div>
        </div>
        <div class="featured-item text-left m-bot-50 wow fadeInRight">
         <div class="number">
          02
         </div>
         <div class="title text-uppercase">
          <h4>
           Unlimited Portfolio Grid
          </h4>
         </div>
         <div class="desc">
          Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Fringilla augue at maximus vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
         </div>
        </div>
        <div class="featured-item text-left wow fadeInRight">
         <div class="number">
          03
         </div>
         <div class="title text-uppercase">
          <h4>
           Huge Shortcode
          </h4>
         </div>
         <div class="desc">
          Augue at maximus Pellentesque eu quam sem, ac malesuada leo sem quam pellente. vestibulum. Nam pulvinar vitae neque et porttitor. Praesent sed nisi eleifend.
         </div>
        </div>
        <div class="m-top-50 inline-block">
         <a class="btn btn-medium btn-dark-solid btn-rounded " href="#">
          Purchase Now
         </a>
         <a class="btn btn-medium btn-dark-border btn-rounded " href="#">
          View All
         </a>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!--feature-->
    <!--fun factor-->
    <div class="fun-factor-parallax dark page-content parallax-7">
     <div class="container p-tb-100">
      <div class="row">
       <div class="col-md-4">
        <div class="fun-factor">
         <div class="icon">
          <i class="icon-happy">
          </i>
         </div>
         <div class="fun-info">
          <h1 class="timer" data-from="0" data-speed="1000" data-to="36">
          </h1>
          <span>
           CLIENTS handled
          </span>
         </div>
        </div>
       </div>
       <div class="col-md-4">
        <div class="fun-factor">
         <div class="icon">
          <i class="icon-flag">
          </i>
         </div>
         <div class="fun-info">
          <h1 class="timer" data-from="0" data-speed="1000" data-to="29">
          </h1>
          <span>
           Project Completed
          </span>
         </div>
        </div>
       </div>
       <div class="col-md-4">
        <div class="fun-factor">
         <div class="icon">
          <i class="icon-ribbon">
          </i>
         </div>
         <div class="fun-info">
          <h1 class="timer" data-from="0" data-speed="1000" data-to="17">
          </h1>
          <span>
           Design Award Won
          </span>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!--fun factor-->
    <!--blog post-->
    <div class="page-content" id="blog">
     <div class="container">
      <div class="row">
       <div class="heading-title text-center ">
        <h3 class="text-uppercase">
         Blog
        </h3>
        <p class="half-txt p-top-30">
         Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.
        </p>
       </div>
       <!--post style 1 start-->
       <div class="post-grid">
        <div class="col-md-4">
         <div class="post-single">
          <div class="post-img bottom">
           <img alt="" src="{% static 'massive/img/post/p1.jpg' %}"/>
          </div>
          <div class="post-desk pad-left-less">
           <div class="mid-align">
            <div class="date">
             july 29, 2015
            </div>
            <h4 class="text-uppercase">
             <a href="#">
              quis velit lorem. Nam a neque
                                                    consectetur commodo
             </a>
            </h4>
            <ul class="post-cat">
             <li>
              <a href="#">
               interface
              </a>
             </li>
             <li>
              <a href="#">
               standard
              </a>
             </li>
            </ul>
           </div>
          </div>
         </div>
        </div>
        <div class="col-md-4">
         <div class="post-single">
          <div class="post-desk">
           <div class="mid-align">
            <div class="date">
             july 29, 2015
            </div>
            <h4 class="text-uppercase">
             <a href="#">
              Mauris quis tvelit lorem. Nam
                                                    neque justo suspendisse
             </a>
            </h4>
            <ul class="post-cat">
             <li>
              <a href="#">
               interface
              </a>
             </li>
             <li>
              <a href="#">
               standard
              </a>
             </li>
            </ul>
           </div>
          </div>
          <div class="post-img top">
           <img alt="" src="{% static 'massive/img/post/p2.jpg' %}"/>
          </div>
         </div>
        </div>
        <div class="col-md-4">
         <div class="post-single">
          <div class="post-img bottom">
           <img alt="" src="{% static 'massive/img/post/p3.jpg' %}"/>
          </div>
          <div class="post-desk ">
           <div class="mid-align">
            <div class="date">
             july 29, 2015
            </div>
            <h4 class="text-uppercase">
             <a href="#">
              commodo  velit lorem. Nam a neque
                                                    consectetur quis
             </a>
            </h4>
            <ul class="post-cat">
             <li>
              <a href="#">
               interface
              </a>
             </li>
             <li>
              <a href="#">
               standard
              </a>
             </li>
            </ul>
           </div>
          </div>
         </div>
        </div>
       </div>
       <!--post style 1 end-->
       <div class="m-top-50 inline-block text-center">
        <a class="p-read-more" href="#">
         View all blogs
         <i class="icon-arrows_slim_right">
         </i>
        </a>
       </div>
      </div>
     </div>
    </div>
    <!--blog post-->
    <!--testimonial-->
    <div class="testimonial-parallax parallax-19">
     <div class="page-content">
      <div class="container">
       <div class="row">
        <div class="col-md-12">
         <!--testimonial start-->
         <div class="text-center light-txt big-icon " id="testimonial-5">
          <div class="item">
           <div class="testimonial-thumb wow zoomIn">
            <img alt="" class="img-circle" src="{% static 'massive/img/event_avatar1.jpg' %}"/>
           </div>
           <div class="content">
            <p class="half-txt">
             Nam nec dui dolor. Curabitur in laoreet erat. Nam nec dui dolor. Aliquam varius dolor nunc, interdum commodo justoporttitor vitae.
                                                Quisque fermentum purus.
            </p>
            <div class="testimonial-meta">
             - Kevin Paige -
             <span>
              ABC
             </span>
            </div>
           </div>
          </div>
          <div class="item">
           <div class="testimonial-thumb wow zoomIn">
            <img alt="" class="img-circle" src="{% static 'massive/img/event_avatar3.jpg' %}"/>
           </div>
           <div class="content">
            <p class="half-txt">
             Vestibulum varius fermentum risus vitae lacinia neque auctor nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero aliquet.
            </p>
            <div class="testimonial-meta">
             - John Doe -
             <span>
              head of marketing, TB
             </span>
            </div>
           </div>
          </div>
          <div class="item">
           <div class="testimonial-thumb wow zoomIn">
            <img alt="" class="img-circle" src="{% static 'massive/img/event_avatar1.jpg' %}"/>
           </div>
           <div class="content">
            <p class="half-txt">
             Vestibulum varius fermentum risus vitae lacinia neque auctor nec. Nunc ac rutrum nulla. Nulla maximus dolor in quam euismod ac viverra libero aliquet.
            </p>
            <div class="testimonial-meta">
             - Linda Smith -
             <span>
              CEO, TB
             </span>
            </div>
           </div>
          </div>
         </div>
         <!--testimonial end-->
        </div>
       </div>
      </div>
     </div>
    </div>
    <!--testimonial-->
    <!--video demo-->
    <div class="page-content">
     <div class="container">
      <div class="row">
       <div class="heading-title text-center ">
        <h3 class="text-uppercase">
         watch video demo
        </h3>
        <p class="half-txt p-top-30">
         Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.
        </p>
       </div>
       <div class="col-md-6 col-md-offset-3">
        <p class="video-fit m-bot-50 wow zoomIn">
         <iframe allowfullscreen="" height="315" src="//www.youtube.com/embed/CevxZvSJLk8" width="560">
         </iframe>
        </p>
       </div>
      </div>
     </div>
    </div>
    <!--video demo-->
    <!--img post-->
    <div class="img-post col-2">
     <div class="item">
      <div class="p-img">
       <img alt="" src="{% static 'massive/img/post/p10.jpg' %}"/>
      </div>
      <div class="post-desk">
       <div class="title">
        <span class="post-sub-title text-uppercase light-txt">
         news
        </span>
        <h3 class="text-uppercase light-txt">
         <a href="#">
          some services that we provide occationaly
         </a>
        </h3>
       </div>
       <p class="light-txt">
        Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.
       </p>
      </div>
     </div>
     <div class="item">
      <img alt="" src="{% static 'massive/img/post/p11.jpg' %}"/>
      <div class="post-desk">
       <div class="title">
        <span class="post-sub-title text-uppercase light-txt">
         news
        </span>
        <h3 class="text-uppercase light-txt">
         <a href="#">
          Editors Now use As Their Default Model
         </a>
        </h3>
       </div>
       <p class="light-txt">
        Fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.
       </p>
      </div>
     </div>
    </div>
    <!--img post-->
    <!--price table-->
    <div class="page-content p-bot-0" id="price">
     <div class="container">
      <div class="row price-table-row">
       <div class="heading-title text-center ">
        <h3 class="text-uppercase">
         Price Table
        </h3>
        <p class="half-txt p-top-30">
         Phasellus fringilla suscipit risus nec eleifend. Pellentesque eu quam sem, ac malesuada leo sem quam pellente. Awesome sliders give you the opportunity to showcase your content.
        </p>
       </div>
       <!--3 column price table-->
       <div class="col-md-4">
        <div class="price-col wow fadeInLeft">
         <h1>
          Starter
         </h1>
         <div class="p-value">
          <div class="dollar">
           $ 29
           <span>
            .00
           </span>
          </div>
          <div class="duration">
           per month
          </div>
         </div>
         <ul>
          <li>
           24/7 Tech Suport
          </li>
          <li>
           Lorem ipsum dolor.
          </li>
          <li>
           ipsum dolor sit amet.
          </li>
          <li>
           dolor sit amet.
          </li>
         </ul>
         <a class="p-btn" href="#">
          purchase this plan
         </a>
        </div>
       </div>
       <div class="col-md-4">
        <div class="price-col feature wow fadeInUp">
         <h1>
          premium
         </h1>
         <div class="p-value">
          <div class="dollar">
           $ 49
           <span>
            .00
           </span>
          </div>
          <div class="duration">
           per month
          </div>
         </div>
         <ul>
          <li>
           24/7 Tech Suport
          </li>
          <li>
           Lorem ipsum dolor.
          </li>
          <li>
           ipsum dolor sit amet.
          </li>
          <li>
           dolor sit amet.
          </li>
         </ul>
         <a class="p-btn" href="#">
          purchase this plan
         </a>
        </div>
       </div>
       <div class="col-md-4">
        <div class="price-col wow fadeInRight">
         <h1>
          enterprise
         </h1>
         <div class="p-value">
          <div class="dollar">
           $ 79
           <span>
            .00
           </span>
          </div>
          <div class="duration">
           per month
          </div>
         </div>
         <ul>
          <li>
           24/7 Tech Suport
          </li>
          <li>
           Lorem ipsum dolor.
          </li>
          <li>
           ipsum dolor sit amet.
          </li>
          <li>
           dolor sit amet.
          </li>
         </ul>
         <a class="p-btn" href="#">
          purchase this plan
         </a>
        </div>
       </div>
       <!--3 column price table-->
      </div>
     </div>
    </div>
    <!--price table-->
    <!--subscribe-->
    <div class="page-content p-bot-0">
     <!--full width Subscribe center align start-->
     <div class="subscribe-box gray-bg round-5 page-content text-center">
      <div class="container">
       <div class="row">
        <div class="col-md-8 col-md-offset-2">
         <div class="subscribe-info">
          <h3 class="theme-color ">
           DON’T WANNA PURCHASE NOW?
          </h3>
          <span class=" ">
           subscribe to get in touch
          </span>
         </div>
         <div class="subscribe-form">
          <form class="form-inline">
           <input class="form-control" placeholder="Enter your email address" type="text"/>
           <button class="btn btn-medium btn-rounded btn-dark-solid text-uppercase" type="submit">
            subscribe
           </button>
          </form>
         </div>
        </div>
       </div>
      </div>
     </div>
     <!--full width Subscribe center align end-->
    </div>
    <!--subscribe-->
    <!--clients-->
    <div class="page-content">
     <div class="container">
      <div class="row">
       <div class="col-md-12">
        <div class="heading-title text-center">
         <h3 class="text-uppercase">
          our clients
         </h3>
         <p class="half-txt p-top-30">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut explicabo iusto quaerat
         </p>
        </div>
        <div id="clients-1">
         <div class="item">
          <img alt="Clients" src="{% static 'massive/img/clients/c-1.png' %}"/>
         </div>
         <div class="item">
          <img alt="Clients" src="{% static 'massive/img/clients/c-2.png' %}"/>
         </div>
         <div class="item">
          <img alt="Clients" src="{% static 'massive/img/clients/c-3.png' %}"/>
         </div>
         <div class="item">
          <img alt="Clients" src="{% static 'massive/img/clients/c-4.png' %}"/>
         </div>
         <div class="item">
          <img alt="Clients" src="{% static 'massive/img/clients/c-5.png' %}"/>
         </div>
         <div class="item">
          <img alt="Clients" src="{% static 'massive/img/clients/c-6.png' %}"/>
         </div>
         <div class="item">
          <img alt="Clients" src="{% static 'massive/img/clients/c-7.png' %}"/>
         </div>
         <div class="item">
          <img alt="Clients" src="{% static 'massive/img/clients/c-8.png' %}"/>
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <!--clients-->
    <!--contact-->
    <div class="parallax-inner dark parallax-15" id="contact">
     <div class="container">
      <div class="row ">
       <div class="col-md-4">
        <div class="featured-item text-center">
         <div class="icon wow bounceInDown">
          <i class="icon-map light-txt">
          </i>
         </div>
         <div class="title text-uppercase">
          <h4 class="light-txt">
           location
          </h4>
         </div>
         <div class="desc light-txt">
          Upper Level, Overseas Passenger
          <br/>
          Terminal, The Rocks, Sydney 2000
         </div>
        </div>
       </div>
       <div class="col-md-4">
        <div class="featured-item text-center">
         <div class="icon wow bounceInDown">
          <i class="icon-mobile light-txt">
          </i>
         </div>
         <div class="title text-uppercase">
          <h4 class="light-txt">
           call us
          </h4>
         </div>
         <div class="desc light-txt">
          Any time. We are open 24/7
          <br/>
          +1 2345-67-89000
         </div>
        </div>
       </div>
       <div class="col-md-4">
        <div class="featured-item text-center">
         <div class="icon wow bounceInDown">
          <i class="icon-envelope light-txt">
          </i>
         </div>
         <div class="title text-uppercase">
          <h4 class="light-txt">
           mail us
          </h4>
         </div>
         <div class="desc light-txt">
          get support via email
          <br/>
          mail@massivetheme.com
         </div>
        </div>
       </div>
      </div>
     </div>
    </div>
    <div class="page-content">
     <div class="container">
      <div class="heading-title text-center ">
       <h3 class="text-uppercase">
        drop us a line
       </h3>
       <div class="half-txt p-top-30">
        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus. Nam libero tempore
       </div>
      </div>
      <div class="row">
       <div class="col-md-10 col-md-offset-1">
        <form action="#" class="contact-comments" id="form" method="post" role="form">
         <div class="row">
          <div class="col-md-6 ">
           <div class="form-group">
            <!-- Name -->
            <input class=" form-control" id="name" maxlength="100" name="name" placeholder="Name *" required="" type="text"/>
           </div>
           <div class="form-group">
            <!-- Email -->
            <input class=" form-control" id="email" maxlength="100" name="email" placeholder="Email *" required="" type="email"/>
           </div>
           <div class="form-group">
            <!-- phone -->
            <input class=" form-control" id="phone" maxlength="100" name="phone" placeholder="Phone" type="text"/>
           </div>
          </div>
          <div class="col-md-6 form-group">
           <div class="form-group">
            <!-- Comment -->
            <textarea class="cmnt-text form-control" id="text" maxlength="400" name="text" placeholder="Comment">
            </textarea>
           </div>
           <div class="form-group full-width">
            <button class="btn btn-small btn-dark-solid " type="submit">
             Send Message
            </button>
           </div>
          </div>
         </div>
        </form>
       </div>
      </div>
     </div>
    </div>
    <!--contact-->
   </section>
   <!--body content end-->
   <!--footer 1 start -->
   <footer class="gray text-center footer-1" id="footer">
    <div class="container">
     <a class="footer-logo wow zoomIn" href="{% url 'massive-index' %}">
      <img alt="" class="retina" src="{% static 'massive/img/logo.png' %}"/>
     </a>
     <div class="sub-title">
      THE ULTIMATE THEME WITH MASSIVE COLLECTION
     </div>
     <div class="social-link circle m-top-80 m-bot-80">
      <a href="#">
       <i class="fa fa-facebook">
       </i>
      </a>
      <a href="#">
       <i class="fa fa-twitter">
       </i>
      </a>
      <a href="#">
       <i class="fa fa-dribbble">
       </i>
      </a>
      <a href="#">
       <i class="fa fa-google-plus">
       </i>
      </a>
      <a href="#">
       <i class="fa fa-behance">
       </i>
      </a>
     </div>
     <div class="copyright">
      © MASSIVE 2014.
     </div>
     <div class="copyright-sub-title text-uppercase">
      Building your site with lots of fun
     </div>
    </div>
   </footer>
   <!--footer 1 end-->
  </div>
  <!-- Placed js at the end of the document so the pages load faster -->
  <script src="{% static 'massive/js/jquery-1.10.2.min.js' %}">
  </script>
  <script src="{% static 'massive/js/bootstrap.min.js' %}">
  </script>
  <script src="{% static 'massive/js/menuzord.js' %}">
  </script>
  <script src="{% static 'massive/js/jquery.flexslider-min.js' %}">
  </script>
  <script src="{% static 'massive/js/owl.carousel.min.js' %}">
  </script>
  <script src="{% static 'massive/js/jquery.isotope.js' %}">
  </script>
  <script src="js/imagesloaded.js?2">
  </script>
  <script src="{% static 'massive/js/jquery.magnific-popup.min.js' %}">
  </script>
  <script src="{% static 'massive/js/jquery.countTo.js' %}">
  </script>
  <script src="{% static 'massive/js/visible.js' %}">
  </script>
  <script src="{% static 'massive/js/smooth.js' %}">
  </script>
  <script src="{% static 'massive/js/wow.min.js' %}">
  </script>
  <script src="{% static 'massive/js/imagesloaded.js' %}">
  </script>
  <!-- only for single page nav -->
  <script src="{% static 'massive/js/jquery.nav.js' %}">
  </script>
  <!--common scripts-->
  <script src="{% static 'massive/js/scripts.js' %}">
  </script>
 </body>
</html>
