<!DOCTYPE html>
{% load staticfiles %}
<html class="no-js" lang="en-US">
 <head>
  <!-- DEFAULT META TAGS -->
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <!-- FONTS -->
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet" type="text/css"/>
  <link href="http://fonts.googleapis.com/css?family=Lora:400italic,700italic" rel="stylesheet" type="text/css"/>
  <!-- CSS -->
  <link href="{% static 'sudo/files/css/style.css' %}" id="default-style-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="{% static 'sudo/files/css/font-awesome.min.css' %}" id="fontawesome-style-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="{% static 'sudo/files/css/ionicons.css' %}" id="ionic-icons-style-css" media="all" rel="stylesheet" type="text/css"/>
  <link href="{% static 'sudo/files/css/mqueries.css' %}" id="mqueries-style-css" media="all" rel="stylesheet" type="text/css"/>
  <!-- FAVICON -->
  <link href="{% static 'sudo/files/uploads/favicon.png' %}" rel="shortcut icon"/>
  <!-- DOCUMENT TITLE -->
  <title>
   Bond6 Fitness
  </title>
 </head>
 <body>
  <!-- PAGELOADER -->
  <div id="page-loader">
   <div class="page-loader-inner">
    <span class="loader-figure">
    </span>
    <h6 class="loader-label">
     Loading
    </h6>
    <img alt="Loader Logo" class="loader-logo" src="{% static 'sudo/files/uploads/logo-sudo-scroll.png' %}" srcset="files/uploads/logo-sudo-scroll.png 1x, files/uploads/logo-sudo-scroll@2x.png 2x"/>
   </div>
  </div>
  <!-- PAGELOADER -->
  <!-- PAGE CONTENT -->
  <div id="page-content">
   <!-- HEADER -->
   <header class="header-bordered header-transparent transparent-light" id="header">
    <div class="header-inner clearfix">
     <!-- LOGO -->
     <div class="left-float" id="logo">
      <a href="{% url 'sudo-index' %}">
       <img alt="Logo Scroll" id="scroll-logo" src="{% static 'sudo/files/uploads/logo-sudo-scroll.png' %}" srcset="files/uploads/logo-sudo-scroll.png 1x, files/uploads/logo-sudo-scroll@2x.png 2x"/>
       <img alt="Logo Dark" id="dark-logo" src="{% static 'sudo/files/uploads/logo-sudo-dark.png' %}" srcset="files/uploads/logo-sudo-dark.png 1x, files/uploads/logo-sudo-dark@2x.png 2x"/>
       <img alt="Logo Light" id="light-logo" src="{% static 'sudo/files/uploads/logo-sudo-light.png' %}" srcset="files/uploads/logo-sudo-light.png 1x, files/uploads/logo-sudo-light@2x.png 2x"/>
      </a>
     </div>
     <!-- MAIN NAVIGATION -->
     <div class="right-float" id="menu">
      <a class="responsive-nav-toggle" href="#">
       <span class="hamburger">
       </span>
      </a>
      <div class="menu-inner">
       <nav id="main-nav">
        <ul>
         <li class="menu-item-has-children">
          <a href="{% url 'sudo-index' %}">
           Home
          </a>
          <ul class="submenu">
           <li class="menu-item-has-children">
            <a href="{% url 'sudo-index' %}">
             Agency
            </a>
            <ul class="submenu">
             <li>
              <a href="{% url 'sudo-index' %}">
               Agency Main
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-index-agency-business' %}">
               Agency Business
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-index-agency-creative' %}">
               Agency Creative
              </a>
             </li>
            </ul>
           </li>
           <li class="menu-item-has-children">
            <a href="{% url 'sudo-index-portfolio-modern' %}">
             Portfolio
            </a>
            <ul class="submenu">
             <li>
              <a href="{% url 'sudo-index-portfolio-modern' %}">
               Portfolio Modern
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-index-portfolio-classic' %}">
               Portfolio Classic
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-index-portfolio-creative' %}">
               Portfolio Creative
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-index-portfolio-freelancer' %}">
               Portfolio Freelancer
              </a>
             </li>
            </ul>
           </li>
           <li class="menu-item-has-children">
            <a href="{% url 'sudo-index-blog-classic' %}">
             Blog
            </a>
            <ul class="submenu">
             <li>
              <a href="{% url 'sudo-index-blog-classic' %}">
               Blog Classic
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-index-blog-modern' %}">
               Blog Modern
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-index-blog-magazine' %}">
               Blog Magazine
              </a>
             </li>
            </ul>
           </li>
           <li class="menu-item-has-children">
            <a href="{% url 'sudo-index-shop-1' %}">
             Shop
            </a>
            <ul class="submenu">
             <li>
              <a href="{% url 'sudo-index-shop-1' %}">
               Shop 1
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-index-shop-2' %}">
               Shop 2
              </a>
             </li>
            </ul>
           </li>
           <li>
            <a href="{% url 'sudo-index-architecture' %}">
             Architecture
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-index-applanding' %}">
             App Landing
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-index-fitness' %}">
             Gym / Fitness
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-index-music' %}">
             Music / Band
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-index-photography' %}">
             Photography
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-index-photography-gallery' %}">
             Gallery
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-index-restaurant' %}">
             Resaturant
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-index-medical' %}">
             Medical
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-index-onepage' %}">
             One Page
            </a>
           </li>
          </ul>
         </li>
         <li class="menu-item-has-children">
          <a href="{% url 'sudo-about-classic' %}">
           Pages
          </a>
          <ul class="submenu">
           <li class="menu-item-has-children">
            <a href="{% url 'sudo-about-classic' %}">
             About
            </a>
            <ul class="submenu">
             <li>
              <a href="{% url 'sudo-about-classic' %}">
               About Classic
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-about-creative' %}">
               About Creative
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-about-minimal' %}">
               About Minimal
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-about-me' %}">
               About Me
              </a>
             </li>
            </ul>
           </li>
           <li class="menu-item-has-children">
            <a href="{% url 'sudo-services-classic' %}">
             Services
            </a>
            <ul class="submenu">
             <li>
              <a href="{% url 'sudo-services-classic' %}">
               Services Classic
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-services-creative' %}">
               Services Creative
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-services-minimal' %}">
               Services Minimal
              </a>
             </li>
            </ul>
           </li>
           <li class="menu-item-has-children">
            <a href="{% url 'sudo-contact-classic' %}">
             Contact
            </a>
            <ul class="submenu">
             <li>
              <a href="{% url 'sudo-contact-classic' %}">
               Contact Classic
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-contact-creative' %}">
               Contact Creative
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-contact-minimal' %}">
               Contact Minimal
              </a>
             </li>
            </ul>
           </li>
           <li class="menu-item-has-children">
            <a href="{% url 'sudo-about-classic' %}">
             Miscellaneous
            </a>
            <ul class="submenu">
             <li>
              <a href="{% url 'sudo-misc-maintenance' %}">
               Maintenance
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-misc-faq' %}">
               FAQ
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-misc-404' %}">
               404
              </a>
             </li>
            </ul>
           </li>
          </ul>
         </li>
         <li class="menu-item-has-children mega-menu">
          <a href="{% url 'sudo-portfolio-modern-fullwidth' %}">
           Portfolio
          </a>
          <div class="mega-menu-content col-4">
           <div class="mega-menu-inner clearfix">
            <ul>
             <li class="mega-menu-title">
              <a href="{% url 'sudo-portfolio-modern-fullwidth' %}">
               Fullwidth Layout
              </a>
              <ul>
               <li>
                <a href="{% url 'sudo-portfolio-modern-fullwidth' %}">
                 Modern
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-modern-fullwidth-spaced' %}">
                 Modern Spaced
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-grid-fullwidth' %}">
                 Grid
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-grid-fullwidth-spaced' %}">
                 Grid Spaced
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-masonry-fullwidth' %}">
                 Masonry
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-masonry-fullwidth-spaced' %}">
                 Masonry Spaced
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-carousel-fullwidth' %}">
                 Carousel
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-carousel-fullwidth-spaced' %}">
                 Carousel Spaced
                </a>
               </li>
              </ul>
             </li>
             <li class="mega-menu-title">
              <a href="{% url 'sudo-portfolio-modern-boxed' %}">
               Boxed Layout
              </a>
              <ul>
               <li>
                <a href="{% url 'sudo-portfolio-modern-boxed' %}">
                 Modern
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-modern-boxed-spaced' %}">
                 Modern Spaced
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-grid-boxed' %}">
                 Grid
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-grid-boxed-spaced' %}">
                 Grid Spaced
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-masonry-boxed' %}">
                 Masonry
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-masonry-boxed-spaced' %}">
                 Masonry Spaced
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-carousel-boxed' %}">
                 Carousel
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-carousel-boxed-spaced' %}">
                 Carousel Spaced
                </a>
               </li>
              </ul>
             </li>
             <li class="mega-menu-title">
              <a href="{% url 'sudo-index' %}">
               Variations
              </a>
              <ul>
               <li>
                <a href="{% url 'sudo-portfolio-grid-col2' %}">
                 Grid 2 Columns
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-grid-col3' %}">
                 Grid 3 Columns
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-grid-col4' %}">
                 Grid 4 Columns
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-grid-col5' %}">
                 Grid 5 Columns
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-masonry-col2' %}">
                 Masonry 2 Columns
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-masonry-col3' %}">
                 Masonry 3 Columns
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-masonry-col4' %}">
                 Masonry 4 Columns
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-masonry-col5' %}">
                 Masonry 5 Columns
                </a>
               </li>
              </ul>
             </li>
             <li class="mega-menu-title">
              <a href="{% url 'sudo-portfolio-single-smartnav' %}">
               Single View
              </a>
              <ul>
               <li>
                <a href="{% url 'sudo-portfolio-single-smartnav' %}">
                 Smart Nav
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-single-custom' %}">
                 Custom
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-single-gallery' %}">
                 Gallery
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-single-slider' %}">
                 Slider
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-single-sidebar' %}">
                 Sidebar
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-single-photography' %}">
                 Photography
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-portfolio-single-video' %}">
                 Video Project
                </a>
               </li>
              </ul>
             </li>
            </ul>
           </div>
           <!-- END .mega-menu-inner -->
          </div>
          <!-- END .mega-menu-content -->
         </li>
         <li class="menu-item-has-children mega-menu">
          <a href="{% url 'sudo-header-light' %}">
           Features
          </a>
          <div class="mega-menu-content col-4">
           <div class="mega-menu-inner clearfix">
            <ul>
             <li class="mega-menu-title">
              <a href="{% url 'sudo-header-light' %}">
               Header
              </a>
              <ul>
               <li>
                <a href="{% url 'sudo-header-light' %}">
                 Light Header
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-header-dark' %}">
                 Dark Header
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-header-transparent-light' %}">
                 Transparent Light
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-header-transparent-dark' %}">
                 Transparent Dark
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-header-noborders' %}">
                 No Borders
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-header-sub-light' %}">
                 Submenu Light
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-header-sub-dark' %}">
                 Submenu Dark
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-header-logoswitch' %}">
                 Logo Switch
                </a>
               </li>
              </ul>
             </li>
             <li class="mega-menu-title">
              <a href="{% url 'sudo-hero-slider' %}">
               Hero / Pagetitle
              </a>
              <ul>
               <li>
                <a href="{% url 'sudo-hero-slider' %}">
                 Slider
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-hero-parallax' %}">
                 Parallax Background
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-hero-video' %}">
                 Video Background
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-hero-color' %}">
                 Color Background
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-hero-simple' %}">
                 Without Background
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-hero-height-auto' %}">
                 Auto Height
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-hero-height-big' %}">
                 Big Height
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-hero-height-full' %}">
                 Full Height
                </a>
               </li>
              </ul>
             </li>
             <li class="mega-menu-title">
              <a href="{% url 'sudo-footer-light' %}">
               Footer
              </a>
              <ul>
               <li>
                <a href="{% url 'sudo-footer-light' %}">
                 Light Footer
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-footer-dark' %}">
                 Dark Footer
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-footer-custom' %}">
                 Custom Background
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-footer-minimal' %}">
                 Minimal
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-footer-col3' %}">
                 3 Columns
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-footer-col4' %}">
                 4 Columns
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-footer-col5' %}">
                 5 Columns
                </a>
               </li>
              </ul>
             </li>
             <li class="mega-menu-title">
              <a href="{% url 'sudo-shop-page-cart' %}">
               Media
              </a>
              <ul>
               <li>
                <a href="{% url 'sudo-media-video' %}">
                 Video
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-media-audio' %}">
                 Audio
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-media-slider' %}">
                 Slider
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-media-carousel' %}">
                 Carousel
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-media-gallery' %}">
                 Gallery
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-media-hover-effects' %}">
                 Hover effects
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-media-feeds' %}">
                 Media Feeds
                </a>
               </li>
              </ul>
             </li>
            </ul>
           </div>
           <!-- END .mega-menu-inner -->
          </div>
          <!-- END .mega-menu-content -->
         </li>
         <li class="menu-item-has-children mega-menu">
          <a href="{% url 'sudo-blog-modern-fullwidth' %}">
           Blog
          </a>
          <div class="mega-menu-content col-4">
           <div class="mega-menu-inner clearfix">
            <ul>
             <li class="mega-menu-title">
              <a href="{% url 'sudo-blog-modern-fullwidth' %}">
               Fullwidth Layouts
              </a>
              <ul>
               <li>
                <a href="{% url 'sudo-blog-modern-fullwidth' %}">
                 Modern
                 <em>
                  no hero
                 </em>
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-modern-fullwidth-sidebar' %}">
                 Modern Sidebar
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-grid-fullwidth' %}">
                 Grid
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-grid-fullwidth-sidebar' %}">
                 Grid Sidebar
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-masonry-fullwidth' %}">
                 Masonry
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-masonry-fullwidth-sidebar' %}">
                 Masonry Sidebar
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-classic' %}">
                 Classic
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-classic-fullwidth-sidebar' %}">
                 Classic Sidebar
                </a>
               </li>
              </ul>
             </li>
             <li class="mega-menu-title">
              <a href="{% url 'sudo-blog-modern-boxed' %}">
               Boxed Layouts
              </a>
              <ul>
               <li>
                <a href="{% url 'sudo-blog-modern-boxed' %}">
                 Modern
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-modern-boxed-sidebar' %}">
                 Modern Sidebar
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-grid-boxed' %}">
                 Grid
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-grid-boxed-sidebar' %}">
                 Grid Sidebar
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-masonry-boxed' %}">
                 Masonry
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-masonry-boxed-sidebar' %}">
                 Masonry Sidebar
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-classic' %}">
                 Classic
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-classic-boxed-sidebar' %}">
                 Classic Sidebar
                </a>
               </li>
              </ul>
             </li>
             <li class="mega-menu-title">
              <a href="{% url 'sudo-blog-single-classic' %}">
               Single Layout
              </a>
              <ul>
               <li>
                <a href="{% url 'sudo-blog-single-classic' %}">
                 Classic
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-single-custom1' %}">
                 Custom One
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-single-custom2' %}">
                 Custom Two
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-single-custom3' %}">
                 Custom Three
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-single-video-hero' %}">
                 Video Hero
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-single-sidebar' %}">
                 Sidebar
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-single-sidebar-fullwidth' %}">
                 Sidebar Fullwidth
                </a>
               </li>
              </ul>
             </li>
             <li class="mega-menu-title">
              <a href="{% url 'sudo-blog-single-video-extern' %}">
               Post Types
              </a>
              <ul>
               <li>
                <a href="{% url 'sudo-blog-single-video-extern' %}">
                 Video Extern
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-single-video-selfhosted' %}">
                 Video Selfhosted
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-single-audio-extern' %}">
                 Audio Extern
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-single-audio-selfhosted' %}">
                 Audio Selfhosted
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-single-slider' %}">
                 Slider
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-single-gallery' %}">
                 Gallery
                </a>
               </li>
               <li>
                <a href="{% url 'sudo-blog-single-quote' %}">
                 Quote
                </a>
               </li>
              </ul>
             </li>
            </ul>
           </div>
           <!-- END .mega-menu-inner -->
          </div>
          <!-- END .mega-menu-content -->
         </li>
         <li class="menu-item-has-children">
          <a href="{% url 'sudo-shop-grid-fullwidth' %}">
           Shop
          </a>
          <ul class="submenu">
           <li class="menu-item-has-children">
            <a href="{% url 'sudo-shop-grid-fullwidth' %}">
             Layout
            </a>
            <ul class="submenu">
             <li>
              <a href="{% url 'sudo-shop-grid-fullwidth' %}">
               Grid Fullwidth
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-shop-grid-boxed' %}">
               Grid Boxed
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-shop-grid-sidebar-left' %}">
               Sidebar Left
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-shop-grid-sidebar-right' %}">
               Sidebar Right
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-shop-grid-columns2' %}">
               Two columns
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-shop-grid-columns3' %}">
               Three columns
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-shop-grid-boxed' %}">
               Four columns
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-shop-grid-fullwidth' %}">
               Five columns
              </a>
             </li>
            </ul>
           </li>
           <li class="menu-item-has-children">
            <a href="{% url 'sudo-shop-single-simple' %}">
             Single View
            </a>
            <ul class="submenu">
             <li>
              <a href="{% url 'sudo-shop-single-simple' %}">
               Simple
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-shop-single-sale' %}">
               Sale
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-shop-single-custom' %}">
               Custom
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-shop-single-hero' %}">
               With Hero
              </a>
             </li>
            </ul>
           </li>
           <li class="menu-item-has-children">
            <a href="{% url 'sudo-shop-page-cart' %}">
             Pages
            </a>
            <ul class="submenu">
             <li>
              <a href="{% url 'sudo-shop-page-cart' %}">
               Cart
              </a>
             </li>
             <li>
              <a href="{% url 'sudo-shop-page-checkout' %}">
               Checkout
              </a>
             </li>
            </ul>
           </li>
          </ul>
         </li>
         <li class="menu-item-has-children">
          <a href="{% url 'sudo-elements-columns' %}">
           Elements
          </a>
          <ul class="submenu">
           <li>
            <a href="{% url 'sudo-elements-columns' %}">
             Columns
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-elements-buttons' %}">
             Buttons
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-elements-tabs-arc' %}">
             Tabs &amp; Accordion
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-elements-separators' %}">
             Separators / Deviders
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-elements-team' %}">
             Team Member
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-elements-counter' %}">
             Counter
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-elements-progressbar' %}">
             Progress Bars
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-elements-pricing' %}">
             Pricing Tables
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-elements-testimonials' %}">
             Testimonials
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-elements-socialicons' %}">
             Social Links
            </a>
           </li>
           <li>
            <a href="{% url 'sudo-elements-iconboxes' %}">
             Icon Boxes
            </a>
           </li>
          </ul>
         </li>
        </ul>
       </nav>
       <div class="clearfix" id="menu-misc">
        <!-- HEADER SEARCH -->
        <div id="header-search">
         <a href="#" id="show-search">
          <i class="fa fa-search">
          </i>
         </a>
         <div class="header-search-content">
          <form action="search.html" method="get">
           <a href="#" id="close-search">
           </a>
           <input class="form-control" name="q" placeholder="Enter your search ..." type="text" value=""/>
           <h5 class="subtitle-1">
            ... &amp; press enter to start
           </h5>
          </form>
          <div class="search-outer">
          </div>
         </div>
        </div>
        <!-- HEADER CART -->
        <div id="header-cart">
         <a href="{% url 'sudo-shop-page-cart' %}" id="show-cart">
          <i class="fa fa-shopping-cart">
          </i>
          <span>
           3
          </span>
         </a>
         <div class="header-cart-content">
          <ul class="cart-item-list">
           <li>
            <div class="cart-item-image">
             <a href="{% url 'sudo-shop-single-simple' %}">
              <img alt="SEO NAME" src="{% static 'sudo/files/uploads/100x130-light.jpg' %}"/>
             </a>
            </div>
            <div class="cart-item-desc">
             <h6 class="product-name uppercase">
              <a href="#">
               White Stripes Shirt
              </a>
             </h6>
             <span class="cart-item-quantity">
              2 x
             </span>
             <span class="cart-item-price">
              $ 26.99
             </span>
            </div>
           </li>
           <li>
            <div class="cart-item-image">
             <a href="{% url 'sudo-shop-single-simple' %}">
              <img alt="SEO NAME" src="{% static 'sudo/files/uploads/100x130-light.jpg' %}"/>
             </a>
            </div>
            <div class="cart-item-desc">
             <h6 class="product-name uppercase">
              <a href="#">
               Wood Watch
              </a>
             </h6>
             <span class="cart-item-quantity">
              1 x
             </span>
             <span class="cart-item-price">
              $ 189.99
             </span>
            </div>
           </li>
          </ul>
          <div class="cart-total">
           <h6 class="cart-total-name">
            Total
           </h6>
           <div class="cart-total-amount">
            $ 243,97
           </div>
          </div>
          <div class="cart-action">
           <a class="cart-action-cart sr-button button-mini button-3" href="{% url 'sudo-shop-page-cart' %}">
            View Cart
           </a>
           <a class="cart-action-checkout sr-button button-mini button-2" href="{% url 'sudo-shop-page-checkout' %}">
            Checkout
           </a>
          </div>
         </div>
        </div>
        <!-- END #header-cart -->
        <!-- HEADER LANGUAGE -->
        <div id="header-language">
         <a href="#" id="show-language">
          En
          <i class="ion ion-ios-arrow-down">
          </i>
         </a>
         <div class="header-language-content">
          <ul class="lang-select">
           <li>
            <a href="#">
             De
            </a>
           </li>
           <li>
            <a href="#">
             Fr
            </a>
           </li>
          </ul>
         </div>
        </div>
        <!-- END #header-language -->
       </div>
       <!-- END #menu-misc -->
      </div>
      <!-- END .menu-inner -->
     </div>
     <!-- END #menu -->
    </div>
    <!-- END .header-inner -->
   </header>
   <!-- HERO  -->
   <section class="hero-auto parallax-section text-light" data-parallax-image="{% static 'sudo/files/uploads/1680x1050-dark.jpg' %}" id="hero">
    <div class="wrapper align-center" id="page-title">
     <h5 class="subtitle-2">
      <a href="#">
       Photography
      </a>
     </h5>
     <h2>
      <strong>
       Beautiful Landscape Photography
      </strong>
     </h2>
     <ul class="blog-meta">
      <li class="post-date">
       3 days ago
      </li>
      <li class="post-author">
       <a href="#">
        <span>
         by Jhon Florence
        </span>
       </a>
      </li>
     </ul>
    </div>
    <!-- END #page-title -->
   </section>
   <!-- HERO -->
   <!-- PAGEBODY -->
   <section id="page-body">
    <div class="main-content left-float" id="blog-single">
     <div class="wrapper">
      <div class="post-content">
       <p>
        Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
       </p>
       <p>
        When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.
       </p>
       <blockquote>
        Pityful a rethoric question ran over her cheek, then she continued her way.
       </blockquote>
       <p>
        And if she hasn’t been rewritten, then they are still using her. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
       </p>
       <h5 class="uppercase">
        Far far away
       </h5>
       <p>
        A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful
        <strong>
         Pointing has no control
        </strong>
        about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave
        <strong>
         for the far World
        </strong>
        of Grammar.
       </p>
       <p>
        The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen.
       </p>
       <p>
        <em>
         Let's see the CSS
        </em>
       </p>
       <pre>
    header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
    }</pre>
       <p>
        The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
       </p>
       <p>
        When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy.
       </p>
      </div>
      <!-- END .post-content -->
      <div id="share">
       <ul>
        <li class="facebook">
         <a href="#">
          <span>
           Share
          </span>
         </a>
        </li>
        <li class="twitter">
         <a href="#">
          <span>
           Tweet
          </span>
         </a>
        </li>
        <li class="googleplus">
         <a href="#">
          <span>
           Share
          </span>
         </a>
        </li>
        <li class="pinterest">
         <a href="#">
          <span>
           Pin it
          </span>
         </a>
        </li>
       </ul>
      </div>
      <div class="author-box">
       <div class="author-image">
        <img alt="SEO NAME" src="{% static 'sudo/files/uploads/100x100.jpg' %}"/>
       </div>
       <div class="author-details">
        <h6 class="subtitle-2">
         Written by
        </h6>
        <h5 class="author-name">
         <a href="#">
          Jhon Florence
         </a>
        </h5>
        <p class="author-desc">
         When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane.
        </p>
       </div>
      </div>
      <!-- COMMENTS -->
      <div class="comments" id="blog-comments">
       <h6 class="subtitle-2">
        3 Comments
       </h6>
       <ul class="comment-list">
        <li class="comment">
         <div class="comment-inner">
          <div class="user">
           <img alt="avatar" class="avatar" src="{% static 'sudo/files/uploads/100x100.jpg' %}"/>
          </div>
          <div class="comment-content">
           <h5 class="comment-name">
            Anna Greenfield
           </h5>
           <h6 class="time subtitle-1">
            January 26, 2016
           </h6>
           <p class="comment-text">
            Morbi ut urna at est posuere porta ac eu leo. Vivamus mollis sollicitudin varius. Pellentesque viverra, ligula id tincidunt ultrices, nunc nulla porttitor justo, sed varius risus urna et augue. Etiam et lectus lectus. Quisque vitae erat lorem, a mattis lectus.
           </p>
           <a class="comment-reply-link" href="#">
            Reply
           </a>
          </div>
         </div>
         <ul class="children">
          <li class="comment">
           <div class="comment-inner">
            <div class="user">
             <img alt="avatar" class="avatar" src="{% static 'sudo/files/uploads/100x100.jpg' %}"/>
            </div>
            <div class="comment-content">
             <h5 class="comment-name">
              Jhon Florence
             </h5>
             <h6 class="time subtitle-1">
              January 26, 2016
             </h6>
             <p class="comment-text">
              Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
             </p>
             <a class="comment-reply-link" href="#">
              Reply
             </a>
            </div>
           </div>
          </li>
         </ul>
        </li>
        <li class="comment">
         <div class="comment-inner">
          <div class="user">
           <img alt="avatar" class="avatar" src="{% static 'sudo/files/uploads/100x100.jpg' %}"/>
          </div>
          <div class="comment-content">
           <h5 class="comment-name">
            Carol Barnes
           </h5>
           <h6 class="time subtitle-1">
            January 21, 2016
           </h6>
           <p class="comment-text">
            Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
           </p>
           <a class="comment-reply-link" href="#">
            Reply
           </a>
          </div>
         </div>
        </li>
       </ul>
      </div>
      <!-- END #blog-comments -->
      <!-- COMMENTS -->
      <!-- LEAVE COMMENT -->
      <div class="leavecomment" id="blog-leavecomment">
       <h6 class="subtitle-2">
        Leave a comment
       </h6>
       <form action="#" id="commentform" method="post">
        <div class="form-row column one-third">
         <label class="req" for="author">
          Name
          <abbr class="required" title="required">
           *
          </abbr>
         </label>
         <input class="author" id="author" name="author" type="text" value=""/>
        </div>
        <div class="form-row column one-third">
         <label class="req" for="email">
          Email
          <abbr class="required" title="required">
           *
          </abbr>
         </label>
         <input class="email" id="email" name="email" type="text" value=""/>
        </div>
        <div class="form-row column one-third last-col">
         <label for="website">
          Website
         </label>
         <input class="website" id="website" name="website" type="text" value=""/>
        </div>
        <div class="clear">
        </div>
        <div class="form-row">
         <label class="req" for="comment_form">
          Comment
          <abbr class="required" title="required">
           *
          </abbr>
         </label>
         <textarea class="comment_form" cols="50" id="comment_form" name="comment_form" rows="15">
         </textarea>
        </div>
        <div class="form-row">
         <input class="submit" name="submit_form" type="submit" value="Post Comment"/>
        </div>
       </form>
      </div>
      <!-- END #blog-leavecomment -->
      <!-- LEAVE COMMENT -->
      <div class="spacer-medium">
      </div>
      <div id="single-pagination">
       <ul>
        <li class="prev">
         <a href="{% url 'sudo-blog-single-sidebar' %}">
          Previous Post
         </a>
        </li>
        <li class="back">
         <a href="{% url 'sudo-blog-modern-fullwidth' %}">
          Back to Blog
         </a>
        </li>
        <li class="next">
         <a href="{% url 'sudo-blog-single-video-extern' %}">
          Next Post
         </a>
        </li>
       </ul>
      </div>
     </div>
     <!-- END .wrapper -->
    </div>
    <!-- END #blog-single .main-content -->
    <aside class="sidebar sidebar-grey right-float">
     <div class="sidebar-content">
      <div class="widget widget_search">
       <form action="" class="searchform" id="searchform" method="get">
        <div>
         <input id="s" name="s" placeholder="Enter your search ..." type="text" value=""/>
         <input id="searchsubmit" type="submit" value="Search"/>
        </div>
       </form>
      </div>
      <div class="widget widget_tag_cloud">
       <h6 class="widget-title uppercase">
        Tags
       </h6>
       <div class="tagcloud">
        <a href="#">
         design
        </a>
        <a href="#">
         minimal
        </a>
        <a href="#">
         video
        </a>
        <a href="#">
         travel
        </a>
        <a href="#">
         architecture
        </a>
        <a href="#">
         nature
        </a>
        <a href="#">
         music
        </a>
        <a href="#">
         sport
        </a>
        <a href="#">
         culture
        </a>
       </div>
      </div>
      <div class="widget widget_text">
       <h6 class="widget-title uppercase">
        Text Widget
       </h6>
       <p>
        Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
       </p>
      </div>
      <div class="widget widget_recent_entries">
       <h6 class="widget-title uppercase">
        Recent Posts
       </h6>
       <ul>
        <li>
         <a href="#">
          Waterfalls of Iceland
         </a>
         <span class="post-date">
          5 hours ago
         </span>
        </li>
        <li>
         <a href="#">
          Minimal Interior Elements
         </a>
         <span class="post-date">
          11 hours ago
         </span>
        </li>
        <li>
         <a href="#">
          Birds flying around
         </a>
         <span class="post-date">
          1 day ago
         </span>
        </li>
       </ul>
      </div>
      <div class="widget">
       <h6 class="widget-title uppercase">
        Categories
       </h6>
       <ul class="menu">
        <li>
         <a href="#">
          Design
         </a>
        </li>
        <li>
         <a href="#">
          Graphic
         </a>
        </li>
        <li>
         <a href="#">
          Stories
         </a>
        </li>
        <li>
         <a href="#">
          Photography
         </a>
        </li>
        <li>
         <a href="#">
          Video
         </a>
        </li>
       </ul>
      </div>
     </div>
    </aside>
    <!-- END .sidebar -->
    <div class="clear">
    </div>
   </section>
   <!-- PAGEBODY -->
   <!-- FOOTER -->
   <footer class="footer-dark text-light" id="footer">
    <div class="footer-inner wrapper">
     <div class="column-section clearfix">
      <div class="column two-fifth">
       <div class="widget">
        <img alt="Logo" src="{% static 'sudo/files/uploads/logo-sudo-light.png' %}" srcset="files/uploads/logo-sudo-light.png 1x, files/uploads/logo-sudo-light@2x.png 2x"/>
        <div class="spacer-mini">
        </div>
        <p>
         Ultra Performance Wordpress theme for creative agencies.
         <br/>
         We provide perfect and professional services,  covering all areas  of the modern communication.
        </p>
       </div>
       <div class="widget">
        <ul class="socialmedia-widget hover-fade-1">
         <li class="facebook">
          <a href="#">
          </a>
         </li>
         <li class="twitter">
          <a href="#">
          </a>
         </li>
         <li class="dribbble">
          <a href="#">
          </a>
         </li>
         <li class="behance">
          <a href="#">
          </a>
         </li>
         <li class="instagram">
          <a href="#">
          </a>
         </li>
        </ul>
       </div>
      </div>
      <div class="column one-fifth">
       <div class="widget">
        <h6 class="widget-title uppercase">
         Quick Menu
        </h6>
        <ul class="menu">
         <li>
          <a href="#">
           About Us
          </a>
         </li>
         <li>
          <a href="#">
           Portfolio
          </a>
         </li>
         <li>
          <a href="#">
           Our Team
          </a>
         </li>
         <li>
          <a href="#">
           Support
          </a>
         </li>
         <li>
          <a href="#">
           Contact Us
          </a>
         </li>
        </ul>
       </div>
      </div>
      <div class="column one-fifth">
       <div class="widget">
        <h6 class="widget-title uppercase">
         Categories
        </h6>
        <ul class="menu">
         <li>
          <a href="#">
           Design
          </a>
         </li>
         <li>
          <a href="#">
           Graphic
          </a>
         </li>
         <li>
          <a href="#">
           Stories
          </a>
         </li>
         <li>
          <a href="#">
           Photography
          </a>
         </li>
         <li>
          <a href="#">
           Video
          </a>
         </li>
        </ul>
       </div>
      </div>
      <div class="column one-fifth last-col">
       <div class="widget widget_recent_entries">
        <h6 class="widget-title uppercase">
         Recent Posts
        </h6>
        <ul>
         <li>
          <a href="#">
           Waterfalls of Iceland
          </a>
          <span class="post-date">
           5 hours ago
          </span>
         </li>
         <li>
          <a href="#">
           Minimal Interior Elements
          </a>
          <span class="post-date">
           11 hours ago
          </span>
         </li>
         <li>
          <a href="#">
           Birds flying around
          </a>
          <span class="post-date">
           1 day ago
          </span>
         </li>
        </ul>
       </div>
      </div>
     </div>
     <a href="#" id="backtotop">
      Back to top
     </a>
    </div>
    <div class="copyright">
     <small>
      Copyright © 2016 by Sudo - Made with Love by
      <a href="http://www.spab-rice.com">
       Spab Rice
      </a>
     </small>
    </div>
   </footer>
   <!-- FOOTER -->
  </div>
  <!-- END #page-content -->
  <!-- PAGE CONTENT -->
  <!-- SCRIPTS -->
  <script src="{% static 'sudo/files/js/jquery-2.1.4.min.js' %}">
  </script>
  <script src="{% static 'sudo/files/js/jquery.easing.1.3.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'sudo/files/js/jquery.visible.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'sudo/files/js/tweenMax.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'sudo/files/js/jquery.backgroundparallax.min.js' %}" type="text/javascript">
  </script>
  <script src="{% static 'sudo/files/js/script.js' %}" type="text/javascript">
  </script>
  <!-- SCRIPTS -->
 </body>
</html>