/*=======================
 *  Author:		 Dave Luke Jr
 *  Company:	 CenterStack.io
 *  Description:	 style.scss
 *=======================*/

@import "variables";
$base: $mt-green-sharp;
.font-base { color: $base !important; }
.base { color: #fff !important; background: $base !important; }


/*	Nav Button Transition
========================================= */
.pi-row-lg { padding: 0; }
.pi-row-lg .pi-btn {
	margin-top: 29px;
	margin-bottom: 29px;
}
.pi-row-reducible .pi-row-lg .pi-btn {
	-webkit-transition: margin-top 0.20s ease-in-out, margin-bottom 0.20s ease-in-out, padding 0.20s ease-in-out, height 0.20s ease-in-out;
	-moz-transition: margin-top 0.20s ease-in-out, margin-bottom 0.20s ease-in-out, padding 0.20s ease-in-out, height 0.20s ease-in-out;;
	-ms-transition: margin-top 0.20s ease-in-out, margin-bottom 0.20s ease-in-out, padding 0.20s ease-in-out, height 0.20s ease-in-out;;
	-o-transition: margin-top 0.20s ease-in-out, margin-bottom 0.20s ease-in-out, padding 0.20s ease-in-out, height 0.20s ease-in-out;;
	transition: margin-top 0.20s ease-in-out, margin-bottom 0.20s ease-in-out, padding 0.20s ease-in-out, height 0.20s ease-in-out;;
}
.pi-header .pi-row-reduced .pi-row-lg .pi-btn {
	margin-top: 18px;
	margin-bottom: 14px;
	padding: 8px 11px;
}
.pi-header .pi-row-reduced .pi-row-lg li.nav-btn {
	max-height: 70px;
}

/*	Page Titles
========================================= */
#home-page-title {

	h2#title { font-weight: 400; }
	p#quote {
		font-size: 20px;
		font-weight: 200;
		font-style: italic;
		letter-spacing: .9px;
		color: #fff;
		opacity: .65;
	}
}
#page-title { background-position: top center !important; }


/*	Icon Boxes
========================================= */
[class*="pi-section-"] h1.pi-has-border:after,
[class*="pi-section-"] .h1.pi-has-border:after,
[class*="pi-section-"] h2.pi-has-border:after,
[class*="pi-section-"] .h2.pi-has-border:after,
[class*="pi-section-"] h3.pi-has-border:after,
[class*="pi-section-"] .h3.pi-has-border:after,
[class*="pi-section-"] h4.pi-has-border:after,
[class*="pi-section-"] .h4.pi-has-border:after,
[class*="pi-section-"] h5.pi-has-border:after,
[class*="pi-section-"] .h5.pi-has-border:after,
[class*="pi-section-"] h6.pi-has-border:after,
[class*="pi-section-"] .h6.pi-has-border:after {
	background: $base !important;
}
.pi-icon-box-vertical {
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 15px;
		color: $base;
		text-transform: uppercase;
		font-weight: 600;
	}
}
.pi-icon-box-hover:hover .pi-icon-box-icon {
	color: $text-black-7;
}
.pi-section-dark a {
	color: $base;
}


/*	Modal
========================================= */
.modal-header {
	padding-top: 20px;
	padding-left: 30px;
	border-bottom: 0;
}
#services-modal-title {
	text-transform: uppercase;
	color: $base;
	font-weight: 700;
	letter-spacing: .5px;
}
#services-modal-subtitle {
	text-transform: uppercase;
	color: $text-black-7;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: .5px;
}
.modal-body {
	padding: 30px 50px;
	color: $text-grey !important;
	font-size: 16px;
	letter-spacing: .6px;
	font-weight: 300;

}
.modal-footer {
	position: relative;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 10px 50px;
	text-align: left;

	h5, h4 {
		color: $text-black-7;
		text-transform: capitalize;
	}
	p {
		color: $text-black-7;
		font-size: 16px;
		margin-top: 15px;
	}
	i {
		font-size: 80px;
		color: $base;
		margin-top: 40px;
			
	}
}
.icon-circle {
	position: relative;
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-top: 10px;
	margin-right: 10px;
	line-height: 128px;
	border-radius: 50%;
	background: $base;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.07);

	i {
		color: #fff;
		font-size: 60px;
		position: absolute;
		top: 10%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
			
	}
}


/*	Datepicker
========================================= */
.datepicker-dropdown {
	padding: 15px 20px;
}
.datepicker table tr td,
.datepicker table tr th {
	text-align: center;
	width: 30px;
	height: 30px;
	border-radius: 10px;
	border: none;
}
.datepicker.dropdown-menu th,
.datepicker.datepicker-inline th,
.datepicker.dropdown-menu td,
.datepicker.datepicker-inline td {
	padding: 10px;
}
.datepicker.dropdown-menu {
	background-color: #fff;
	border: 3px solid $base;
	border-radius: 8px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.275);
	color: $text-black-4;
	font-size: 12px;
	line-height: .8;
}
th.datepicker-switch, th.next {
	color: $text-black-4 !important;
	font-size: 14px;
	visibility: visible !important;
}
th.next:before {
	content: '>>';
	color: $text-black-4 !important;
	font-size: 14px;
}
th.prev:before {
	content: '<<';
	color: $text-black-4 !important;
	font-size: 14px;
}
.datepicker table tr td { color: $base; }
.datepicker table tr td.dow { color: $text-black-4; }
.datepicker table tr td.new { color: $pi-silver; }
.datepicker table tr td.old { color: $pi-silver; }


/*	Checkbox Button
========================================= */
#btn-checkbox {
	label { color: transparent !important; }
	.pi-btn {
		font-weight: 400;
		
		&:hover, &:active, &:focus {
			background: $base;
			color: #fff !important;
			border: 1px solid $pi-silver;
			font-weight: 400;
			text-shadow: none;
		}
	}
}


/*	Terms of Use
========================================= */
#terms {
	h4 { color: $pi-dark; border-bottom: 1px dashed $base; }
	p { color: $pi-dark; }
}


/*	Custom
========================================= */
.panel .panel-body {
	position: relative;
	padding: 0px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.pi-section-white .pi-simple-menu.pi-has-hover-border > li.active > a > span:before {
	border-color: $base;
}
.pi-section-white .pi-simple-menu > li.active > a {
	color: $base;
}
.pi-section-parallax a {
	color: $base;
}
.pi-section-base {
	 background-color: $base;
}
.pi-section-white a {
	color: $base;
}
.pi-btn {
	background: #f4f6f6;
	border: 1px solid #e3e9e9;
	color: #586266;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
	border-radius: 4px !important;
}
.pi-btn-big {
	font-size: 16px;
	line-height: 16px;
	padding: 12px 14px;
	border-radius: 4px !important;
}
.pi-text-base {
	color: $base !important;
}
.pi-section-white .pi-pagenav a.pi-active, .pi-section-grey .pi-pagenav a.pi-active {
	background: $base;
	border-color: $base;
	color: #ffffff;
	box-shadow: inset 0 1px 0 $base;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
.pi-caption-icon {
	background: $base;
	color: #fff;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.pi-btn-base {
	background: $base;
	border: 0;
	color: #fff !important;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	text-shadow: none !important;
}
.pi-btn-base.pi-btn-no-border {
	border: 0 !important;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.pi-btn-big.pi-btn-icon-big {
	line-height: 16px;
	font-size: 20px;
}
.pi-section-parallax .form-control:focus {
	background: transparent;
	border-color: rgba(218, 231, 240, 0.45098);
	border-top-color: rgba(218, 231, 240, 0.45098);
	color: rgba(218, 231, 240, 0.45098);
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}
.pi-section-parallax .pi-input-with-icon.pi-form-control-focused .pi-input-icon {
	 color: rgba(218, 231, 240, 0.45098);
	 text-shadow: none !important;
}
.pi-section-parallax .form-control.pi-form-control-changed:focus {
		background: transparent;
		color: rgba(218, 231, 240, 0.45098);
}
.pi-img-shadow, .pi-img-shadow img {
	-webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.07);
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.07);
}
#login-cancel {
	position: relative;
	left: 40%;

}
.pi-section-white .pi-portfolio-cats li a:hover, .pi-section-grey .pi-portfolio-cats li a:hover, .pi-section-white .pi-meta li a:hover, .pi-section-grey .pi-meta li a:hover {
	 color: $base;
}
.pi-meta > li:first-child > a {
	font-size: 13px;
	font-weight: 400;
}
.pi-meta > li:last-child > a {
	font-size: 13px;
	font-weight: 200;
}
.pi-timeline-item-date span:nth-child(1),
.pi-timeline-item-date span:nth-child(4) {
	font-size: 11px;
	color: #C2C6C9;
	padding: 0px 0px;
	text-transform: uppercase;
}
.pi-timeline-item-date.present span:nth-child(4) {
	font-size: 14px;
	padding: 0px 0px;
	color: #21252b;
	text-transform: capitalize;
}
.pi-timeline-item-date span:nth-child(3) {
	font-size: 14px;
	color: #999;
	padding: 0px 5px;
}
.pi-timeline-item-date span:nth-child(2),
.pi-timeline-item-date span:nth-child(5) {
	font-size: 14px;
	padding-left: 3px;
	color: #21252b;
	text-transform: capitalize;
}
// .pi-section {
// 	max-width: 1120px;
// 	margin: 0 auto;
// 	padding: 60px 10px 40px;
// 	position: relative;
// }
.pi-tabs-navigation > li.pi-active a {
	background: $mt-grey !important;
}
#about-img .pi-img-w {
	 margin-bottom: 0px;
	 position: relative;
}
@media (max-width: 767px) {
	.pi-timeline-item .pi-timeline-item-date {
		position: absolute;
		top: -41px;
		left: 50%;
		display: block;
		width: 180px;
		margin-left: -90px;
		float: none;
		text-align: center;
		-webkit-border-radius: 3px 3px 0 0;
		-moz-border-radius: 3px 3px 0 0;
		border-radius: 3px 3px 0 0;
	}
}

@media (max-width: 767px) {
	.pi-timeline-item .pi-timeline-item-date:after {
		width: 0;
		top: -10px;
		left: 0;
		border-top: 0 solid transparent;
		border-left: 90px solid transparent;
		border-bottom: 10px solid #f4f6f6;
		border-right: 90px solid transparent;
	}
}
.pi-meta > li:last-child > a {
	font-size: 13px;
	font-weight: 400;
}
span.comment-count {
	font-family: "Open Sans" !important;
}
#disqus_thread p {
	color: $text-grey !important;
}
.pi-dropcap-circle, .pi-dropcap-square {
	width: 45px;
	height: 45px;
	margin: 5px 10px 10px 0;
	float: left;
	text-align: center;
	font-size: 36px;
	line-height: 45px;
	border-radius: 3px;
}
.pi-google-map-wide {
	width: 100%;
	height: 400px;
	margin-bottom: 0;
}
.pi-alert-success {
	background: $mt-grey;
	border: 3px solid $base;
	color: $base;
	opacity: .9;
	transform: translateY(40%)
}
.pi-alert-note, .pi-alert-warning, .pi-alert-danger, .pi-alert-success, .pi-alert-info {
	position: relative;
	padding: 10px 20px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.03);
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
}

@media (max-width: 320px) {
	#nav-logo {
		max-height: 80px;
		margin-top: 5px;
	}
}
@media (max-width: 280px) {
	#nav-logo {
		max-height: 70px;
		margin-top: 10px;
	}
}
@media (max-width: 235px) {
	#nav-logo {
		max-height: 60px;
		margin-top: 15px;
	}
}
input[type=checkbox] {
	font-size: 18px;
}
select {
	background: #fbfcfc !important;
	border: 1px solid #dde1e1 !important;
	border-top-color: #dde1e1 !important;
	color: #afb8bb !important;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.05) !important;
	padding-left: 31px !important;
}
.checkbox input {
	margin-right: 10px;
}












